.FieldChoiceSetting {
  min-height: 6em;
}

.FieldChoiceSetting .bp3-form-content {
  position: relative;
}

.FieldChoiceSetting .Loading {
  background-color: var(--background-color-side);
}
.FieldChoiceSetting .Loading > div {
  margin-top: 2em;
}

.FieldChoiceSetting .FieldList {
  margin-bottom: 1em;
  max-height: 16em;
  overflow: auto;
}

.FieldChoiceSetting .FieldList small {
  font-size: 100%;
  color: var(--text-color-lighter);
}
