.ClusteringEngineSettings {
  width: 18em;
}

.ClusteringEngineSettings small {
  display: block;
  color: var(--text-color-light);
}

.ClusteringEngineSettings .bp3-tag {
  font-size: 65%;
  padding: 0.25em 0.5em;
  min-height: auto;
  line-height: 120%;
  vertical-align: super;
  margin-left: 0.5em;
  opacity: 0.75;
}

.ClusteringEngineSettings .bp3-tag svg {
  width: 10px;
  height: 10px;
}

.ClusteringEngineSettings button.link {
  margin-top: 1em;
}
