.StartScreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.StartScreen .Logo {
  width: 10em;
}
.StartScreen .CarrotLogo {
  transform: translateX(8%);
}
.StartScreen .Carrot2Text {
  position: relative;
  left: 0.25em;
}
.StartScreen .CarrotSearchText,
.StartScreen .Carrot2Text {
  width: 8em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.StartScreen > .slogan {
  text-align: center;
  margin-top: 2em;
  max-width: 32em;
}

.StartScreen .WorkbenchHint {
  margin-top: 2em;
  color: var(--text-color-lighter);
}
.StartScreen .WorkbenchHint a {
  color: var(--text-color);
}
