/** Startup screen */
.startup, .results > .search {
  background-color: #f8f8f8;
}

.startup > .search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 65px;
  width: 500px;
  height: 300px;
  margin: auto;
  padding-left: 165px;

  background: url(../img/carrot-search-logo-large.png) no-repeat 0 0;
}

.startup > .search > .sources {
  margin-top: 22px;
  margin-bottom: 15px;
}

.startup > .search > form {
  margin-bottom: 10px;
}

.search > form > .query {
  width: 30em;
}

.search > form > .query {
  margin: 0;
}

.examples > a {
  padding: 0 0.4em;
}

.startup > .data,
.startup > .browsing {
  display: none;
}


/** Results screen */
.results > .search {
  height: 80px;
  padding-left: 90px;
  padding-top: 15px;

  background-image: url(../img/carrot-search-logo-small.png);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border-bottom: 1px solid #eee;
}

.results > .search > .sources {
  margin-bottom: 10px;
}

.results > .search > .sources a {
  padding: 6px 10px;
}

.browsing {
  background-color: #fcfcfc;
  padding-left: 15px;
  padding-top: 5px;
}

.browsing > .nav {
  border-color: #eee;
}
.browsing > .nav > li > a {
  border-color: #eee #eee transparent;
  padding: 4px 8px;
}
.grouping {
  margin-left: 1em;
}

.data {
  position: absolute;
  top: 140px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.clusters {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 65%;
}

#visualization {
  position: absolute;
  left: 0px;
  right: 15px;
  top: 0px;
  bottom: 0px;
}

.links {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  width: 35%;
}

.summary {
  position: relative;
  top: -35px;
}

.docs {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.docs > div {
  margin-bottom: 30px;
}

.docs > div > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.docs > div > h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}
.docs > div > a {
  margin-right: 0.5em;
}
.docs > div > span {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 0.2em;
  color: #888;
}

.results .intro,
.results .examples {
  display: none;
}

.footer a {
  color: #777;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.startup > .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

.results > .footer {
  position: absolute;
  top: 22px;
  right: 10px;
}

/** Bootrstrap patches */
.btn-toolbar .btn-group {
  vertical-align: top;
}