/** Application loading */
*,
.faded > #loading,
.faded > #loading * {
  opacity: 1;
}

.faded *, #loading {
  opacity: 0;
}

*, #loading {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  color: #999;
  font-size: 20px;
}

#loading > small {
  margin-top: 8px;
  color: #999;
  display: block;
  font-size: 13px;
}

.loading > #loading {
  display: block;
}

/** Startup screen */
.startup, .faded {
  background-color: #f8f8f8;
}

.startup > #search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 65px;
  width: 500px;
  height: 300px;
  margin: auto;
  padding-left: 165px;
  background: url(../img/carrot-search-logo-large.png) no-repeat 0 0;
}

.startup #sources {
  margin-top: 22px;
  margin-bottom: 15px;
}

.startup > #search > form {
  margin-bottom: 10px;
}

#query {
  width: 30em;
}

#query {
  margin: 0;
}

#views .dropdown-menu > li > a > i,
#results > li > a > i {
  display: none;
}

#views .dropdown-menu > li.active > a,
#results > li.active > a {
  background-color: white;
  color: #333;
}

#views .dropdown-menu > li.active > a > i,
#results > li.active > a > i {
  display: inline-block;
}

#queries > a {
  padding: 0 0.4em;
}

.startup > #data,
.startup > #browsing {
  display: none;
}

/** Results screen */
.results > #search {
  background-color: #f6f6f6;
  height: 80px;
  padding-left: 90px;
  padding-top: 15px;

  background-image: url(../img/carrot-search-logo-small.png);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  border-bottom: 1px solid #eee;
}

.results #sources {
  margin-bottom: 10px;
}

.results #sources a {
  padding: 6px 10px;
}

#browsing {
  background-color: #fcfcfc;
  padding-left: 15px;
  padding-top: 5px;
  position: relative;
}

#browsing > .nav {
  border-color: #eee;
}

#browsing > .nav > li.active > a {
  color: #222;
}

#browsing > .nav > li > a {
  color: #666;
  padding: 4px 6px;
}

#browsing > .nav > li.active > a {
  border-color: #eee #eee transparent;
}

.grouping {
  margin-left: 3em;
}

.grouping > span {
  position: absolute;
  padding: 5px 0;
  margin-left: -1.5em;
  color: #bbb;
}

#data {
  position: absolute;
  top: 140px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

#clusters {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 35%;
}

.narrow-view > #clusters {
  width: 300px;
}

#clusters > div {
  position: absolute;
  left: 0px;
  right: 15px;
  top: 0px;
  bottom: 0px;
}

/** Folders */
#folders {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#folders ul {
  list-style: none;
  margin: 0;
}

#folders li > ul {
  padding-left: 18px;
}

#folders li.folded > ul {
  display: none;
}

#folders li {
  background-position: 3px center;
  background-repeat: repeat-y;
  background-image: url(../img/tree-trunk.gif);
  padding-top: 2px;
}

#folders li > a > .tree {
  background-image: url(../img/tree-leaf.gif);
  background-position: 0 1px;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  position: absolute;
  margin-left: -35px;
}

#folders li:last-child > a > .tree {
  background-image: url(../img/tree-leaf-last.gif);
  background-position: 0 -3px;
}

#folders li.branch > a > .tree,
#folders li.branch:last-child > a > .tree {
  background-image: url(../img/tree-branch.gif);
}

#folders a {
  display: block;
  padding-left: 38px;
  background-image: url(../img/tree-folder.png);
  background-position: 18px 0;
  background-repeat: no-repeat;
}

#folders > a {
  padding-left: 20px;
  background-position: 0 0;
}

#folders a > .size {
  padding-left: 0.3em;
  text-decoration: none;
}

#folders a > .phrase {
  font-weight: bold;
}

#folders a > .phrase {
}

/** Documents */
#documents {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  left: 65%;
}

.narrow-view > #documents {
  left: 300px;
}

#summary {
  position: relative;
  top: -35px;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#listing {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
}

#listing > div {
  margin-bottom: 30px;
}

#listing > div > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

#listing > div > h2 {
  /*font-weight: normal;*/
  font-size: 15px;
  line-height: 1.2;
}

#listing > div > a {
  margin-right: 0.5em;
  word-wrap: break-word;
}

#listing > div > span {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 0.2em;
  color: #888;
}

.results .intro,
.results #examples {
  display: none;
}

.footer a {
  color: #777;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.startup > .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

.results > .footer {
  position: absolute;
  top: 22px;
  right: 10px;
}

.startup #sources > .active > a,
.startup #sources > .active > a:hover {
  background-image: linear-gradient(bottom, #f8f8f8 0%, #fcfcfc 80%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f8f8f8 0%, #fcfcfc 80%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f6f6f6 0%, #fcfcfc 80%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f6f6f6 0%, #fcfcfc 80%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f6f6f6 0%, #fcfcfc 80%, #fff 100%);
  border-bottom-color: #f6f6f6;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

.results #sources > .active > a,
.results #sources > .active > a:hover {
  background-image: linear-gradient(bottom, #f4f4f4 0%, #fcfcfc 80%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f4f4f4 0%, #fcfcfc 80%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f4f4f4 0%, #fcfcfc 80%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f4f4f4 0%, #fcfcfc 80%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f4f4f4 0%, #fcfcfc 80%, #fff 100%);
  border-bottom-color: #f4f4f4;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#views > .active > a {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.025);
}

/** Icons */
.icon-foamtree {
  background-image: url(../img/foamtree-icon.png);
  background-position: 0 0;
}

.icon-circles {
  background-image: url(../img/circles-icon.png);
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

.icon-folders {
  background-image: url(../img/folders-icon.png);
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

/** Bootrstrap patches */
.btn-toolbar .btn-group {
  vertical-align: top;
}

.desktop ::-webkit-scrollbar {
  width: 12px;
}

.desktop ::-webkit-scrollbar-track {
  background: #fcfcfc;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.desktop ::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.desktop ::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}

.desktop ::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
