/**
 * Common CSS for document source tabs.
 */
ul.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}

#tab-lead-in {
  float: left;
  display: block;
  background-repeat: no-repeat;
}

ul.tabs li.tab {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  position: relative;
  background-repeat: repeat-x;
}

ul.tabs li.tab .right {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

ul.tabs li.drag,
ul.tabs li.drag .right {
  background-image: none !important;
  cursor: move;
}

ul.tabs .tab a {
  text-decoration: none;
  color: black;
}

ul.tabs .tab a:hover {
  text-decoration: underline;
}

ul.tabs .tab .label {
  white-space: nowrap;
  background-repeat: no-repeat;
  color: #909090;
}

ul.tabs li.active .label {
  color: #404040;
}
