.WorkbenchApp .AppMain.AppWelcome {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "steps" "welcome";
  min-width: 32rem;
  max-width: 64rem;
  margin: 0 auto;
  padding-top: 8%;
}

.WorkbenchIntroWelcome {
  text-align: center;
  max-width: 36em;
  margin-top: 2em;
  margin-left: 1.5em;
}

.WorkbenchIntroWelcome h2,
.WorkbenchIntroWelcome h3 {
  margin: 0;
}

.WorkbenchIntroWelcome h3 {
  font-weight: normal;
}

.WorkbenchIntroWelcome ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.WorkbenchIntroWelcome ul li {
  margin-right: 2em;
}

.WorkbenchIntroSteps {
  position: relative;
  overflow: auto;
  margin-top: 2rem;
  margin-right: 1rem;
}

.WorkbenchIntroSteps > ol {
  counter-reset: steps;
  list-style: none;
  position: absolute;
  max-width: 36em;
}

.WorkbenchIntroSteps > ol > li {
  counter-increment: steps;
  position: relative;
  padding-left: 3rem;
  padding-top: 0.75rem;
  margin-left: 1.5em;
  margin-bottom: 2rem;
}

.WorkbenchIntroSteps > ol > li:before {
  content: counter(steps);
  display: inline-block;
  position: absolute;
  top: 0.125em;
  left: 0;
  color: var(--logo-color);
  background-color: var(--background-color-secondary);
  font-family: Lato, sans-serif;
  font-size: 1.75rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  text-align: center;
  margin-right: 0.5rem;
}

.WorkbenchIntroSteps > ol > li > h3 {
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 0;
}

.WorkbenchIntroSteps ul {
  padding-left: 1em;
}
