<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Rough Clustering</display-name>
    <description>Implementation of Rough clustering algorithm.</description>
    <servlet>
        <servlet-name>Rough</servlet-name>
        <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
        <init-param>
            <param-name>log4j.properties</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <init-param>
            <param-name>filterRequestProcessor</param-name>
            <param-value>com.chilang.carrot.filter.cluster.RoughClusteringRequestProcessor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Base</servlet-name>
        <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
        <init-param>
            <param-name>log4j.properties</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <init-param>
            <param-name>filterRequestProcessor</param-name>
            <param-value>com.chilang.carrot.filter.cluster.BaseClusteringRequestProcessor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>KMeans</servlet-name>
        <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
        <init-param>
            <param-name>log4j.properties</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <init-param>
            <param-name>filterRequestProcessor</param-name>
            <param-value>com.chilang.carrot.filter.cluster.KMeansClusteringRequestProcessor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>RoughKMeans</servlet-name>
        <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
        <init-param>
            <param-name>log4j.properties</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <init-param>
            <param-name>filterRequestProcessor</param-name>
            <param-value>com.chilang.carrot.filter.cluster.RoughKMeansClusteringRequestProcessor</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>Rough</servlet-name>
        <url-pattern>/service/rough</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Base</servlet-name>
        <url-pattern>/service/base</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>KMeans</servlet-name>
        <url-pattern>/service/kmeans</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RoughKMeans</servlet-name>
        <url-pattern>/service/rough-kmeans</url-pattern>
    </servlet-mapping>

</web-app>
