<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.carrot2.core.algorithm">
      <algorithm
            class="org.carrot2.workbench.editors.temp.TempClusteringAlgorithm"
            icon="icons/web.gif"
            label="Temp ">
      </algorithm>
   </extension>
   <extension
         id="basic"
         name="Basic Editors"
         point="org.carrot2.workbench.core.attributeEditor">
      <typeEditor
            attributeClass="java.lang.Boolean"
            class="org.carrot2.workbench.editors.BooleanEditor">
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Object"
            class="org.carrot2.workbench.editors.ImplementingClassesEditor">
         <constraints
               allAtOnce="false">
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.ImplementingClasses">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Enum"
            class="org.carrot2.workbench.editors.EnumEditor">
      </typeEditor>
   </extension>

</plugin>
