<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="basic"
         name="Basic Editors"
         point="org.carrot2.workbench.core.attributeEditor">
      <typeEditor
            attributeClass="java.lang.Boolean"
            class="org.carrot2.workbench.editors.BooleanEditor">
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Object"
            class="org.carrot2.workbench.editors.ImplementingClassesEditor">
         <constraints
               allAtOnce="false">
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.ImplementingClasses">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Enum"
            class="org.carrot2.workbench.editors.EnumEditor">
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Integer"
            class="org.carrot2.workbench.editors.IntegerRangeEditor">
         <constraints>
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.IntRange">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Double"
            class="org.carrot2.workbench.editors.DoubleRangeEditor">
         <constraints>
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.DoubleRange">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.io.File"
            class="org.carrot2.workbench.editors.DirectoryEditor">
         <constraints>
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.IsDirectory">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.io.File"
            class="org.carrot2.workbench.editors.FileEditor">
         <constraints>
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.IsFile">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="org.carrot2.util.resource.Resource"
            class="org.carrot2.workbench.editors.ResourceEditor">
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.String"
            class="org.carrot2.workbench.editors.StringEditor">
      </typeEditor>
   </extension>

</plugin>
