@import "~typeface-lato";
@import "~typeface-cabin-condensed";

:root {
  --leading: 1rem;
}

body.light, body {
  --background-color: #f4f4f4;
  --background-color-intense: #ccc;
  --background-color-dimmed: hsla(0, 0%, 0%, 0.07);
  --text-color: black;
  --text-color-inverted: white;
  --text-color-light: rgba(0, 0, 0, 0.8);
  --text-color-lighter: rgba(0, 0, 0, 0.5);
  --text-color-faint: rgba(0, 0, 0, 0.15);
  --text-color-secondary: hsla(208, 30%, 50%, 1.0);
  --link-color: hsl(203, 82%, 35%);
  --logo-color: #1d2a4c;
  --cluster-icon-color: #ffa64d;
  --hr: hsla(0, 0%, 0%, 0.15);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --background-color: hsl(207, 23%, 17%);
  --background-color-intense: hsl(207, 28%, 11%);
  --background-color-dimmed: hsl(207, 23%, 22%);
  --text-color: rgba(255, 255, 255, 1.0);
  --text-color-light: rgba(255, 255, 255, 0.75);
  --text-color-lighter: rgba(255, 255, 255, 0.5);
  --text-color-faint: rgba(255, 255, 255, 0.15);
  --text-color-secondary: hsla(208, 30%, 70%, 1.0);
  --text-color-inverted: black;
  --link-color: hsl(203, 85%, 61%);
  --logo-color: var(--text-color);
  --cluster-icon-color: #ffb366;
  --hr: hsla(0, 0%, 100%, 0.15);
}

body {
  font-family: Lato, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-underline-width: 1px;
}

hr {
  border: 1px solid var(--hr);
  border-top: none;
}