lib/org.carrot2.antlib/org.carrot2.antlib.jar
applications/carrot2-webapp/src/org.carrot2.webapp.filter.QueryWordHighlighter.xml
applications/carrot2-webapp/src/org.carrot2.webapp.model.RequestModel.xml
applications/carrot2-webapp/src/org.carrot2.webapp.source.WebDocumentSource.xml
applications/carrot2-webapp/web/WEB-INF/web.xml
applications/carrot2-webapp/web/skins/common/variables.xsl
core/carrot2-util-text/src/org.carrot2.text.linguistic.BaseLanguageModelFactory.xml
core/carrot2-algorithm-lingo/src/org.carrot2.clustering.lingo.ClusterBuilder.xml
core/carrot2-algorithm-lingo/src/org.carrot2.clustering.lingo.LingoClusteringAlgorithm.xml
core/carrot2-algorithm-lingo/src/org.carrot2.clustering.lingo.SimpleLabelAssigner.xml
core/carrot2-algorithm-lingo/src/org.carrot2.clustering.lingo.TermDocumentMatrixReducer.xml
core/carrot2-algorithm-lingo/src/org.carrot2.clustering.lingo.UniqueLabelAssigner.xml
core/carrot2-algorithm-stc/src/org.carrot2.clustering.stc.STCClusteringAlgorithm.xml
core/carrot2-algorithm-stc/src/org.carrot2.clustering.stc.STCClusteringParameters.xml
core/carrot2-algorithm-synthetic/src/org.carrot2.clustering.synthetic.ByFieldClusteringAlgorithm.xml
core/carrot2-algorithm-synthetic/src/org.carrot2.clustering.synthetic.ByUrlClusteringAlgorithm.xml
core/carrot2-core/src/org.carrot2.source.MultipageSearchEngine.xml
core/carrot2-core/src/org.carrot2.source.SearchEngineBase.xml
core/carrot2-core/src/org.carrot2.source.SearchEngineStats.xml
core/carrot2-core/src/org.carrot2.source.SimpleSearchEngine.xml
core/carrot2-source-ambient/src/org.carrot2.source.ambient.AmbientDocumentSource.xml
core/carrot2-source-ambient/src/org.carrot2.source.ambient.FubDocumentSource.xml
core/carrot2-source-ambient/src/org.carrot2.source.ambient.Odp239DocumentSource.xml
core/carrot2-source-boss/src/org.carrot2.source.boss.BossDocumentSource.xml
core/carrot2-source-boss/src/org.carrot2.source.boss.BossImageSearchService.xml
core/carrot2-source-boss/src/org.carrot2.source.boss.BossNewsSearchService.xml
core/carrot2-source-boss/src/org.carrot2.source.boss.BossSearchService.xml
core/carrot2-source-boss/src/org.carrot2.source.boss.BossWebSearchService.xml
core/carrot2-source-etools/src/org.carrot2.source.etools.EToolsDocumentSource.xml
core/carrot2-source-google-desktop/src/org.carrot2.source.google.GoogleDesktopDocumentSource.xml
core/carrot2-source-google/src/org.carrot2.source.google.GoogleDocumentSource.xml
core/carrot2-source-lucene/src/org.carrot2.source.lucene.LuceneDocumentSource.xml
core/carrot2-source-lucene/src/org.carrot2.source.lucene.SimpleFieldMapper.xml
core/carrot2-source-microsoft/src/org.carrot2.source.microsoft.BingDocumentSource.xml
core/carrot2-source-opensearch/src/org.carrot2.source.opensearch.OpenSearchDocumentSource.xml
core/carrot2-source-pubmed/src/org.carrot2.source.pubmed.PubMedDocumentSource.xml
core/carrot2-source-solr/src/org.carrot2.source.solr.SolrDocumentSource.xml
core/carrot2-source-xml/src/org.carrot2.source.xml.RemoteXmlSimpleSearchEngineBase.xml
core/carrot2-source-xml/src/org.carrot2.source.xml.XmlDocumentSource.xml
core/carrot2-source-xml/src/org.carrot2.source.xml.XmlDocumentSourceHelper.xml
core/carrot2-source-yahoo/src/org.carrot2.source.yahoo.YahooDocumentSource.xml
core/carrot2-source-yahoo/src/org.carrot2.source.yahoo.YahooNewsSearchService.xml
core/carrot2-source-yahoo/src/org.carrot2.source.yahoo.YahooSearchService.xml
core/carrot2-source-yahoo/src/org.carrot2.source.yahoo.YahooWebSearchService.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.NamedAttributes.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.BindableReferenceContainer.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.BindableReferenceImpl1.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.BindableReferenceImpl2.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.CircularReferenceContainer.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.NonprimitiveAttribute.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.SingleClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.SubClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.binder.SuperClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.filtering.FilteringReferenceClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.filtering.FilteringSubClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.filtering.FilteringSuperClass.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.AttributeDescriptions.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.AttributeGroups.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.AttributeLabels.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.AttributeLevels.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.AttributeTitles.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.NoJavadoc.xml
core/carrot2-util-attribute/src-test/org.carrot2.util.attribute.test.metadata.TestBindable.xml
core/carrot2-util-text/src/org.carrot2.text.clustering.MultilingualClustering.xml
core/carrot2-util-text/src/org.carrot2.text.linguistic.DefaultLanguageModelFactory.xml
core/carrot2-util-text/src/org.carrot2.text.linguistic.ExtendedLanguageModelFactory.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.CaseNormalizer.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.DocumentAssigner.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.LabelFilterProcessor.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.LabelFormatter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.LanguageModelStemmer.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.PhraseExtractor.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.StopListMarker.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.Tokenizer.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.CompleteLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.GenitiveLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.MinLengthLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.NumericLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.QueryLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.StopLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.filter.StopWordLabelFilter.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.pipeline.BasicPreprocessingPipeline.xml
core/carrot2-util-text/src/org.carrot2.text.preprocessing.pipeline.CompletePreprocessingPipeline.xml
core/carrot2-util-text/src/org.carrot2.text.vsm.TermDocumentMatrixBuilder.xml
lib/org.carrot2.antlib/tmp
local.properties
workbench.properties
tmp
workbench/org.carrot2.workbench.core/src/org.carrot2.workbench.core.ui.BenchmarkSettings.xml
