# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# npm projects have a custom output folder for gradle.
build-gradle/

# Intellij
.idea/
*.iml
/dcs/contexts/frontend/.eslintcache

versions.updates.toml