.idea/
.DS_Store
.settings/
hotspot.log
applications/carrot2-webapp/src/jawr.properties
applications/carrot2-webapp/web/WEB-INF/webapp-config.xml
applications/carrot2-webapp/web/skins/fancy-compact/sprite/
applications/carrot2-webapp/web/skins/fancy-large/sprite/
applications/carrot2-webapp/web/skins/simple/sprite/
applications/carrot2-webapp/webtest/dtd/
applications/carrot2-webapp/web/WEB-INF/web.xml
applications/carrot2-webapp/web/skins/common/variables.xsl
applications/carrot2-webapp/webtest/dtd/
local.properties
tmp
.apt_generated
.clover
junit*.properties
*.patch
/*.log
/.tools
/applications/carrot2-dcs/logs
/applications/carrot2-dcs/examples/curl/*.xml
target/