[submodule "dcs/contexts/frontend/theme"]
	path = dcs/contexts/frontend/theme
	url = https://github.com/carrotsearch/theme.git
[submodule "dcs/contexts/frontend/ui"]
	path = dcs/contexts/frontend/ui
	url = https://github.com/carrotsearch/ui.git
