#
# An example properties file for Carrot2 3.0
# Copy this file to local.properties and modify to suit your environment
#

# Path to Clover for Ant binaries, required to generate coverage reports
#clover.home=D:/dev/java/clover/ant

# Path to PMD, required to generate code duplication reports
#pmd.home=D:/dev/java/pmd

# Path to FindBugs, required for static code analysis
#findbugs.home=D:/dev/java/findbugs

# Path to SmartSprites, required to build the CSS sprites-powered web application
#smartsprites.home=E:/repositories/carrot2-labs/smartsprites

# Set this property to true to disable tests depending on the correct
# functioning of external APIs, e.g. search engine APIs.
#external.api.tests.disabled=true

# To run tests requiring Carrot2 XML feed URLs, set the base URL here
#carrot2.xml.feed.url.base=

# To build DocBook documentation, please specify locations of DocBook XSL
# (the xsl-ns variant), DocBook DTD 5.0 and home directory of Xalan v2.7.1
# or later. You will also need to set ANT_OPTS to:
#
# -Dorg.apache.xerces.xni.parser.XMLParserConfiguration=org.apache.xerces.parsers.XIncludeParserConfiguration
#
# Otherwise, XIncludes will not be resolved properly.
#docbook.xsl.dir=
#docbook.dtd.dir=
#xalan.home=

# JavaDoc url base for links in the DocBook documentation
#javadoc.url.base=

# To run webtests of the webapp, define paths to:
#   * Canoo Webtest home directory
#   * Cargo libraries directory that should contain: cargo-core-uberjar and cargo-ant
#   * Tomcat home directory
#cargo.home=
#webtest.home=
#tomcat.home=

