#
# An example properties file for Carrot2 3.0
# Copy this file to local.properties and modify to suit your environment
#

# Path to Clover for Ant binaries, required to generate coverage reports
#clover.home=D:/dev/java/clover/ant

# Path to PMD, required to generate code duplication reports
#pmd.home=D:/dev/java/pmd

# Set this property to true to disable tests depending on the correct
# functioning of external APIs, e.g. search engine APIs.
#external.api.tests.disabled=true

# To run tests requiring Carrot2 XML feed URLs, set the base URL here
#carrot2.xml.feed.url.base=
