
#
# An example properties file for Carrot2 3.0
# Copy this file to local.properties and modify to suit your environment.
#


#######################################################################################
# QA and other tools.
#
# None of these tools are required for code compilation. Most of them provide QA
# reports or are needed for tests.

# Base path to the compilation/ QA tools.
tools.dir=${carrot2.master.basedir}/.tools

# Clover for Ant. Generate test coverage reports (license required).
clover.home=${tools.dir}/clover-ant-4.0.3
clover.enabled=false

# PMD. Required to generate code duplication reports.
pmd.home=${tools.dir}/pmd-4.2.5

# FindBugs. Required for static code analysis.
findbugs.home=${tools.dir}/findbugs-3.0.1

# DocBook documentation resources. Specify the location of DocBook XSL
# (the xsl-ns variant) and DocBook DTD 5.0.
docbook.xsl.dir=${tools.dir}/docbook/stylesheet/docbook-xsl-ns
docbook.dtd.dir=${tools.dir}/docbook/schema/dtd/5.0

#######################################################################################
# Workbench (Eclipse RCP)

# Workbench PDE Build and tests. Note the unusual layout of folders below -- 
# they have the distribution version name and an /eclipse *subfolder*.
target.platform=${tools.dir}/rcp/4.6.0
eclipse.home=${target.platform}/eclipse

#######################################################################################
# Properties controlling test execution.

# Enables tests that require external APIs. Some of these may not be enabled from public IPs.
tests.externalservices=false

# Enables longer tests and intensifies randomized tests (more iterations, more data).
tests.nightly=false

# To run tests requiring Carrot2 XML feed URLs, set the base URL here.
# Leave undefined to skip these tests.
# carrot2.xml.feed.url.base=


#######################################################################################
# Miscellaneous

# Distribution url for links in the DocBook documentation.
# dist.url=

# JavaDoc url for links in the DocBook documentation.
# javadoc.url=


#######################################################################################
# solr checkouts for backcompat testing

solr.checkout.1.4.x=${tools.dir}/solr/branch-1.4
solr.checkout.3.1.x=${tools.dir}/solr/branch-3.x/solr
