.App {
  display: grid;
  height: 100vh;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav main";
}
nav {
  position: relative;
  background-color: var(--background-color-nav);
  text-align: center;
  width: 5em;
}
nav .Logo {
  width: 2.5em;
  margin: 1.5em 0;
}
nav a {
  display: block;
  padding: calc(0.75 * var(--leading));
  color: var(--text-color-nav) !important;
}
nav a.active {
  background-color: rgba(0, 0, 0, 0.5);
}
nav .ThemeSwitch {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

.NavPopover {
  max-width: 22em;
}
.NavPopoverContent {
  padding: var(--leading);
  padding-bottom: calc(0.5 * var(--leading));
}

main {
  position: relative;
}

.bp3-dialog-header > svg {
  margin-right: 0.5em;
}

.ErrorDialog {
  width: auto;
}
.ErrorDialog pre {
  overflow-y: auto;
  max-height: 40vh;
  max-width: 60vw;
}
.ErrorDialog .CopyToClipboard {
  width: 14.5em;
}