#macro( document $document )
    <div class="snippet">
        <span class="id"> [$document.stringId]</span>

        #set ($title = ${document.getField("title")})
        #set ($hasTitle = ($title && $title != ""))
        #if ($hasTitle)
            #set ($title = $stringutils.abbreviate($title, $maxFieldLength))
        #end

        #set ($snippet = ${document.getField("snippet")})
        #set ($hasSnippet = ($snippet && $snippet != ""))
        #if ($hasSnippet)
            #set ($snippet = $stringutils.abbreviate($snippet, $maxFieldLength))
        #end

        #set ($url = ${document.getField("url")})
        #set ($hasURL = ($url && $url != ""))

        #set ($thumbnail = ${document.getField("thumbnail-url")})
        #set ($hasThumbnail = ($thumbnail && $thumbnail != ""))

        #if ($hasURL)   <a href="$esc.html($url)"> #end
            #if ($hasTitle) <b>$esc.html($title)</b> #end
        #if ($hasURL)   </a> #end

        #if ($hasThumbnail) <img class="t" src="$esc.html($thumbnail)"> #end
        #if ($hasSnippet)
            #if ($hasTitle) <br> #end
            $esc.html($snippet)
        #end

        #if ($hasURL)
            #if ($hasSnippet || $hasTitle) <br> #end 
            <span class="du">$esc.html($url)</span>
        #end
    </div>
#end
