	<div class="snippet">
	    <span class="id"> [$document.Id]</span>
	    <a href="$esc.html(${document.getField("url")})">
	    	<b>$esc.html($document.getField("title"))</b></a>
	    <br>
	    #if ($document.getField("thumbnail-url") && $document.getField("thumbnail-url") != "")
	        <img class="t" src="$esc.html($document.getField("thumbnail-url"))">
	    #end
	    #if ($document.getField("snippet") && $document.getField("snippet") != "")
	        $stringutils.abbreviate($esc.html($document.getField("snippet")), 280)<br>
	    #end
	    <span class="du">$esc.html(${document.getField("url")})</span><br><br>
	</div>