
#parse("_header2.vm")

#*
	Template displayed in AttributeInfoView#show() 
	
	Available variables:

	  descriptor  (AttributeDescriptor)
	  fields      (public fields of the above)
*#

#if ($descriptor)
	<dl>
		#if ($fields.metadata)
		<dt>Attribute:</dt>
		<dd>$fields.metadata.LabelOrTitle</dd>
		
			#if ($fields.metadata.description || $fields.metadata.title)
			<dt>Description:</dt>
			<dd>
			  #if ($fields.metadata.title)
			    ${fields.metadata.title}.
			  #end
			  #if ($fields.metadata.description)
			    ${fields.metadata.description}
			  #end
			</dd>
			#end
		#end

		<dt>Key:</dt>
		<dd>$fields.key</dd>
		
		<dt>Type:</dt>
		<dd>$fields.type.SimpleName</dd>

		#if ($fields.defaultValue)
		<dt>Default value:</dt>
		<dd>
			$fields.defaultValue
		</dd>
		#end

		#if (!$fields.constraints.isEmpty())
		<dt>Constraints:</dt>
		<dd>$fields.constraints</dd>
		#end

		<dt>Required availability:</dt>
		<dd>
			#if ($fields.requiredAttribute)
			required
			#else
			optional
			#end
		</dd>

		<dt>Binding direction:</dt>
		<dd>
			#if ($fields.inputAttribute)
			INPUT 
			#end
			#if ($fields.outputAttribute)
			OUTPUT
			#end
		</dd>
		
		<dt>Binding time:</dt>
		<dd>
			#if ($fields.initAttribute)
			INIT 
			#end
			#if ($fields.processingAttribute)
			PROCESSING
			#end
		</dd>
	</dl>
#else
	<p>Hover over attribute label to display attribute info.</p>
#end

#parse("_footer.vm")
