
#parse("_header.vm")
#parse("_document.vm")

#*
	Template displayed on show(Cluster...). 
	
	Available variables:

	  clusters
	  comparator
	  maxDisplay
*#

#foreach ($cluster in $clusters)
	#if( ${clusters.size()} > 1 )
		<div class="cl">
			$cluster.getLabel()
		</div>
	#end

    #set ( $documents = $cluster.getAllDocuments($comparator) )
    #set ( $remaining = $documents.size() - $maxDisplay )
    
    #if ( $remaining > 0 )
        #set ( $documents = $documents.subList(0, $maxDisplay) )
    #end

	#foreach ($document in $documents)
		#document( $document )
	#end

    #if( $remaining > 0 )
        <p class="more">...and $remaining more.</p>
    #end
#end

#parse("_footer.vm")
