
#parse("_header.vm")

#*
	Template displayed on show(Cluster...). 
	
	Available variables:

	  clusters
	  comparator
*#

#foreach ($cluster in $clusters)
	#if( ${clusters.size()} > 1 )
		<div class="cl">
			$cluster.getLabel()
		</div>
	#end


	#foreach ($document in $cluster.getAllDocuments($comparator))
	    <span class="id"> [$document.Id]</span>
	    <a href="$esc.html(${document.getField("url")})">
	    	<b>$esc.html($document.getField("title"))</b></a>
	    <br>
	    #if ($document.getField("summary") && $document.getField("summary") != "")
	        $esc.html($document.getField("summary"))<br>
	    #end
	    <span class="du">$esc.html(${document.getField("url")})</span><br><br>
	#end
#end

#parse("_footer.vm")
