<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <style type="text/css">
        #include ("style.css")
        </style>
    </head>
    <body>

#if ($result)
    #set ( $totalProcessingSec = ${result.Attributes.processing-time-total} / 1000.0 )
    #set( $documents = $result.Documents )
#end

#if ($documents.isEmpty() && $queryEscaped)
    Your query - <b>&quot;${queryEscaped}&quot;</b> - did not return any documents.<br><br> 
    
    Suggestions:<ul>
    <li>Make sure all words are spelled correctly.
    <li>Try different keywords.
    <li>Try more general keywords.
    </ul>
#end

#foreach ($document in $documents)
    <span class="id"> [$document.Id]</span> <a href="${document.getField("url")}"><b>$document.getField("title")</b></a>
    <br>
    #if ($document.getField("summary") && $document.getField("summary") != "")
        $document.getField("summary")<br>
    #end
    <span class="du">${document.getField("url")}</span><br><br>
#end
</body></html>
