<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<style type="text/css">
		body, table {
			font-size: 10pt;
			font-family: Arial, Helvetica, sans-serif;
		}
		
		div.cl, div.status {
			color: white;
			font-weight: bold;
			background-color: #5588BE;
			border-bottom: 1px solid #303030;
			padding-bottom: 4px;
			padding-top: 4px;
			margin-bottom: 6pt;
		}
		
		div.status {
			text-align: right;
		}
		
		span.du {
			color: green;
		}
		</style>
	</head>
	<body>

#if ($result)
	#set ( $totalProcessingSec = ${result.Attributes.processing-time-total} / 1000.0 )
	<div class="status">
 		${result.Documents.size()} 
 		#if ($results-total-formatted)
 			out of ${results-total-formatted}
 		#end
 		documents
 		| ${result.Clusters.size()} clusters 
 		| ${totalProcessingSec} sec.
	</div>
	#set( $documents = $result.Documents )
#end

#if ($cluster)
	<div class="cl">$cluster.Label</div>
	#set( $documents = $cluster.AllDocuments )
#end

#if ($documents.isEmpty())
	Your query - <b>&quot;${queryEscaped}&quot;</b> - did not return any documents.<br><br> 
	
	Suggestions:<ul>
	<li>Make sure all words are spelled correctly.
	<li>Try different keywords.
	<li>Try more general keywords.
	</ul>
#end

#foreach ($document in $documents)
	<a href="${document.getField("url")}"><b>$document.getField("title")</b></a>
		<span style="color: gray;"> [$document.Id]</span><br>
    #if($document.getField("summary") != "")
	$document.getField("summary")<br>
	#end
	<span class="du">${document.getField("url")}</span><br><br>
#end
</body></html>