body, table {
	font-size: 9pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
    overflow-y: auto;
    overflow-x: auto;			
}

div.cl, div.status {
	color: white;
	font-weight: bold;
	background-color: #5588BE;
	border-bottom: .5pt solid #303030;
	padding-bottom: 2pt;
	padding-top: 2pt;
	padding-left: 1pt;
	margin-bottom: 3pt;
}

div.status {
	text-align: right;
}

div.snippet {
	clear: both;
	margin: 0;
	padding: 0;
    padding-bottom: 6pt;
}
		
span.du {
	color: green;
	overflow: hidden;
}
		
span.id {
	color: #a0a0a0;
}
		
a {
    color: #1678C4;
}
a:visited {
    color: #51108d;
}

img.t {
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	margin-bottom: 4px;
}

p.more {
    color: gray;
}
