body {
	background-color: #ffffdc;
	padding: 5px;
}

dd {
}

dt {
	padding-top: .5em;
	font-weight: bold;
}

p {
	margin: 10 0 10 0;
}

h3 {
	font-size: 150%;
	margin: 20 0 10 0;
}

li {
	margin-bottom: 10px;
}
