.Logo {
  opacity: 0.85;
  position: relative;
}

svg.Logo {
  fill: var(--logo-color);
}

svg.Logo .inverted.color {
  fill: var(--logo-color-inverted);
}

svg.Logo .text {
  position: relative;
  font-size: 0.75rem;
  color: var(--nav-text-color);
}
svg.Logo .opaque.text {
  background-color: var(--background-color);
}
