
/**********************************/
/* PAGE	BODY                      */
/**********************************/

BODY.page {
	background:	    white;
	color: 		    #363636;

	margin-right: 	0px;
	margin-bottom: 	0px;
	margin-top:		0px;
	margin-left: 	0px;
	padding-left: 	00px;
	padding-right: 	20px;
	padding-top: 	20px;
	padding-bottom:	30px;
	
	font-family: 	Verdana, Helvetica, Arial,	Sans-serif;
	font-size: 		11px;
}
   
TABLE {
	font-family: 	Verdana, Helvetica, Arial,	Sans-serif;
	font-size: 		11px;
}

TABLE.pane-container-full-width {
	width: 100%;
}

TABLE.pane-container-full {
	width: 100%;
	height: 100%;
}

TD.sidepane {
	width: 120px;
	padding-right: 15px;
}

SPAN.screenonly {
}

SPAN.printonly {
	display: none;
}

/**********************************/
/* LINKS                          */
/**********************************/

A {
	color:	   		 #646AB4;
	font-weight: 	 normal;
}

A:visited {
	color:			 #B44444;
}

A:hover {
	text-decoration: none;
	color:			 black;
}

A.dept {
	text-decoration: none;
	color:	         #c0c0c0;
}

A.dept:visited {
	text-decoration: none;
	color:	         #c0c0c0;
}
	
A.dept:hover {
	text-decoration:  none;
	color:		      white;
	background-color: black;
}

A.menu {
	text-decoration: none;
}

A.menu:hover {
	text-decoration: underline;
}

A.none:hover, A.none:hover, A.none:visited {
	text-decoration: none;
}

/**********************************/
/* MISCELLANEOUS CLASSES          */
/**********************************/
HR {
	color: black;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.framed {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

/**********************************/
/* LISTS                          */
/**********************************/

OL {
	text-align: justify;
}

LI {
	margin-top: 5px;
}
   

/**********************************/
/* PICTURES AND FIGURES           */
/**********************************/

IMG.inlined {
	float: 			left;
	border-color:	black;
	border-width:	1px;
	border-style:	solid;
	margin-right:	1.5em;
	margin-bottom: 	1em;
}

TABLE.figure {
	border:     0px;
	padding:    0px;
	margin:     5px;
}

TABLE.figure TD.pic {
	border-color:	black;
	border-width:	1px;
	border-style:	solid;
	padding: 		0.5em;
	background-color: #FFFFFF;
}

TABLE.figure TD.desc {
	border-color:	black;
	border-width:	1px;
	border-style:	solid;
	background-color: #FFFFCC;
	padding:        1px;
}

TABLE.download {
	border-collapse: collapse;
	border-style:	solid;
	border-color:   black;
	border-width:   1px;
	padding:        0px;
	margin:         0.5em;
}

TABLE.download TD.pic {
	padding: 		3px;
}

TABLE.download TD.link {
	background-color: #FFFFCC;
	padding:        1px;
	border-width:   1px;
	border-style:	solid;
	border-color:   black;
}

TABLE.download TD.desc {
	padding:        1px;
	border-width:   0px;
	border-style:	none;
}

/****************/
/* gallery pictures */
/****************/

div.thumb {
    margin-bottom: 40px;
}

div.thumbtitle {
	    font-family: Times, Serif;
        font-style: oblique; 
	    font-size: 12px;
		text-align: center;
		margin: 5px 0px 1px 0px; /* up right bottom left*/
        padding: 0px;
}

div.thumblocation {
	    font-family: Garamond, Times, Serif;
	    font-size: 12px;
		text-transform : uppercase;
		text-align: center;
		margin: 1px 0px 0px 0px; /* up right bottom left*/
        padding: 0px;
}

td.description_cell_head {
        font-size: 9px;
        font-weight: bold;
        text-align: right;
}

td.description_cell_body {
        font-size: 9px;
}

/****************/
/* UNSORTED */
/****************/

   DIV.menu_level_1 {
	    font-family: Arial, Sans-serif;
	    font-size: 12px;
        margin: 10px 0px 5px 15px; /* up right bottom left*/
		padding: 0px;
		text-align: left;
        color:	   		 #646AB4;
   }

   DIV.menu_level_2 {
        color:	   		 #646AB4;
        font-family: Arial, Sans-serif;
	    font-size: 10px;
        margin: 5px 0px 0px 25px; /* up right bottom left*/
		padding: 0px;
		text-align: left;
   }

   DIV.frame {
		padding: 10px;
		border-style: solid;
		border-width: 1px;
		border-color: red;
   }
   
   DIV.engineInfo {
   		text-align: center;
   		margin-top: 50px;
   		margin-bottom: 10px;
   		color:      #aDaDaD;
   		font-size: 9px;
   }
   
   DIV.dept_desc {
   		margin-left: 30px;
   		margin-top:  2px;
   		margin-bottom: 10px;
   		font-size: 9px;
   		text-align: justify;
   		font-style: oblique;
   		vertical-align: top;
   }

/****/
/* Chapters */
/****/

   DIV.chapter_nested_0 {
   		padding-left: 2em;
   }

   DIV.chapter_nested_0_title {
		font-size:  1.2em;
		font-weight: bold;
   		margin-top: 1.5em;
		margin-bottom: 1em;
		clear: both;
   } 

/****/
/* Paragraph markers */
/****/

	P {
		margin-top:	 0.7em;
		margin-left: 0px;
		margin-bottom: 0px;
		text-align:	justify;
	}

	P.leftalign	{
		text-align:	left;
	}

	P.rightalign {
		text-align:	right;
	}
	
	P.centered {
		text-align:	center;
	}
	
	DIV.section	{
		margin-top:	15px;
				margin-bottom: 15px;
				text-align:	center;
				background:	url('../gfx/graydot.gif');
				background-position: 0px 6px;
				background-repeat: repeat-x;
	}
	
	DIV.section	SPAN {
				font-family: Minion	Web, Times,	Serif;
				font-size: 11px;
		background-color: #ebebeb;
		padding-left: 5px;
		padding-right: 1px;
		letter-spacing:	0.5em;
	}
	
	DIV.pagetitle {
		text-align:	right;
		margin-top:	0px;
		margin-bottom: 10px;
		padding-right: 0px;
		padding-left: 0px;
		font-family: Times;
		font-style:	oblique;
		font-size: 26px;
		color: #8D8D8D;
	}

	DIV.important {
		padding: 10px;
		border-style: solid;
		border-width: 1px;
		border-color: red;
		text-align:	center;
	}
	
	DIV.download {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom:	5px;
		text-align:	left;
	}
	
	DIV.download A {
		font-weight: normal;
	}
	
	DIV.download SPAN {
		font-size: 9px;
	}
		
	DIV	{
		font-family: Verdana, Helvetica, Arial;
		margin-top:	10px;
		margin-bottom:	5px;
		}
	
	DIV.heading1 {
		font-size: 20px;
	}




