.Setting {
  margin-bottom: 3em;
}
.SectionDivider + div > section:first-of-type {
  margin-top: 2.5em;
}
.SectionDivider + div > section:last-of-type {
  margin-bottom: 4em;
}
.SectionDivider + div > p:first-of-type {
  color: var(--text-color-light);
}
.Setting label.bp3-label {
  margin-bottom: 0.5em;
  font-weight: bold;
}
.Setting .LabelWithHelp {
  display: inline;
}
.Setting .HelpIcon {
  color: var(--link-icon-color);
  margin-left: 0.25em;
  margin-bottom: 0.0625em;
  height: 0.85em;
  display: inline;
  cursor: pointer;
  opacity: 0.7;
}
.dark .Setting .HelpIcon {
  opacity: 0.5;
}
.Setting .HelpIcon:focus,
.Setting .HelpIcon:hover {
  opacity: 1;
}
.Setting label.bp3-label .bp3-popover-wrapper,
.Setting label.bp3-label .bp3-popover-target {
  display: inline;
}

.SettingDescription {
  max-width: 26rem;
  max-height: 20rem;
  overflow-y: auto;
}
.SettingDescription > p:last-of-type {
  margin-bottom: 0;
}
.SettingDescription pre,
.SettingDescription code {
  overflow-wrap: anywhere;
}

.SettingDescription ul {
  padding-left: 1em;
}
.SettingDescription li {
  margin-bottom: 0.5em;
}
.SettingDescription dt {
  margin-bottom: 0.5em;
}
.SettingDescription dd {
  margin-bottom: 1em;
}
.SettingMessage {
  margin: 0.5em 0;
}
