# Source war archive (full path)
# Example: carrot2-stable.war
SOURCE_WAR=

# Where to copy the war file for automatic deployment
# Example: /tomcat/webapps/carrot2.war
DEPLOY_WAR=

# Test URI to check for the application to become available.
# Example: http://localhost:8080/carrot2/
TEST_URI=

