<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Diagnostic filters</display-name>
  <description>Filters helping in diagnosing problems with other filters.</description>
  <servlet>
    <servlet-name>Carrot2 Stream Interceptor</servlet-name>
    <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
    <init-param>
      <param-name>log4j.properties</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <init-param>
      <param-name>filterRequestProcessor</param-name>
      <param-value>com.dawidweiss.carrot.filter.diagnostic.Carrot2ChunkInterceptor</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Stream Interceptor</servlet-name>
    <servlet-class>com.dawidweiss.carrot.filter.diagnostic.StreamInterceptorServlet</servlet-class>
    <init-param>
      <param-name>log4j.properties</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carrot2 Stream Interceptor</servlet-name>
    <url-pattern>/service/Carrot2StreamInterceptor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Stream Interceptor</servlet-name>
    <url-pattern>/service/StreamInterceptor</url-pattern>
  </servlet-mapping>
</web-app>
