<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.vis.circles.CirclesView"
            icon="icons/view_circles.gif"
            id="org.carrot2.workbench.views.circles"
            name="Circles Visualization">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.vis.foamtree.FoamTreeView"
            icon="icons/view_foamtree.gif"
            id="org.carrot2.workbench.views.foamtree"
            name="FoamTree Visualization">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.search">
         <viewShortcut id="org.carrot2.workbench.views.circles" />
         <viewShortcut id="org.carrot2.workbench.views.foamtree" />

         <view
               id="org.carrot2.workbench.views.circles"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>

         <view
               id="org.carrot2.workbench.views.foamtree"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.tuning">
         <viewShortcut id="org.carrot2.workbench.views.circles" />
         <viewShortcut id="org.carrot2.workbench.views.foamtree" />

         <view
               id="org.carrot2.workbench.views.circles"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>

         <view
               id="org.carrot2.workbench.views.foamtree"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.visualization">
         <viewShortcut id="org.carrot2.workbench.views.circles" />
         <viewShortcut id="org.carrot2.workbench.views.foamtree" />

         <view
               id="org.carrot2.workbench.views.circles"
               ratio="0.5"
               relationship="bottom"
               visible="true"
               relative="org.carrot2.workbench.core.views.documents">
         </view>

         <view
               id="org.carrot2.workbench.views.foamtree"
               relationship="right"
               ratio="0.5"
               visible="true"
               relative="org.carrot2.workbench.views.circles">
         </view>
      </perspectiveExtension>      

   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.carrot2.workbench.vis.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
