<div>
  <h3>Query statistics</h3>

  <p>
    Total queries: <strong id="totalQueries" /><br />
    Successful queries: <strong id="goodQueries" /><br />
    Error queries: <strong id="errorQueries" />
  </p>
  
  <p>
    Cache hits: <strong id="cacheHitsTotal" /><br />
    Cache misses: <strong id="cacheMisses" />
  </p>
  
  <p>
    Document source time average: <strong id="sourceTimeAverageInWindow" /> ms<br />
    Clustering time average: <strong id="algorithmTimeAverageInWindow" /> ms<br />
    Total time average: <strong id="totalTimeAverageInWindow" /> ms
  </p>

  <h3>Top rate limit violations</h3>

  <ul id="violations"></ul>

  <script>
    $.getJSON("admin/status/json", function (data) {
      data.errorQueries = data.totalQueries - data.goodQueries;
      
      for (var key in data) {
        $("#" + key).text(key.indexOf("Average") > 0 ? data[key].toFixed(2) : data[key]);
      }
    });

    $.getJSON("admin/violations/json", function (data) {
      var template = _.template("<li><%- ip %>: <%- count %></li>");
      var content = "";

      _.each(data, function(val, key) {
        content += template({ ip: key, count: val });
      });
      $("#violations").html(content);
    });
  </script>
</div>
