/**
 * General styling
 */

body {
  margin:           20px;
  background-color: #e0e0e0;
  font-family:      Tahoma, sans-serif;
  font-size:        11px;
  color:            #404040;
}

a {
  text-decoration:  none;
  color:            #0060c0;
}

a:visited {
	text-decoration:  none;
  color:            #0060c0;
}

a:hover {
  text-decoration:  underline;
}

table {
  font-family:      Tahoma, sans-serif;
  font-size:        11px;
  color:            #404040;
  border-collapse:  collapse;
  width:            100%;
}

span.inactive {
  color:            #707070;
}

th {
  text-align:       left;
}

img {
  border:           0px;
}

/**
 * General info
 */

td.info-container {
  width:            35%;
  vertical-align:   top;
  padding-right:    10px;
}

td.key {
  width:            45%;
  font-weight:      bold;
  text-align:       right;
  padding-right:    5px;
  vertical-align:   top;
}

td.value {
  width:            55%;
  vertical-align:   top;
}

/**
 * Clusters and documents
 */

td.clusters-container {
  border:           0px;
  border-left:      1px;
  border-color:     #808080;
  border-style:     solid;
  width:            65%;
  vertical-align:   top;
  padding-left:     10px;
}

div.all-clusters {
}

span.cluster-label-text {
  font-weight:      bold;
  padding-left:     5px;
}

span.cluster-label-size {
  font-weight:      bold;
}

div.raw-document {
  margin-bottom:    3px;
}

span.document-title {
  font-weight:      bold;
}

span.document-snippet {
}

span.document-extra {
  color:            #a0a0a0;
}

div.indent {
  margin-left:      4px;
  border:           0px;
  border-left:      1px;
  border-style:     solid;
  border-color:     #a0a0a0;
  padding-left:     10px;
  margin-bottom:    10px;
  padding-top:      3px;
}

/**
 * Main report
 */
span.process-name {
  font-weight:      bold;
  padding-left:     5px;
}

div.result {
  margin-left:      4px;
  border:           0px;
  border-left:      1px;
  border-style:     solid;
  border-color:     #a0a0a0;
  padding-left:     10px;
  margin-bottom:    10px;
  padding-top:      3px;
}

table.reault {
  width:            auto;
}
