<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <!-- WEBAPP INFO SECTION -->

  <display-name>LSI Clusterer</display-name>
  <description>LSI-based clustering algorithm.</description>

  <!-- SERVLETS -->

  <servlet>
    <servlet-name>Default LSI Clusterer</servlet-name>
    <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
    <init-param>
        <param-name>filterRequestProcessor</param-name>
        <param-value>com.stachoodev.carrot.filter.cluster.DefaultLsiClustererRequestProcessor</param-value>
    </init-param><load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Multilingual LSI Clusterer</servlet-name>
    <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
    <init-param>
        <param-name>filterRequestProcessor</param-name>
        <param-value>com.stachoodev.carrot.filter.cluster.MultilingualLsiClustererRequestProcessor</param-value>
    </init-param><load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Carrot2 Init Servlet</servlet-name>
    <servlet-class>com.dawidweiss.carrot.controller.carrot2.Carrot2InitServlet</servlet-class>
    <init-param>
      <param-name>log4j.properties</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
  </servlet>

  <!-- SERVLET MAPPINGS -->

  <servlet-mapping>
    <servlet-name>Default LSI Clusterer</servlet-name>
    <url-pattern>/service/DefaultLsiClusterer</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Multilingual LSI Clusterer</servlet-name>
    <url-pattern>/service/MultilingualLsiClusterer</url-pattern>
  </servlet-mapping>

</web-app>
