body {
  background-color: #f8f8f8;
  background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #d8d8d8, #f0f0f0 60%, #f8f8f8);
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #d8d8d8, #f0f0f0 60%, #f8f8f8);
  background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #d8d8d8, #f0f0f0 60%, #f8f8f8);
}

#main {
  position: relative;
  margin: 30px auto;
  width: 870px;
  padding-left: 70px;
}

#logo {
  position: absolute;
  left: 0;
  top: 0;
}

#content {
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 20px 20px 10px 20px;
  z-index: 2;
  position: relative;
}

.nav.no-margin {
  margin-bottom: 0;
}
.nav.no-margin a {
  margin-right: 0;
}

.nav > .active > a {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

.form-actions {
  background-color: transparent;
}

#input-file-proxy-browse:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
  position: relative;
}

dd {
  margin-left: 40px;
  margin-bottom: 20px;
}

dt {
  margin-bottom: 5px;
}

a {
  outline: none !important;
}

li.active [class^="icon-"] {
  background-image: url(../img/glyphicons-halflings.png) !important;
}