table.cluster-tree {
  font-size:            12px;
}

table.cluster-tree td {
  vertical-align:       top;
}

span.text {
  font-weight:          bold;
}

td.tree {
  padding-top: 6px;
  background-image: url('../img/branch.gif'); 
  background-repeat: repeat-y; 
  background-position: 3px 0px;
}

html>body td.tree-b {
  padding-top: 2px;
}

td.fold {
  padding-top: 5px;
}

td.fold-more {
  padding-top: 1px;
}

td.text {
  padding-top: 5px;
  padding-left:         2px;
  width:                100%;
}

span.label {
  padding-left: 1px;
  padding-right: 1px;
}

td.hl span.label {
  color: white;
  background-color: #1678C4;
}

* html td.tree {
  padding-top: 6px;
}

* html td.fold {
  padding-top: 5px;
}

* html td.fold-more {
  padding-top: 3px;
}

* html td.text {
  padding-top: 5px;
}

img.fold {
  margin-left:          3px;
  margin-right:         4px;
}

img.fold-nt {
  margin-left:          3px;
  margin-right:         4px;
}

img.fold-nt-b {
  margin-left:          3px;
  margin-right:         4px;
}

html>body img.fold-nt-b {
  position: relative;
  top: -2px;
}

img.f {
  margin-top: 2px;
  margin-right: 2px;
}
