html {
  overflow-y: auto;
  overflow-x: hidden;
}

table.cluster-tree {
  margin-right: 25px;
}

td.tree {
  padding-top: 6px;
}

td.fold {
  padding-top: 5px;
}

td.fold-more {
  padding-top: 3px;
}

td.text {
  padding-top: 5px;
}
