<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="convertion" name="Convertion Algotithm" schema="schema/convertion.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ukrukar.converter.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.ukrukar.converter.core.Perspective"
            id="org.ukrukar.converter.core.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.ukrukar.converter.core.View"
            id="org.ukrukar.converter.core.view">
      </view>
      <view
            allowMultiple="false"
            class="org.ukrukar.converter.core.views.QuestionView"
            id="org.ukrukar.converter.core.questionview"
            name="Question">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ukrukar.converter.core.editors.MultiTextViewerEditor"
            contributorClass="org.ukrukar.converter.core.editors.MultiTextViewerEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="org.ukrukar.converter.core.editors.MultiTextViewerEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>

</plugin>
