/** 
 * CSS for the cluster tree.
 */
#clusters ul {
  line-height: 1.7;
}

#no-clusters {
  font-size: 13px;
}

#clusters li a, a#tree-top {
  background-position: left 4px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -794px;
}

#clusters li.more a {
  background-image: url('../img/sprite-vert.png');
  background-position: left -815px;
}

#clusters li {
  background-image: url('../img/sprite-horiz.png');
  background-position: -0px top;
}

#clusters li > a > span.tree {
  background-image: url('../img/sprite-vert.png');
  background-position: left -836px;
}

#clusters li.leaf-last > a > span.tree {
  background-image: url('../img/sprite-vert.png');
  background-position: left -851px;
}

#clusters li.branch > a > span.tree {
  margin-top: 3px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -875px;
}

#clusters li.branch-last > a > span.tree {
  background-image: url('../img/sprite-vert.png');
  background-position: left -890px;
}
