/** 
 * CSS for the documents list. 
 */

#documents {
  font-size: 13px;
  top: 29px;
}

#documents-status {
  margin-top: 3px;
  margin-left: 17px;
  font-size: 13px;
}

div.document {
  border-left: 2px dotted #a0a0a0;
}

a.in-clusters,
a.in-new-window,
a.show-preview {
  padding-left: 16px;
  background-position: right 2px;
}

a.in-clusters {
  background-image: url('../img/sprite-vert.png');
  background-position: right -533px;
}

a.in-new-window {
  background-image: url('../img/sprite-vert.png');
  background-position: right -569px;
}

a.show-preview {
  background-image: url('../img/sprite-vert.png');
  background-position: right -605px;
}

