/** 
 * Specific image attachments for glows, common rules in fancy-common/. 
 */

.glow-small > span {
  width: 4px; height: 4px;
}

.glow-big > span {
  width: 7px; height: 7px;
}

.glow-small .b {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1063px;
}

.glow-small .t {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1067px;
}

.glow-small .l {
  background-image: url('../img/sprite-horiz.png');
  background-position: -311px top;
}

.glow-small .r {
  background-image: url('../img/sprite-horiz.png');
  background-position: -315px top;
}

.glow-small .tl {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1071px;
}

.glow-small .tr {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1075px;
}

.glow-small .bl {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1079px;
}

.glow-small .br {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1083px;
}

.glow-big .b {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1087px;
}

.glow-big .t {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1094px;
}

.glow-big .l {
  background-image: url('../img/sprite-horiz.png');
  background-position: -319px top;
}

.glow-big .r {
  background-image: url('../img/sprite-horiz.png');
  background-position: -326px top;
}

.glow-big .tl {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1101px;
}

.glow-big .tr {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1108px;
}

.glow-big .bl {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1115px;
}

.glow-big .br {
  background-image: url('../img/sprite-vert.png');
  background-position: left -1122px;
}
