/** 
 * CSS for view tabs
 */
 
#views {
  padding-left: 6px;
  height: 23px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -641px;
}

#views.first-active {
  background-image: url('../img/sprite-vert.png');
  background-position: left -664px;
}

#views li {
  background-image: url('../img/sprite-vert.png');
  background-position: left -687px;
  padding-right: 11px;
  padding-top: 5px;
  padding-left: 1px;
  height: 18px;
}

#views li.active {
  background-image: url('../img/sprite-vert.png');
  background-position: left -710px;
}

#views li .right {
  width: 11px;
  height: 23px;
}

#views li .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -733px;
}

#views li.active .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -756px;
}

#views li.active-last .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -779px;
  width: 10px;
}

#views li.passive-last .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -802px;
  width: 10px;
}

#views li.before-active .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -825px;
}
