<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

  <!-- WEBAPP INFO SECTION -->

  <display-name>HAOG</display-name>
  <description>HAOG clustering algorithm.</description>

  <!-- SERVLETS -->

  <servlet>
    <servlet-name>HAOG-STC Clusterer</servlet-name>
    <servlet-class>com.dawidweiss.carrot.filter.FilterRequestProcessorServlet</servlet-class>
	<init-param>
  		<param-name>log4j.properties</param-name> 
  		<param-value>/WEB-INF/log4j.properties</param-value> 
  	</init-param>
    <init-param>
        <param-name>filterRequestProcessor</param-name>
        <param-value>com.kgolembniak.carrot.filter.haogstc.servlet.HAOGSTCFilter</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- SERVLET MAPPINGS -->

  <servlet-mapping>
    <servlet-name>HAOG-STC Clusterer</servlet-name>
    <url-pattern>/service/HAOG-STC</url-pattern>
  </servlet-mapping>

</web-app>
