<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.vis.circles.CirclesView"
            icon="icons/view_circles.gif"
            id="org.carrot2.workbench.views.circles"
            name="Circles Visualization">
      </view>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.carrot2.workbench.vis.circles.http-service">
         <resource-mapping
               path="/">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="/web"
            httpcontextId="org.carrot2.workbench.vis.circles.http-service">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/servlets/pull"
            class="org.carrot2.workbench.vis.circles.PullDataServlet"
            httpcontextId="org.carrot2.workbench.vis.circles.http-service"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.vm"
            class="org.carrot2.workbench.vis.circles.VelocityServlet"
            httpcontextId="org.carrot2.workbench.vis.circles.http-service"
            load-on-startup="true">
         <init-param
               name="content-type"
               value="text/html; charset=UTF-8">
         </init-param>
         <init-param
               name="templates-prefix"
               value="/web">
         </init-param>
         <init-param
               name="bundleID"
               value="org.carrot2.workbench.vis.circles">
         </init-param>
      </servlet>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.search">
         <viewShortcut
               id="org.carrot2.workbench.views.circles">
         </viewShortcut>

         <view
               id="org.carrot2.workbench.views.circles"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.tuning">
         <viewShortcut
               id="org.carrot2.workbench.views.circles">
         </viewShortcut>

         <view
               id="org.carrot2.workbench.views.circles"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>
      </perspectiveExtension>      
   </extension>
</plugin>
