<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Carrot2 document clustering engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="assets/css/search.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

    <!-- TODO: fav and touch icons -->
  </head>

  <body class="results">

    <div class="search">
      <ul class="sources nav nav-tabs">
        <li class="active">
          <a href="#">Web</a>
        </li>
        <li><a href="#">Wikipedia</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">PubMed</a></li>
        <li><a href="#">Jobs</a></li>
      </ul>

      <form class="btn-toolbar">
        <input class="query" type="text" />
        <div class="btn-group">
          <button class="btn btn-primary" type="submit">Search</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">50 results</a></li>
            <li><a href="#">100 results <i class="icon-ok"></i></a></li>
            <li><a href="#">200 results</a></li>
          </ul>
        </div>
      </form>
      
      <p class="intro">
        Lingo3G clustering engine organizes your search results into topics. With an instant overview of what's
        available, you will quickly find what you're looking for.
      </p>
      
      <p class="examples">
        Example queries:
        <a href="#">data mining</a>
        <a href="#">london</a>
        <a href="#">clustering</a>
      </p>
    </div>

    <div class="browsing">
      <ul class="views nav nav-tabs">
        <li class="active"><a href="#" title="FoamTree visualization view"><i class="icon icon-foamtree"></i></a></li>
        <li><a href="#"><i class="icon icon-circles" title="Circles visualization view"></i></a></li>
        <li><a href="#"><i class="icon icon-folder-open" style="opacity: 0.8" title="Folder view"></i></a></li>

        <li class="grouping active"><span>by</span><a href="#" title="Clusters from the Lingo algorithm">topic</i></a></li>
        <li class=""><a href="#">URL</i></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">more<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" title="Clusters from the STC algorithm">by topic: STC</a></li>
            <li><a href="#">by source</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="data folders-active">
      <div class="clusters">
        <div id="visualization"></div>
        <div id="folders"></div>
      </div>

      <div class="links">
        <div class="summary">Top 100 results of about 281000000 for test</div>

        <div class="docs">
          <div id="d0"><h2><a href="http://en.wikipedia.org/wiki/Data_mining">Data mining - Wikipedia, the free
            encyclopedia</a></h2>

            <p>Data mining (the analysis step of the "Knowledge Discovery in Databases" process, or KDD), a relatively
              young and interdisciplinary field of computer science, ...</p><a
                    href="http://en.wikipedia.org/wiki/Data_mining">http://en.wikipedia.org/wiki/Data_mining</a><span>Bing</span><span>Google</span><span>Wikipedia</span>
          </div>
          <div id="d1"><h2><a
                  href="http://www.anderson.ucla.edu/faculty/jason.frand/teacher/technologies/palace/datamining.htm">Data
            Mining: What is Data Mining?</a></h2>

            <p>Generally, data mining (sometimes called data or knowledge discovery) is the process of analyzing data
              from different perspectives and summarizing it into ...</p><a
                    href="http://www.anderson.ucla.edu/faculty/jason.frand/teacher/technologies/palace/datamining.htm">http://www.anderson.ucla.edu/faculty/jason.frand/teacher/technologies/palace/datamining.htm</a><span>Bing</span><span>Google</span><span>Yahoo</span>
          </div>
          <div id="d2"><h2><a href="http://datamining.typepad.com/">Data Mining: Text Mining, Visualization and Social
            Media</a></h2>

            <p>Jun 23, 2012 ... Commentary on text mining, data mining, social media and data visualization.</p><a
                    href="http://datamining.typepad.com/">http://datamining.typepad.com/</a><span>Entireweb</span><span>Google</span>
          </div>
          <div id="d3"><h2><a href="http://www.laits.utexas.edu/~norman/BUS.FOR/course.mat/Alex/">Data Mining</a></h2>

            <p>Data mining is a powerful new technology with great potential to help companies focus on the most
              important information in the data they have collected about ...</p><a
                    href="http://www.laits.utexas.edu/~norman/BUS.FOR/course.mat/Alex/">http://www.laits.utexas.edu/~norman/BUS.FOR/course.mat/Alex/</a><span>Google</span>
          </div>
          <div id="d4"><h2><a
                  href="http://www.oracle.com/technetwork/database/options/advanced-analytics/odm/index.html">Oracle
            Data Mining</a></h2>

            <p>Oracle Data Mining (ODM) provides powerful data mining functionality as native SQL functions within the
              Oracle Database. Oracle Data Mining enables users to ...</p><a
                    href="http://www.oracle.com/technetwork/database/options/advanced-analytics/odm/index.html">http://www.oracle.com/technetwork/database/options/advanced-analytics/odm/index.html</a><span>Google</span>
          </div>
          <div id="d5"><h2><a href="http://www.cs.umn.edu/~kumar/dmbook/">Introduction to Data Mining</a></h2>

            <p>Introduction to Data Mining. Pang-Ning Tan, Michigan State University, Michael Steinbach, University of
              Minnesota Vipin Kumar, University of Minnesota ...</p><a href="http://www.cs.umn.edu/~kumar/dmbook/">http://www.cs.umn.edu/~kumar/dmbook/</a><span>Google</span>
          </div>
          <div id="d6"><h2><a href="http://www.sas.com/technologies/analytics/datamining/">Predictive Analytics and Data
            Mining Software | SAS</a></h2>

            <p>Streamline your data mining and analytical processes to derive accurate, useful insights. Explore SAS
              data mining and predictive analytics solutions.</p><a
                    href="http://www.sas.com/technologies/analytics/datamining/">http://www.sas.com/technologies/analytics/datamining/</a><span>Google</span>
          </div>
          <div id="d7"><h2><a href="http://www.kdnuggets.com/">Data Mining Community's Top Resource</a></h2>

            <p>Data Mining and Analytics Software, Jobs, Consulting, Courses, and more; KDnuggets News, the leading
              newsletter on data mining and analytics.</p><a
                    href="http://www.kdnuggets.com/">http://www.kdnuggets.com/</a><span>Bing</span><span>Entireweb</span><span>Google</span>
          </div>
          <div id="d8"><h2><a href="http://www.thearling.com/text/dmwhite/dmwhite.htm">An Introduction to Data
            Mining</a></h2>

            <p>An Introduction to Data Mining. Discovering hidden value in your data warehouse. Overview. Data mining,
              the extraction of hidden predictive information from large databases, is …</p><a
                    href="http://www.thearling.com/text/dmwhite/dmwhite.htm">http://www.thearling.com/text/dmwhite/dmwhite.htm</a><span>Bing</span><span>Google</span><span>Yahoo</span>
          </div>
          <div id="d9"><h2><a href="http://www.data-mining-forum.de/">ICDM 2012, Industrial Conference on Data
            Mining</a></h2>

            <p>12th Industrial Conference on Data Mining ICDM 2012, July 13-20, 2012.</p><a
                    href="http://www.data-mining-forum.de/">http://www.data-mining-forum.de/</a><span>Entireweb</span><span>Teoma</span>
          </div>
          <div id="d10"><h2><a href="http://www.webopedia.com/TERM/D/data_mining.html">What is data mining? - A Word
            Definition From the Webopedia …</a></h2>

            <p>This page describes the term data mining and lists other pages on the Web where you can find additional
              information.</p><a href="http://www.webopedia.com/TERM/D/data_mining.html">http://www.webopedia.com/TERM/D/data_mining.html</a><span>Ask</span><span>Teoma</span>
          </div>
          <div id="d11"><h2><a href="http://www.statsoft.com/textbook/data-mining-techniques/">Data Mining Methods,
            Predictive…</a></h2>

            <p>Data Mining and predictive analytics help from Statsoft.</p><a
                    href="http://www.statsoft.com/textbook/data-mining-techniques/">http://www.statsoft.com/textbook/data-mining-techniques/</a><span>Bing</span><span>Teoma</span>
          </div>
          <div id="d12"><h2><a href="http://www.dataminingblog.com/">Data Mining Research -…</a></h2>

            <p>Data Mining Research covers both research and applications in data mining. Among others, posts discuss
              research issues, recent applications, important events, interviews with …</p><a
                    href="http://www.dataminingblog.com/">http://www.dataminingblog.com/</a><span>Bing</span><span>Entireweb</span>
          </div>
          <div id="d13"><h2><a href="http://www.thearling.com/">Data Mining and Analytic Technologi…</a></h2>

            <p>Information on data mining and CRM technology. Includes a list of reference books, together with articles
              and white papers.</p><a
                    href="http://www.thearling.com/">http://www.thearling.com/</a><span>Ask</span><span>Entireweb</span>
          </div>
          <div id="d14"><h2><a
                  href="http://www.life123.com/technology/computer-software/data/what-is-data-mining.shtml">What Is Data
            Mining? - Life123</a></h2>

            <p>Home &gt; Technology &gt; Computer Software &gt; Data &gt; What Is Data Mining? What Is Data Mining? By:
              Chris FloodHave you ever wondered, what is data mining? Just as a traditional miner enters the bowels of
              the earth to extract valuable minerals and gems …</p><a
                    href="http://www.life123.com/technology/computer-software/data/what-is-data-mining.shtml">http://www.life123.com/technology/computer-software/data/what-is-data-mining.shtml</a><span>Teoma</span>
          </div>
          <div id="d15"><h2><a href="http://de.answers.yahoo.com/question/index?qid=20060630020302AAjWkBd">Read More
            »</a></h2>

            <p>This depends on the business intelligence that you are doing. If you are doing reports and OLAP, you may
              want to use data mining to figure out what variables are useful in the reports that you prepare. Or you
              may want to use Data mining for… Read …</p><a
                    href="http://de.answers.yahoo.com/question/index?qid=20060630020302AAjWkBd">http://de.answers.yahoo.com/question/index?qid=20060630020302AAjWkBd</a><span>Ask</span>
          </div>
          <div id="d16"><h2><a href="https://en.wikipedia.org/wiki/Data_mining">Data mining - Wikipedia, the free
            encyclopedia</a></h2>

            <p>Data mining (the analysis step of the "Knowledge Discovery in Databases" process, or KDD), [1] a
              relatively young and interdisciplinary field of computer science, [2 …</p><a
                    href="https://en.wikipedia.org/wiki/Data_mining">https://en.wikipedia.org/wiki/Data_mining</a><span>Yahoo</span>
          </div>
          <div id="d17"><h2><a href="http://www.directhit.com/ansres/Data-Mining-and-Data-Warehousing.html">Data Mining
            and Data Warehousing | Directhit.com</a></h2>

            <p>Top Q&amp;A for:Data Mining and Data Warehousing Why Data Mining and E-Commerce are a match made in
              heaven (or in the data… Mining and Data Warehousing By 5min Life Videopedia Resources for:Data Mining and
              Data Warehousing Data Mining: What is Data …</p><a
                    href="http://www.directhit.com/ansres/Data-Mining-and-Data-Warehousing.html">http://www.directhit.com/ansres/Data-Mining-and-Data-Warehousing.html</a><span>Teoma</span>
          </div>
          <div id="d18"><h2><a href="http://www.wi.uni-muenster.de/aw/forschen/ab_cc/CGC8.pdf">Das
            Data-Mining-Konzept</a></h2>

            <p>Der Begriff des Data Mining stammt aus dem Bereich der Statistik und besitzt in … sprünglichen Verwendung
              abwertende Bedeutung, da unter Data Mining die …</p><a
                    href="http://www.wi.uni-muenster.de/aw/forschen/ab_cc/CGC8.pdf">http://www.wi.uni-muenster.de/aw/forschen/ab_cc/CGC8.pdf</a><span>Ask</span>
          </div>
          <div id="d19"><h2><a href="https://twitter.com/data_mining_">Dr. (@Data_Mining_) on Twitter</a></h2>

            <p>Sign up for Twitter to follow Dr. (@Data_Mining_). Research on General &amp; Multimedia Data Mining,
              Healthcare &amp; Biomedical Informatics …</p><a href="https://twitter.com/data_mining_">https://twitter.com/data_mining_</a><span>Yahoo</span>
          </div>
          <div id="d20"><h2><a href="http://datamining.typepad.com/data_mining/">Data Mining: Text Mining, Visualization
            and Social Media</a></h2>

            <p>Commentary on text mining, data mining, social media and data visualization.</p><a
                    href="http://datamining.typepad.com/data_mining/">http://datamining.typepad.com/data_mining/</a><span>Entireweb</span>
          </div>
          <div id="d21"><h2><a href="http://en.wikipedia.org/wiki/List_of_free_and_open_source_software_packages">List
            of free and open source software packages</a></h2>

            <p>Data mining : Environment for DeveLoping KDD-Applications Supported by Index-Structures (ELKI) - data
              mining software framework written in …</p><a
                    href="http://en.wikipedia.org/wiki/List_of_free_and_open_source_software_packages">http://en.wikipedia.org/wiki/List_of_free_and_open_source_software_packages</a><span>Wikipedia</span>
          </div>
          <div id="d22"><h2><a href="http://data-mining.meetup.com/">Data Mining Meetup Groups - Data Mining…</a></h2>

            <p>Helps groups of people with shared interests plan meetings and form offline clubs in local communities
              around the world about Data Mining …</p><a href="http://data-mining.meetup.com/">http://data-mining.meetup.com/</a><span>Bing</span>
          </div>
          <div id="d23"><h2><a href="http://www.directhit.com/ansres/Data-Warehousing-and-Data-Mining.html">Data
            Warehousing and Data Mining | Directhit.com</a></h2>

            <p>Top Q&amp;A for:Data Warehousing and Data Mining What is Data Warehousing and Data Mining? data warehouse
              A data warehouse…'s decision support sy… http://wiki.answers.com/Q/What_is_Data_Warehousi.. … What is Data
              Mining and Data WareHousing? A data …</p><a
                    href="http://www.directhit.com/ansres/Data-Warehousing-and-Data-Mining.html">http://www.directhit.com/ansres/Data-Warehousing-and-Data-Mining.html</a><span>Teoma</span>
          </div>
          <div id="d24"><h2><a href="http://www.datatechnology.at/main.asp?kat1=64&amp;kat2=462&amp;kat3=">Data Mining -
            DATA TECHNOLOGY Betri…</a></h2>

            <p>Data Mining versucht explorativ Hypothesen über die in einem Data … Data Mining wird auch oft als
              knowledge discovery in databases (KDD) bezeichnet.</p><a
                    href="http://www.datatechnology.at/main.asp?kat1=64&amp;kat2=462&amp;kat3=">http://www.datatechnology.at/main.asp?kat1=64&amp;kat2=462&amp;kat3=</a><span>Ask</span>
          </div>
          <div id="d25"><h2><a href="http://www.facebook.com/data.mining.7">Data Mining | Facebook</a></h2>

            <p>Data Mining is on Facebook. Join Facebook to connect with Data Mining and others you may know. Facebook
              gives people the power to share and makes the world more open …</p><a
                    href="http://www.facebook.com/data.mining.7">http://www.facebook.com/data.mining.7</a><span>Yahoo</span>
          </div>
          <div id="d26"><h2><a href="http://en.wikipedia.org/wiki/Java_Data_Mining">Java Data Mining</a></h2>

            <p>Java Data Mining (JDM) is a standard Java API for developing data mining applications and tools. API for
              data mining objects and processes.</p><a href="http://en.wikipedia.org/wiki/Java_Data_Mining">http://en.wikipedia.org/wiki/Java_Data_Mining</a><span>Wikipedia</span>
          </div>
          <div id="d27"><h2><a href="http://www.data-mining-cup.de/rueckblick/">Rückblick - DATA-MINING-CUP</a></h2>

            <p>Data Mining für Bestseller - Rückblick Wettbewerb und Anwendertage 2009 … Optimierte Check-Out Coupons
              mit Data Mining - Rückblick DMC Wettbewerb und …</p><a href="http://www.data-mining-cup.de/rueckblick/">http://www.data-mining-cup.de/rueckblick/</a><span>Ask</span>
          </div>
          <div id="d28"><h2><a href="http://en.wikipedia.org/wiki/Data_Mining_Extensions">Data Mining Extensions</a>
          </h2>

            <p>Data Mining Extensions (DMX) is a query language for Data Mining Models supported by Microsoft 's SQL
              Server Analysis Services product.</p><a href="http://en.wikipedia.org/wiki/Data_Mining_Extensions">http://en.wikipedia.org/wiki/Data_Mining_Extensions</a><span>Wikipedia</span>
          </div>
          <div id="d29"><h2><a href="http://datamining.anu.edu.au/">ANU Data Mining Group</a></h2>

            <p>ANU Data Mining Group. Data Mining is the process of extracting useful and previously unknown information
              out of large complex data collections.</p><a href="http://datamining.anu.edu.au/">http://datamining.anu.edu.au/</a><span>Bing</span>
          </div>
          <div id="d30"><h2><a href="http://www.data-mining-cup.de/dmc-wettbewerb/aufgabe/">Aufgabe -
            DATA-MINING-CUP</a></h2>

            <p>Pricing für Online-Shops. Szenario. Das Thema der automatischen Preisoptimierung im E-Commerce gewinnt
              zunehmend an Bedeutung. Dies ist insbesondere …</p><a
                    href="http://www.data-mining-cup.de/dmc-wettbewerb/aufgabe/">http://www.data-mining-cup.de/dmc-wettbewerb/aufgabe/</a><span>Ask</span>
          </div>
          <div id="d31"><h2><a href="http://dictionary.reference.com/browse/data-mining">Data-mining | Define
            Data-mining at Dictionary.com</a></h2>

            <p>noun Digital Technology. the process of collecting, searching through, and analyzing a large amount of
              data in a database, as to discover patterns or relationships …</p><a
                    href="http://dictionary.reference.com/browse/data-mining">http://dictionary.reference.com/browse/data-mining</a><span>Yahoo</span>
          </div>
          <div id="d32"><h2><a href="http://www.e-datapro.net/data_mining.htm">Data Mining India | Data Mining Services
            | Data Mining Company India</a></h2>

            <p>Data Mining India-Data Mining Services-Data Mining Company India-Our data mining solutions and services
              have worked positively and effectively for its clients globally.Our …</p><a
                    href="http://www.e-datapro.net/data_mining.htm">http://www.e-datapro.net/data_mining.htm</a><span>Entireweb</span>
          </div>
          <div id="d33"><h2><a href="http://en.wikipedia.org/wiki/Evolutionary_data_mining">Evolutionary data mining</a>
          </h2>

            <p>Evolutionary data mining, or genetic data mining is an umbrella term for any data mining using
              evolutionary algorithm s. used for mining …</p><a
                    href="http://en.wikipedia.org/wiki/Evolutionary_data_mining">http://en.wikipedia.org/wiki/Evolutionary_data_mining</a><span>Wikipedia</span>
          </div>
          <div id="d34"><h2><a href="http://databases.about.com/od/datamining/Data_Mining_and_Data_Warehousing.htm">Data
            Mining and Data Warehousing</a></h2>

            <p>The Net’s best collection of data mining and data warehousing links from your About.com guide. From data
              mining tutorials to data warehousing techniques, you’ll find it all!</p><a
                    href="http://databases.about.com/od/datamining/Data_Mining_and_Data_Warehousing.htm">http://databases.about.com/od/datamining/Data_Mining_and_Data_Warehousing.htm</a><span>Bing</span>
          </div>
          <div id="d35"><h2><a
                  href="http://www.oracle.com/us/products/database/options/advanced-analytics/overview/index.html">Oracle
            Advanced Analytics</a></h2>

            <p>… comprehensive advanced analytics through two major components: Oracle R Enterprise and Oracle Data
              Mining. With Oracle Advanced Analytics, customers …</p><a
                    href="http://www.oracle.com/us/products/database/options/advanced-analytics/overview/index.html">http://www.oracle.com/us/products/database/options/advanced-analytics/overview/index.html</a><span>Teoma</span>
          </div>
          <div id="d36"><h2><a href="http://www.heise.de/tr/artikel/Datamining-beim-Bilderdienst-1476395.html">Datamining
            beim Bilderdienst | Tech…</a></h2>

            <p>28. März 2012 … Eine Studie kanadischer Forscher zeigt, wie einfach sich Rückschlüsse aus
              Social-Networking-Daten ziehen lassen.</p><a
                    href="http://www.heise.de/tr/artikel/Datamining-beim-Bilderdienst-1476395.html">http://www.heise.de/tr/artikel/Datamining-beim-Bilderdienst-1476395.html</a><span>Ask</span>
          </div>
          <div id="d37"><h2><a href="http://www.datamining-international.com/?r=presentation">DataMining International -
            Data Mining of Clinical Studies, from small …</a></h2>

            <p>DataMining International develops modern mathematical algorithms (Data Mining), generating meaningful
              information.</p><a href="http://www.datamining-international.com/?r=presentation">http://www.datamining-international.com/?r=presentation</a><span>Yahoo</span>
          </div>
          <div id="d38"><h2><a href="http://www.datamininglab.com/">Elder Research: Predictive Analytics &amp; Data
            Mining Consulting</a></h2>

            <p>ELDER RESEARCH is a leader in data mining consulting and data mining training. Drawing from theory and
              experience in diverse professional fields, ER brings cutting-edge research …</p><a
                    href="http://www.datamininglab.com/">http://www.datamininglab.com/</a><span>Entireweb</span></div>
          <div id="d39"><h2><a href="http://www.loginworks.com/">Web Scraping Service | Data Extraction | Web Mining
            Service</a></h2>

            <p>DATA MINING: THE BEST WAY TO BE… Read More … Data Mining Technology Application… Read More … Benefits of
              Data Mining and Web… Read More …</p><a
                    href="http://www.loginworks.com/">http://www.loginworks.com/</a><span>Google</span></div>
          <div id="d40"><h2><a href="http://en.wikipedia.org/wiki/Oracle_Data_Mining">Oracle Data Mining</a></h2>

            <p>Oracle Data Mining (ODM) is an option of Oracle Corporation 's Relational Database Management System
              (RDBMS) Enterprise Edition (EE).</p><a href="http://en.wikipedia.org/wiki/Oracle_Data_Mining">http://en.wikipedia.org/wiki/Oracle_Data_Mining</a><span>Wikipedia</span>
          </div>
          <div id="d41"><h2><a href="http://www.cs.sjsu.edu/faculty/lee/cs157/Data%20Mining.ppt">Data Mining</a></h2>

            <p>Data Mining . New buzzword, old idea. Inferring new information from already collected data.
              Traditionally job of Data Analysts; Computers have changed this.</p><a
                    href="http://www.cs.sjsu.edu/faculty/lee/cs157/Data%20Mining.ppt">http://www.cs.sjsu.edu/faculty/lee/cs157/Data%20Mining.ppt</a><span>Bing</span>
          </div>
          <div id="d42"><h2><a href="http://www.cs.uvm.edu/~icdm/">Welcome to ICDM: IEEE International Conference on
            Data Mining!</a></h2>

            <p>The IEEE International Conference on Data Mining series (ICDM) has established itself as the world's
              premier research conference in data mining. It provides an …</p><a href="http://www.cs.uvm.edu/~icdm/">http://www.cs.uvm.edu/~icdm/</a><span>Teoma</span>
          </div>
          <div id="d43"><h2><a href="http://www.time.com/time/magazine/article/0,9171,2058205,00.html">Data Mining: How
            Companies Know You…</a></h2>

            <p>10 Mar 2011 … Every detail of your life — what you buy, where you go, whom you love — is being extracted
              from the Internet, bundled and traded by …</p><a
                    href="http://www.time.com/time/magazine/article/0,9171,2058205,00.html">http://www.time.com/time/magazine/article/0,9171,2058205,00.html</a><span>Ask</span>
          </div>
          <div id="d44"><h2><a href="http://www.microstrategy.com.ar/data-mining/">MicroStrategy Data Mining</a></h2>

            <p>With MicroStrategy, data mining scoring is fully integrated into mainstream business intelligence. This
              complete integration elevates the availability of predictive …</p><a
                    href="http://www.microstrategy.com.ar/data-mining/">http://www.microstrategy.com.ar/data-mining/</a><span>Yahoo</span>
          </div>
          <div id="d45"><h2><a href="http://www.web-datamining.net/">Web Data Mining - An Introduction</a></h2>

            <p>Are you using web data mining? If you own a business and you’re not then others are getting the info you
              need to grow your business. Learn what data mining is and the info it …</p><a
                    href="http://www.web-datamining.net/">http://www.web-datamining.net/</a><span>Entireweb</span></div>
          <div id="d46"><h2><a href="http://en.wikipedia.org/wiki/Relational_data_mining">Relational data mining</a>
          </h2>

            <p>Relational data mining is the data mining technique for relational databases. Unlike traditional data
              mining algorithms, which look for …</p><a href="http://en.wikipedia.org/wiki/Relational_data_mining">http://en.wikipedia.org/wiki/Relational_data_mining</a><span>Wikipedia</span>
          </div>
          <div id="d47"><h2><a href="http://dataminingarticles.com/">Data Mining</a></h2>

            <p>Information about data mining concepts, methods, algorithms. Articles and tutorials. The goal of this
              site is to present the information in a very clear and understandable way.</p><a
                    href="http://dataminingarticles.com/">http://dataminingarticles.com/</a><span>Bing</span></div>
          <div id="d48"><h2><a href="http://de.wikipedia.org/wiki/Kategorie:Data-Mining">Kategorie:Data-Mining –
            Wikipedia</a></h2>

            <p>Themen die zu dem Informatik-Bereich Data-Mining gehören, auch bekannt als Wissensentdeckung in
              Datenbanken (KDD). Themen in denen lediglich …</p><a
                    href="http://de.wikipedia.org/wiki/Kategorie:Data-Mining">http://de.wikipedia.org/wiki/Kategorie:Data-Mining</a><span>Ask</span>
          </div>
          <div id="d49"><h2><a href="http://dataminingtoday.com/">Data mining, Data mining research, Data mining
            resources, Data mining jobs</a></h2>

            <p>Data Mining Website and complete resources of Data Mining …</p><a href="http://dataminingtoday.com/">http://dataminingtoday.com/</a><span>Yahoo</span>
          </div>
          <div id="d50"><h2><a href="http://en.wikipedia.org/wiki/Educational_data_mining">Educational data mining</a>
          </h2>

            <p>Educational Data Mining (called EDM) is an emerging discipline, concerned with developing methods for
              exploring the unique types of data …</p><a href="http://en.wikipedia.org/wiki/Educational_data_mining">http://en.wikipedia.org/wiki/Educational_data_mining</a><span>Wikipedia</span>
          </div>
          <div id="d51"><h2><a href="http://www.asterdata.com/">Big Data Analytics, MapReduce for High…</a></h2>

            <p>Receive results faster with Aster Data’s approach to big data analytics. The combination of data mining
              with MapReduce will better accommodate big data analytics.</p><a href="http://www.asterdata.com/">http://www.asterdata.com/</a><span>Bing</span>
          </div>
          <div id="d52"><h2><a href="http://www.sas.com/technologies/analytics/datamining/miner/">Model Development and
            Deployment, Data Mining Software, SAS …</a></h2>

            <p>SAS Data Mining software can help your organization detect fraud, anticipate resource demands, increase
              acquisitions &amp; curb customer attrition. Learn more …</p><a
                    href="http://www.sas.com/technologies/analytics/datamining/miner/">http://www.sas.com/technologies/analytics/datamining/miner/</a><span>Teoma</span>
          </div>
          <div id="d53"><h2><a href="http://www.sas.com/offices/europe/germany/software/analytics/data-mining.html">SAS
            für Data Mining | SAS</a></h2>

            <p>Data Mining schafft die Grundlage für leistungsstarke, vielseitige Predictive- Analytics-Lösungen und
              damit die Basis für evidenzbasierte …</p><a
                    href="http://www.sas.com/offices/europe/germany/software/analytics/data-mining.html">http://www.sas.com/offices/europe/germany/software/analytics/data-mining.html</a><span>Ask</span>
          </div>
          <div id="d54"><h2><a href="http://dataminingconsultant.com/">DataMiningConsultant.com</a></h2>

            <p>Discovering Knowledge in Data: An Introduction to Data Mining (Wiley, 2005) Daniel T. Larose : Data
              Mining …</p><a
                    href="http://dataminingconsultant.com/">http://dataminingconsultant.com/</a><span>Yahoo</span></div>
          <div id="d55"><h2><a href="http://www.salford-systems.com/">Data Mining Solutions Using Salford's New
            Integrated Suite of Tools …</a></h2>

            <p>Our award-winning data mining and web mining tools include the state-of-the-art CART decision tree, MARS
              automated predictive modeling and regression, TreeNet boosted decision …</p><a
                    href="http://www.salford-systems.com/">http://www.salford-systems.com/</a><span>Entireweb</span>
          </div>
          <div id="d56"><h2><a href="http://en.wikipedia.org/wiki/Data_mining_in_agriculture">Data mining in
            agriculture</a></h2>

            <p>Data mining in agriculture is a very recent research topic. It consists in the application of data mining
              techniques to agriculture .</p><a href="http://en.wikipedia.org/wiki/Data_mining_in_agriculture">http://en.wikipedia.org/wiki/Data_mining_in_agriculture</a><span>Wikipedia</span>
          </div>
          <div id="d57"><h2><a href="http://csis.org/files/media/csis/pubs/040301_data_mining_report.pdf">DATA MINING
            COUNTERTERRORISM CSIS REPORT</a></h2>

            <p>THE CENTER FOR STRATEGIC &amp; INTERNATIONAL STUDIES 1800 K Street, NW “ Washington, DC 20006 Telephone:
              (202) 887-0200 Fax: (202) 775-3199 E-mail: books@csis.org • Web site …</p><a
                    href="http://csis.org/files/media/csis/pubs/040301_data_mining_report.pdf">http://csis.org/files/media/csis/pubs/040301_data_mining_report.pdf</a><span>Bing</span>
          </div>
          <div id="d58"><h2><a href="http://www.dataminingbook.com/">Data Mining for Business Intelligence | Concepts,
            Techniques, and …</a></h2>

            <p>Data Mining for Business Intelligence (2nd Edition), Book Cover. Data Mining for Business Intelligence is
              the premier data mining textbook in B-schools.</p><a href="http://www.dataminingbook.com/">http://www.dataminingbook.com/</a><span>Teoma</span>
          </div>
          <div id="d59"><h2><a href="http://www.math-jobs.ch/datamining.html">Data Mining</a></h2>

            <p>Auf dieser Website wird beschrieben, was Data Mining in der Praxis bedeutet.</p><a
                    href="http://www.math-jobs.ch/datamining.html">http://www.math-jobs.ch/datamining.html</a><span>Ask</span>
          </div>
          <div id="d60"><h2><a href="http://whatisdatamining.org/">What Is Data Mining</a></h2>

            <p>Find everything you need to know about What Is Data Mining here!</p><a
                    href="http://whatisdatamining.org/">http://whatisdatamining.org/</a><span>Yahoo</span></div>
          <div id="d61"><h2><a href="http://dataminingwarehouse.net/">Data mining / Data warehouse - Business Software
            For Your Company</a></h2>

            <p>Data mining or datamining is a way of analyzing data analysis which contains a large number of series
              that goes from the meaning, analysis, ideas and …</p><a href="http://dataminingwarehouse.net/">http://dataminingwarehouse.net/</a><span>Google</span>
          </div>
          <div id="d62"><h2><a href="http://en.wikipedia.org/wiki/Lift_(data_mining)">Lift (data mining)</a></h2>

            <p>In data mining and association rule learning , lift is a measure of the performance of a targeting model
              (association rule) at predicting …</p><a href="http://en.wikipedia.org/wiki/Lift_(data_mining)">http://en.wikipedia.org/wiki/Lift_(data_mining)</a><span>Wikipedia</span>
          </div>
          <div id="d63"><h2><a href="http://www.data-mining-guide.net/">Data Mining Software | Guide to Data…</a></h2>

            <p>Resource guide offering introductory information on data mining concepts and technology, vendor
              information, and links to other online resources.</p><a href="http://www.data-mining-guide.net/">http://www.data-mining-guide.net/</a><span>Bing</span>
          </div>
          <div id="d64"><h2><a
                  href="http://www.npr.org/2011/04/26/135703500/supreme-court-weighs-whether-to-limit-data-mining">Supreme
            Court Weighs Whether To Limit Data Mining : NPR</a></h2>

            <p>Apr 26, 2011 … At issue is whether a state may bar the buying, selling and profiling of doctors'
              prescription records for use by pharmaceutical sales …</p><a
                    href="http://www.npr.org/2011/04/26/135703500/supreme-court-weighs-whether-to-limit-data-mining">http://www.npr.org/2011/04/26/135703500/supreme-court-weighs-whether-to-limit-data-mining</a><span>Teoma</span>
          </div>
          <div id="d65"><h2><a href="http://de.wikipedia.org/wiki/Data_Mining_Extensions">Data Mining Extensions –
            Wikipedia</a></h2>

            <p>Data-Mining-Erweiterungen, englisch Data Mining Extensions (DMX), sind … des SQL-Standards um die
              Fähigkeit, mit Data-Mining-Modellen zu arbeiten.</p><a
                    href="http://de.wikipedia.org/wiki/Data_Mining_Extensions">http://de.wikipedia.org/wiki/Data_Mining_Extensions</a><span>Ask</span>
          </div>
          <div id="d66"><h2><a href="http://www.autonlab.org/tutorials/">Statistical Data Mining Tutorials</a></h2>

            <p>Statistical Data Mining Tutorials | A set of 20 powerpoint lectures (many in PDF format) by Andrew Moore
              covering the major techniques, algorithms and theory of data mining and …</p><a
                    href="http://www.autonlab.org/tutorials/">http://www.autonlab.org/tutorials/</a><span>Entireweb</span>
          </div>
          <div id="d67"><h2><a href="http://en.wikipedia.org/wiki/Structure_mining">Structure mining</a></h2>

            <p>Structure mining or structured data mining is the process of finding and extracting useful information
              from semi structured data sets.</p><a href="http://en.wikipedia.org/wiki/Structure_mining">http://en.wikipedia.org/wiki/Structure_mining</a><span>Wikipedia</span>
          </div>
          <div id="d68"><h2><a
                  href="http://academic.research.microsoft.com/RankList?entitytype=3&amp;topDomainID=2&amp;subDomainID=7&amp;last=0&amp;start=1&amp;end=100">Top
            conferences in Data Mining</a></h2>

            <p>©2011 Microsoft Corporation. All rights reserved.</p><a
                    href="http://academic.research.microsoft.com/RankList?entitytype=3&amp;topDomainID=2&amp;subDomainID=7&amp;last=0&amp;start=1&amp;end=100">http://academic.research.microsoft.com/RankList?entitytype=3&amp;topDomainID=2&amp;subDomainID=7&amp;last=0&amp;start=1&amp;end=100</a><span>Bing</span>
          </div>
          <div id="d69"><h2><a
                  href="http://www.theatlantic.com/technology/archive/2012/04/everything-you-wanted-to-know-about-data-mining-but-were-afraid-to-ask/255388/">Everything
            You Wanted to Know About Data Mining … - The Atlantic</a></h2>

            <p>Apr 3, 2012 … A guide to what data mining, how it works, and why it's important.</p><a
                    href="http://www.theatlantic.com/technology/archive/2012/04/everything-you-wanted-to-know-about-data-mining-but-were-afraid-to-ask/255388/">http://www.theatlantic.com/technology/archive/2012/04/everything-you-wanted-to-know-about-data-mining-but-were-afraid-to-ask/255388/</a><span>Teoma</span>
          </div>
          <div id="d70"><h2><a href="http://the-data-mine.com/">Data Mining - Web Home (Users) - The Data Mine Wiki</a>
          </h2>

            <p>Launched in April 1994 to provide information about Data Mining (AKA Knowledge Discovery In Databases or
              KDD). A Twiki site full of guides, info, and links …</p><a href="http://the-data-mine.com/">http://the-data-mine.com/</a><span>Yahoo</span>
          </div>
          <div id="d71"><h2><a href="http://www.dmg.org/">Data Mining Group - Welcome to DMG</a></h2>

            <p>The Laboratory for Advanced Computing develops technologies for high performance computing, high
              performance networking, internet computing, data mining and related areas.</p><a
                    href="http://www.dmg.org/">http://www.dmg.org/</a><span>Entireweb</span></div>
          <div id="d72"><h2><a href="http://en.wikipedia.org/wiki/Wrapper_(data_mining)">Wrapper (data mining)</a></h2>

            <p>Wrapper in data mining is a program that extracts content of a particular information source and
              translates it into a relational form Many …</p><a
                    href="http://en.wikipedia.org/wiki/Wrapper_(data_mining)">http://en.wikipedia.org/wiki/Wrapper_(data_mining)</a><span>Wikipedia</span>
          </div>
          <div id="d73"><h2><a href="http://abbottanalytics.blogspot.com/">Data Mining and Predictive Analytics</a></h2>

            <p>Jun 21, 2012 … Both John and I were introduced to statistical learning methods at BAI and of course went
              on to careers in the field now known as Data Mining …</p><a href="http://abbottanalytics.blogspot.com/">http://abbottanalytics.blogspot.com/</a><span>Teoma</span>
          </div>
          <div id="d74"><h2><a href="http://www.itwissen.info/definition/lexikon/Data-Mining-data-mining.html">Data
            Mining :: data mining :: ITWis…</a></h2>

            <p>Data Mining ist eine intelligente Anwendung von Data Warehouse. Es handelt sich dabei um einen Prozess,
              bei dem aus einem sehr großen Datenbestand …</p><a
                    href="http://www.itwissen.info/definition/lexikon/Data-Mining-data-mining.html">http://www.itwissen.info/definition/lexikon/Data-Mining-data-mining.html</a><span>Ask</span>
          </div>
          <div id="d75"><h2><a href="http://www.hiit.fi/data-mining">Data Mining | HIIT</a></h2>

            <p>The development in measurement and data collection technologies have made it possible to gather and store
              large amount of information in many areas of science and …</p><a href="http://www.hiit.fi/data-mining">http://www.hiit.fi/data-mining</a><span>Yahoo</span>
          </div>
          <div id="d76"><h2><a href="http://www.statsoft.com/">Data Mining Software, Statistical Analysis, Predictive
            Analytics, Big …</a></h2>

            <p>StatSoft is the creator of STATISTICA, the most comprehensive suite of data mining and statistical
              analysis software. … Review STATISTICA's comprehensive array of data analysis, data management, data
              visualization, and data mining procedures …</p><a
                    href="http://www.statsoft.com/">http://www.statsoft.com/</a><span>Entireweb</span></div>
          <div id="d77"><h2><a href="http://en.wikipedia.org/wiki/National_Center_for_Data_Mining">National Center for
            Data Mining</a></h2>

            <p>The National Center for Data Mining (NCDM) is a center of the University of Illinois at Chicago (UIC),
              established in 1998 to serve as a …</p><a
                    href="http://en.wikipedia.org/wiki/National_Center_for_Data_Mining">http://en.wikipedia.org/wiki/National_Center_for_Data_Mining</a><span>Wikipedia</span>
          </div>
          <div id="d78"><h2><a href="http://data-mining-program.info/">GIS Project: Data Mining for Law…</a></h2>

            <p>The Center for Advanced Studies research project to examine the policy and legal implications of using
              data mining, automated data analysis, and computational social science …</p><a
                    href="http://data-mining-program.info/">http://data-mining-program.info/</a><span>Bing</span></div>
          <div id="d79"><h2><a href="http://www.salforddatamining.com/">Salford Analytics and Data Mining Conference</a>
          </h2>

            <p>Salford Analytics and Data Mining Conference - The official website for Salford Systems' bi-annual
              conference on analytics and data mining.</p><a href="http://www.salforddatamining.com/">http://www.salforddatamining.com/</a><span>Teoma</span>
          </div>
          <div id="d80"><h2><a href="http://www.ps-explore.de/">Statistik-Software PS-Explore: Date…</a></h2>

            <p>Statistiksoftware, Datenanalyse, Data Mining, Knowledge Discovery, Datenbank, OLAP, Marktforschung,
              Segmentation, CHAID, Datenerfassung, -exploration.</p><a href="http://www.ps-explore.de/">http://www.ps-explore.de/</a><span>Ask</span>
          </div>
          <div id="d81"><h2><a href="http://www.britannica.com/EBchecked/topic/1056150/data-mining">data mining
            (computer science) -- Britannica Online Encyclopedia</a></h2>

            <p>in computer science, the process of discovering interesting and useful patterns and relationships in
              large volumes of data. The field combines tools from statistics …</p><a
                    href="http://www.britannica.com/EBchecked/topic/1056150/data-mining">http://www.britannica.com/EBchecked/topic/1056150/data-mining</a><span>Yahoo</span>
          </div>
          <div id="d82"><h2><a href="http://www.data-miners.com/">Data Miners Inc. We wrote the book on data mining!</a>
          </h2>

            <p>Home page for Data Miners, a consultancy specializing in data mining and data mining education … Our
              answer is data mining. Data Miners is a specialist consulting company that focuses on data analysis and
              data mining.</p><a
                    href="http://www.data-miners.com/">http://www.data-miners.com/</a><span>Entireweb</span></div>
          <div id="d83"><h2><a href="http://en.wikipedia.org/wiki/Data_Mining_and_Knowledge_Discovery">Data Mining and
            Knowledge Discovery</a></h2>

            <p>Data Mining and Knowledge Discovery is a triannual peer-reviewed scientific journal focusing on data
              mining . It is published by …</p><a
                    href="http://en.wikipedia.org/wiki/Data_Mining_and_Knowledge_Discovery">http://en.wikipedia.org/wiki/Data_Mining_and_Knowledge_Discovery</a><span>Wikipedia</span>
          </div>
          <div id="d84"><h2><a href="http://data-mining.com/">DATA-MINING.COM</a></h2>

            <p>Data-Mining.com. Under construction …</p><a
                    href="http://data-mining.com/">http://data-mining.com/</a><span>Bing</span></div>
          <div id="d85"><h2><a href="http://www.microsoft.com/en-us/download/details.aspx?id=29061">Download: Microsoft®
            SQL Server® 2012 Data Mining Add-ins for …</a></h2>

            <p>Mar 6, 2012 … Download SQL Server 2012 Data Mining Add-ins for Office 2010. This package includes two
              add-ins for Microsoft Office Excel 2010 (Table …</p><a
                    href="http://www.microsoft.com/en-us/download/details.aspx?id=29061">http://www.microsoft.com/en-us/download/details.aspx?id=29061</a><span>Teoma</span>
          </div>
          <div id="d86"><h2><a href="http://www.youtube.com/playlist?list=PL993FF1801B5AAB4D">Data Mining - YouTube</a>
          </h2>

            <p>Data mining is the process of sorting through large amounts of data and picking out relevant info…</p><a
                    href="http://www.youtube.com/playlist?list=PL993FF1801B5AAB4D">http://www.youtube.com/playlist?list=PL993FF1801B5AAB4D</a><span>Yahoo</span>
          </div>
          <div id="d87"><h2><a href="http://www.sqlserverdatamining.com/">SQL Server Data Mining Home</a></h2>

            <p>This site has been designed by the SQL Server Data Mining team to provide the SQL Server community with
              access to and information about our exciting data mining features. Catch up with the latest SQL Server
              Data …</p><a href="http://www.sqlserverdatamining.com/">http://www.sqlserverdatamining.com/</a><span>Entireweb</span>
          </div>
          <div id="d88"><h2><a href="http://en.wikipedia.org/wiki/Data_mining_in_meteorology">Data mining in
            meteorology</a></h2>

            <p>Some data mining techniques are appropriate in this context. What is Data mining? : potential to analyze
              important information in data warehouses.</p><a
                    href="http://en.wikipedia.org/wiki/Data_mining_in_meteorology">http://en.wikipedia.org/wiki/Data_mining_in_meteorology</a><span>Wikipedia</span>
          </div>
          <div id="d89"><h2><a href="http://databases.about.com/od/datamining/a/datamining.htm">Data Mining: An
            Introduction</a></h2>

            <p>Data mining allows you to find the needles hidden in your haystacks of data. Learn how to use these
              advanced techniques to meet your business objectives.</p><a
                    href="http://databases.about.com/od/datamining/a/datamining.htm">http://databases.about.com/od/datamining/a/datamining.htm</a><span>Teoma</span>
          </div>
          <div id="d90"><h2><a href="http://www.amazon.de/Mining-Concepts-Techniques-Kaufmann-Management/dp/1558609016">Data
            Mining. Concepts and Technique…</a></h2>

            <p>Tauschen Sie jetzt Data Mining. Concepts and Techniques (Morgan Kaufmann Series in Data Management
              Systems): Concepts and Techniques (Morgan …</p><a
                    href="http://www.amazon.de/Mining-Concepts-Techniques-Kaufmann-Management/dp/1558609016">http://www.amazon.de/Mining-Concepts-Techniques-Kaufmann-Management/dp/1558609016</a><span>Ask</span>
          </div>
          <div id="d91"><h2><a href="http://mp3umax.org/?p=Data_mining">Data mining</a></h2>

            <p>Data mining article, links and community buzz… … Data mining (the analysis step of the "Knowledge
              Discovery in Databases" process, or KDD), 1 a relatively young …</p><a
                    href="http://mp3umax.org/?p=Data_mining">http://mp3umax.org/?p=Data_mining</a><span>Yahoo</span>
          </div>
          <div id="d92"><h2><a href="http://www.dataminingcasestudies.com/">Data Mining Case Studies</a></h2>

            <p>International Workshop on Data Mining Case Studies and Practice Prize. Recognizing outstanding practical
              contributions in the field of data mining.</p><a href="http://www.dataminingcasestudies.com/">http://www.dataminingcasestudies.com/</a><span>Entireweb</span>
          </div>
          <div id="d93"><h2><a href="http://en.wikipedia.org/wiki/Cross_Industry_Standard_Process_for_Data_Mining">Cross
            Industry Standard Process for Data Mining</a></h2>

            <p>CRISP-DM stands for Cross Industry Standard Process for Data Mining. It is a data mining process model
              that describes commonly used …</p><a
                    href="http://en.wikipedia.org/wiki/Cross_Industry_Standard_Process_for_Data_Mining">http://en.wikipedia.org/wiki/Cross_Industry_Standard_Process_for_Data_Mining</a><span>Wikipedia</span>
          </div>
          <div id="d94"><h2><a href="http://wiki.ask.com/Category:Data_mining">Category:Data mining - Wikipedia on
            Ask.com</a></h2>

            <p>… learning and Data analysis. Data mining facilities are included in some of the Category:Data analysis
              software and Category:Statistical software products.</p><a
                    href="http://wiki.ask.com/Category:Data_mining">http://wiki.ask.com/Category:Data_mining</a><span>Teoma</span>
          </div>
          <div id="d95"><h2><a
                  href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/iwvi/agtroitzsch/lehre/aktuell/data-mining-ii">Data
            Mining II — Universität Koblen…</a></h2>

            <p>Zeit/Raum. Freitag, 12:15 - 13:45, A 120, Freitag, 14:15 - 15:45, E 523; 18.05., 12: 15, A 120. Valerius,
              Peter: Opinion Mining: ein Modell zur Vorhersage von …</p><a
                    href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/iwvi/agtroitzsch/lehre/aktuell/data-mining-ii">http://www.uni-koblenz-landau.de/koblenz/fb4/institute/iwvi/agtroitzsch/lehre/aktuell/data-mining-ii</a><span>Ask</span>
          </div>
          <div id="d96"><h2><a href="http://www.youtube.com/watch?v=R-sGvh6tI04">What is Data Mining? - YouTube</a></h2>

            <p>NJIT School of Management professor Stephan P Kudyba describes what data mining is and how it is being
              used in the business world.</p><a href="http://www.youtube.com/watch?v=R-sGvh6tI04">http://www.youtube.com/watch?v=R-sGvh6tI04</a><span>Yahoo</span>
          </div>
          <div id="d97"><h2><a href="http://www.data-mining-tutorial.de/">Data Mining Tutorial, Leipzig/Germany</a></h2>

            <p>The institute conducts basic and applied research in computer vision, data mining, machine learning, and
              for image databases.</p><a
                    href="http://www.data-mining-tutorial.de/">http://www.data-mining-tutorial.de/</a><span>Entireweb</span>
          </div>
          <div id="d98"><h2><a href="http://en.wikipedia.org/wiki/SIGKDD">SIGKDD</a></h2>

            <p>SIGKDD is the Association for Computing Machinery 's Special Interest Group on Knowledge Discovery and
              Data Mining . It became an …</p><a href="http://en.wikipedia.org/wiki/SIGKDD">http://en.wikipedia.org/wiki/SIGKDD</a><span>Wikipedia</span>
          </div>
          <div id="d99"><h2><a href="http://www.dmoz.org/Computers/Software/Databases/Data_Mining/">Open Directory -
            Computers: Software:…</a></h2>

            <p>See also: Computers: Artificial Intelligence: Machine Learning (240) Computers: Software: Databases: Data
              Warehousing (251) Computers: Software: Databases: Data Warehousing …</p><a
                    href="http://www.dmoz.org/Computers/Software/Databases/Data_Mining/">http://www.dmoz.org/Computers/Software/Databases/Data_Mining/</a><span>Bing</span>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#">About</a>
      <a href="#">Privacy policy</a>
      <a href="#">Contact</a>
    </div>

    <script src="assets/js/jquery-1.7.2.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/carrotsearch.foamtree.html5.min.js"></script>

    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ "Oxygen:400" ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <script>
      var d;

      function embed() {
        var foamtree = new CarrotSearchFoamTree({
          id: "visualization",
          backgroundColor: "rgba(255, 255, 255, 0)",
          groupFontFamily: "Oxygen, Tahoma, sans-serif",
          titleBarFontFamily: "Oxygen, Tahoma, sans-serif",
          dataObject: d
        });
        window.addEventListener("resize", (function () {
          var timeout;
          return function () {
            window.clearTimeout(timeout);
            timeout = window.setTimeout(function () {
              foamtree.resize();
            }, 150);
          };
        })(), undefined);
      }

      $(".search button[type = 'submit']").click(function() {
        if ($("body").is(".startup")) {
          $("body").fadeOut(function() {
            $("body").attr("class", "results");
            $("body").fadeIn(function() {
              embed();
            });
          });
        }
        return false;
      });


      function foamTreeJsonDataAvailable(data) {
        d = data;
      }

      var folderTemplate = _.template(
        "<li class='folded <%= clazz %>'>" +
          "<a id='<%- cluster.id %>' href='#'>" +
            "<span class='tree'></span>" +
            "<span class='phrase'><%- cluster.phrases[0] %></span>" +
            "<span class='size'>(<%- cluster.size %>)</span>" +
          "</a>" +
          "<%= subclusters %>" +
        "</li>");

      function dataLoaded(data) {
        $("#folders").html("<a href='#'><span class='phrase'>All topics</span><span class='size'>(100)</span></a>" + clusterList(data.clusters)).on("click", "a", function() {
          $(this).parent().toggleClass("folded");
        });

        function clusterList(clusters) {
          if (!clusters) {
            return "";
          }

          var tree = "<ul>";
          for (var i = 0; i < clusters.length; i++) {
            var cluster = clusters[i];
            tree += folderTemplate({
              cluster: cluster,
              clazz: cluster.clusters ? "branch" : "",
              subclusters: clusterList(cluster.clusters)
            });
          }
          tree += "</ul>";
          return tree;
        }
      }
    </script>
    <script src="assets/js/data-mining-100-topic-hierarchical.jsonp"></script>
    <script src="assets/js/carrot2.data.js"></script>
  </body>
</html>