<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.carrot2.browser.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Browser Perspective"
            class="org.carrot2.browser.Perspective"
            id="org.carrot2.browser.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.carrot2.browser.ui.QueryView"
            id="org.carrot2.browser.query"
            name="%queryview.name"/>
   </extension>

</plugin>
