<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<stringAttribute key="application" value="org.carrot2.browser.application"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="location" value="${target_platform}/runtime"/>
<stringAttribute key="configLocation" value=""/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="product" value=""/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="selected_workspace_plugins" value="org.carrot2.browser"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="clearConfig" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="usefeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="clearws" value="false"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="selected_target_plugins" value="com.ibm.icu,org.eclipse.core.commands,org.eclipse.core.contenttype,org.eclipse.core.expressions,org.eclipse.core.jobs,org.eclipse.core.runtime,org.eclipse.core.runtime.compatibility.auth,org.eclipse.equinox.common,org.eclipse.equinox.preferences,org.eclipse.equinox.registry,org.eclipse.help,org.eclipse.jface,org.eclipse.osgi,org.eclipse.swt,org.eclipse.swt.win32.win32.x86,org.eclipse.ui,org.eclipse.ui.workbench,org.eclipse.equinox.app"/>
<booleanAttribute key="automaticAdd" value="false"/>
</launchConfiguration>
