.ClusterSelectionSummary {
  text-align: left;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 1rem;
}

.ClusterInSummary .icon {
  vertical-align: baseline;
  padding-left: 0.25em;
  color: var(--cluster-icon-color);
}