.ResultList {
  overflow-y: auto;
  height: 100%;
}

.ResultList > div {
  text-align: left;
  padding-right: 0.5em;
  padding-left: 0.25em;
}

.ResultList .Loading {
  padding: 0.25em 0.25em 0.25em 0.5em;
}

.ResultList .Error {
  position: absolute;
  width: 32em;
  left: 0;
  right: 0;
  margin: 4rem auto 0;
}

.ResultList > div > a {
  color: var(--text-color);
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 0.1875em;
  text-decoration: none;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
.ResultList > div > a:hover {
  color: inherit;
  background-color: rgba(59, 131, 192, 0.05);
  box-shadow: 0 0 0 2px rgba(59, 131, 192, 0.3);
}

.ResultList > div > a > strong > span,
.ResultList > div > a > div > p > span,
.ResultList > div > a > .keywords > span,
.ResultList > div > a > .sources > span {
  font-size: 70%;
  font-weight: normal;
  background-color: rgba(59, 131, 192, 0.05);
  box-shadow: 0 0 0 1px rgba(59, 131, 192, 0.3);
  padding: 0 0.125rem;
  margin-right: 0.25rem;
  vertical-align: 10%;
  border-radius: 0.125rem;
  color: var(--text-color-secondary);
}
.ResultList > div > a > .keywords > span,
.ResultList > div > a > div > p > span,
.ResultList > div > a > .sources > span {
  background-color: hsla(258, 10%, 38%, 0.03);
  box-shadow: 0 0 0 1px hsla(208, 10%, 49%, 0.2);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--text-color-secondary);
}

.ResultList > div > a > div > p {
  margin-top: 0.5em;
  margin-bottom: 0
}

.ResultList > div > a > div {
  color: var(--text-color-light);
  margin: 0.25em 0;
}

.ResultList > div > a > span.url {
  display: block;
  height: 1.5em;
  white-space: nowrap;
  font-weight: 300;
  color: inherit;
}
.ResultList > div > a > span.url.with-site-icon {
  background-size: auto 75%;
  background-position: 0 0.0625em;
  background-repeat: no-repeat;
  padding-left: 1.5em;
}
.ResultList > div > a > span.url:hover {
  color: inherit;
}

.ResultList > div > a > span.url > span {
  opacity: 0.7;
}

.ResultList .ResultClusters {
  min-height: 18px;
}

.ResultList .ResultClusters:hover .ClusterInSummary {
  opacity: 0.5;
}
.ResultList .ResultClusters:hover .ClusterInSummary:hover {
  opacity: 1.0;
}
.ResultList .ResultClusters:hover .ClusterInSummary:hover .bp3-icon {
  color: var(--cluster-icon-color);
}