.SearchAppInfo {
  margin: 3em 1em 2em 2em;
  padding-right: 1em;
  overflow-y: auto;
}
.SearchAppInfo h2 {
  font-size: 1.8rem;
  line-height: 1.1;
}

.SearchAppInfo h3:not(:first-child) {
  margin-top: 2em;
}

.SearchAppInfo ul {
  padding: 0 0 0 1em;
}
.SearchAppInfo ul > li {
  margin-bottom: 0.5em;
}

.SearchAppInfo dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.SearchAppInfo dd {
  margin-left: 0;
  margin-bottom: 1em;
}

.VersionInfo {
  margin-top: 4em;
  border-top: 1px solid var(--text-color-faint);
  font-weight: 300;
}

.VersionInfo span {
  color: var(--text-color-lighter);
}

.VersionInfo ul {
  list-style: none;
  padding: 0;
}
.VersionInfo ul > li {
  margin-bottom: 0;
}