.SearchAppInfo {
  margin: 3em 1em 2em 2em;
  padding-right: 1em;
  overflow-y: auto;
}

.SearchAppInfo ul {
  padding: 0 0 0 1em;
}
.SearchAppInfo ul > li {
  margin-bottom: 0.5em;
}

.SearchAppInfo dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.SearchAppInfo dd {
  margin-left: 0;
  margin-bottom: 1em;
}