.SearchAppSettings {
  text-align: center;
}

.SearchAppSettings > div {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.SearchAppSettings > div > div {
  width: 16em;
}

.SearchAppSettings > div > div:first-child {
  border-right: 1px solid var(--text-color-faint);
  margin-right: -1em;
}
.SearchAppSettings > div > div + div {
  margin-left: 1em;
  padding-left: 1.5em;
}

.SearchAppSettingsContainer .bp3-popover-content {
  max-width: none !important;
}

.SearchAppSettings small {
  display: block;
  color: var(--text-color-light);
}

.SearchAppSettings .bp3-tag {
  font-size: 65%;
  padding: 0.25em 0.5em;
  min-height: auto;
  line-height: 120%;
  vertical-align: super;
  margin-left: 0.5em;
  opacity: 0.75;
}