.SearchApp {
  text-align: center;
}

.ThemeSwitch {
  position: absolute;
  top: var(--leading);
  right: var(--leading);
}

.bp3-dark .logo,
.bp3-dark .text {
  filter: invert(1.0) grayscale(100%) contrast(1000%);
}