<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Carrot2 document clustering server</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/dcs.css" rel="stylesheet" />
  </head>

  <body>
    <div id="main">
      <a id="logo" href="index.html"><img src="img/carrot-search-logo-small.png" /></a>

      <ul class="nav nav-tabs no-margin">
        <li class="active">
          <a href="#">Quick start</a>
        </li>
        <li><a href="#">Parameters</a></li>
        <li><a href="#">Input format</a></li>
        <li><a href="#">Output format</a></li>
        <li><a href="#">Admin</a></li>
      </ul>

      <div id="content">
        <p>
          <strong>Document Clustering Server</strong> (DCS) exposes clustering algorithms
          as a <strong>REST service</strong>. It can cluster documents from an external source
          (e.g., a search engine) or documents provided directly as an
          <a href="input.html">XML stream</a> and returns results in <a href="output.html">XML or JSON formats</a>.
        </p>
        
        <p>
          To invoke clustering, send a GET or POST request to
          the <a href="dcs/rest" class="tt">/dcs/rest</a> URL.<br />
          You can use the form below to trigger clustering from your browser.
        </p>

        <hr />

        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label">Input data type</label>

            <div class="controls">
              <label class="radio">
                <input value="external" checked="checked" name="input-type" type="radio" />
                External document source
              </label>
              <label class="radio">
                <input value="from-string" name="input-type" type="radio" />
                From XML string
              </label>
              <label class="radio">
                <input value="from-file" name="input-type" type="radio" />
                From XML file
              </label>
            </div>
          </div>
        </div>

        <hr />

        <form class="form-horizontal" target="_blank">
          <div class="control-group">
            <label class="control-label" for="source">Document source</label>

            <div class="controls">
              <select id="source" name="dcs.source">
                <option>Loading...</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="query">Query</label>

            <div class="controls">
              <input type="text" id="query" name="query" />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="results">Results count</label>

            <div class="controls">
              <select id="results" name="results">
                <option>50</option>
                <option selected="selected">100</option>
                <option>200</option>
                <option>400</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="algorithm">Clustering algorithm</label>

            <div class="controls">
              <select id="algorithm" name="dcs.algorithm">
                <option>Loading...</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="only-clusters">Output only clusters</label>

            <div class="controls">
              <input type="checkbox" id="only-clusters" name="dcs.clusters.only" />
            </div>
          </div>
        </form>

        <hr />

        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label">Output format</label>

            <div class="controls">
              <label class="radio inline">
                <input value="xml" name="output" type="radio" checked="checked" />
                XML
              </label>
              <label class="radio inline">
                <input value="json" name="output" type="radio" />
                JSON
              </label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Request method</label>

            <div class="controls">
              <label class="radio">
                <input value="GET|x-www-form-urlencoded" name="method" checked="checked" type="radio" /> GET
              </label>
              <label class="radio">
                <input value="POST|x-www-form-urlencoded" name="method" type="radio" />
                POST <span class="tt">application/x-www-form-urlencoded</span>
              </label>
              <label class="radio">
                <input value="POST|multipart/form-data" name="method" type="radio" />
                POST <span class="tt">multipart/form-data</span>
              </label>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Cluster</button>
            (opens in a new window)
          </div>
        </div>
      </div>
    </div>
    
    
    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
        var dcsBase = "http://localhost:8080/";
        var $form = $("form");

        $form.submit(function() {
          $(this).attr("action", dcsBase + "cluster/" + $("input[name = 'output']:checked").val());
        });

        $("button[type = 'submit']").click(function() {
          $form.submit();
        });

        // Load sources and algorithms
        $.ajax({
          url: dcsBase + "metadata",
          method: "GET",
          dataType: "json",
          success: function(data) {
            var option = _.template("<option value='<%- id %>'><%- label %></option>");

            $("#source").html(_.reduce(data.sources, function (html, item) {
              html += option(item);
              return html;
            }, ""));
            $("#algorithm").html(_.reduce(data.algorithms, function (html, item) {
              html += option(item);
              return html;
            }, ""));
          }
        })
      });
    </script>
  </body>
</html>