<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>DCS</display-name>
    <description>Document Clustering Server Proxies Service</description>

    <servlet>
        <servlet-name>PubMed Proxy</servlet-name>
        <servlet-class>org.carrot2.dcs.proxies.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxy-target</param-name>
            <param-value>https://eutils.ncbi.nlm.nih.gov/entrez/eutils/</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PubMed Proxy</servlet-name>
        <url-pattern>/pubmed/*</url-pattern>
    </servlet-mapping>
</web-app>
