/**
 * Common CSS for fancy skins.
 */
body#startup, 
body#results
{
  background-image: url('../img/c2-background.gif');
}

a {
  color: #1678C4;
}

label {
  color: #808080;
}

sup {
  font-size: 80%;
  position: relative;
  top: -0.7ex;
}

/** Noscript message */
div.noscript
{
  position: absolute;
  width: 16em;
  background-color: #fafafa;
  border: 1px #d0d0d0 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 30px;
  background-image: url('../img/icon-info.png');
  background-repeat: no-repeat;
  background-position: 7px 5px;
  z-index: 50;
}

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

#debug {
  position: absolute; 
  top: 0; right: 0; 
  width: 500px; 
  border: 1px solid #b0b0b0;
  border-top: none; 
  border-right: none; 
  padding: 10px; 
  background-color: white; 
  z-index: 10;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

/** Loading indicators */
#loading,
#loading-clusters,
#loading-documents {
  position: absolute;
  border-top: 0;
  border-left: 0;
  width: 45px;
  padding: 0px;
  padding-left: 12px;
  font-size: 9px;
  z-index: 5;
  background-position: 3px 4px;
  background-repeat: no-repeat;
}

#loading {
  top: -1px;
  left: -1px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px #c0c0c0 solid;
  background-color: #EFEDE5;
  color: #808080;
}

#loading-clusters,
#loading-documents {
  color: #a0a0a0;
  background-color: #fcfcfc;
  border: 1px #f0f0f0 solid;
  border-top: none;
}

#loading-clusters {
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: none;
}

#loading-documents {
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: none;
}

#loading-clusters {
  left: 211px;
}

#loading-documents {
  left: 271px;
}

/** Util links*/
#util-links {
  position: absolute;
  top: 0;
  right: 3px;
}

#util-links a {
  color: #909090;
}

.util-links li {
  display: inline;
}

.util-links li.hot a,
#util-links li.hot a
{
  color: #e00000;
}

.pipe {
  color: #b0b0b0;
}

#main-area {
  min-width: 950px;
  -width: 950px;
} 

/** Startup screen */
#startup #logo {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

#startup #logo a {
  position: absolute;
  top: 0;
  left: 0;
}

#startup #main-info {
  position: absolute;
  z-index: 1;
}

#startup #main-area {
  position: relative;
  width: 100%;
}

#startup #main-area-top {
  background-position: top left;
  background-repeat: repeat-x;
}

#startup #main-area-bottom {
  background-position: top left;
  background-repeat: repeat-x;
}

#startup #example-queries {
  color: #606060;
}

#startup #search-area ul.util-links li.main {
  display: none;
}

#startup #search-area ul.util-links a {
  color: #b0b0b0;
}

#version, #copyright {
  font-size: 10px;
  color: #b0b0b0;
}

#startup #version {
  float: left;
  margin-left: 7px;
}

#startup #copyright {
  float: right;
  margin-right: 7px;
}

#copyright a ,
#copyright {
  color: #a0a0a0;
}

/** Form controls */
input, select {
  border: 1px solid #B6AFA8;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=checkbox] {
  vertical-align: middle;
}

#query {
  float: left;
}

#search {
  background-color: #60a4d9;
  color: white;
  font-weight: bold;
  float: left;
}

#options {
  clear: both;
  text-align: right;
}

*+html #options select {
  vertical-align: middle;
}

#hide-options,
#show-options {
  display: block;
  line-height: 0.9;
  padding-bottom: 1px;
  float: left;
  -float: none;
}

*+html #show-options {
  float: none;
}

#required {
}

#options select {
  width: 110px;
}

#options input {
  width: 104px;
}

#options #results-number {
  width: auto;
}

#advanced-options {
  padding-bottom: 5px;
}

#advanced-options div {
  margin-top: 6px;
}

#advanced-options select,
#advanced-options input {
  margin-left: 3px;
}

#advanced-options input[type=checkbox] {
  width: auto;
  margin-left: 3px;
  *margin-left: -1px;
  margin-right: 97px;
  *margin-right: 94px;
  border: 0;
}

#no-advanced-options {
  color: #808080;
}

#use-modern,
.processing-error {
  display: block;
  border: 1px solid #dc9e27;
  background-color: #fff3b7;
  padding: 5px;
  padding-left: 25px;
  background-image: url("../img/icon-error.gif");
  background-repeat: no-repeat;
  background-position: 3px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#use-modern {
  width: 10em;
  line-height: 1.15;
  margin-right: 6px;
  position: absolute;
  right: 2px;
  z-index: 10;
}

.processing-error {
  width: 185px;
  position: relative;
  padding: 10px 10px 10px 33px;
  background-position: 8px 10px;
}

.processing-error .message {
  display: block;
  margin: 1ex 0 2ex 0px;
  font-weight: bold
}

#clusters-panel .processing-error {
  top: 13px;
  left: 15px;
}

#documents-panel .processing-error {
  top: 8px;
  left: 13px;
}

#results #use-modern {
  top: 43px;
}

#startup #use-modern {
  top: 158px;
}

/** Results screen */
#results #logo {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

#results #logo a {
  position: absolute;
  top: 0;
  left: 0;
}

#results #main-area {
  width: 100%;
  position: absolute;
}

#results #main-info {
  display: none;
}

#results #main-area-top {
  background-position: top left;
  background-repeat: repeat-x;
}

#results #search-area {
  position: relative;
}

#results-area {
  position: absolute;
  background-color: white;
}

#clusters-panel {
  width: 258px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 7px;
}

#documents-panel {
  position: absolute;
  left: 275px;
  top: 7px;
}

#documents {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#split-panel {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 269px;
  width: 1px;
  border-left: 1px dotted #c0c0c0;
}

#status-bar {
  background-color: #F6F4EC;
  border-top: 1px dotted #c0c0c0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #808080;
  font-size: 9px;
}

#documents #loading-more {
  color: #808080;
  margin-left: 2.2em;
  padding-left: 12px;
  font-size: 9px;
  line-height: 13px;
  background-repeat: no-repeat;
}

#results #footer {
  float: right;
}

#results #version {
  margin-right: 10px;
}

/** Different panel split for visualization */
.visu #clusters-panel {
  width: 658px;
  overflow-y: hidden;
}

.visu #documents-panel {
  left: 675px;
}

.visu #split-panel {
  left: 668px;
}

.visu #loading-documents {
  left: 671px;
}

/** No documents/clusters messages */
#no-documents, 
#no-clusters {
  text-align: center;
  margin-top: 5ex;
}
