/**
 * Common CSS for document source tabs.
 */
ul.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}

#tab-lead-in {
  float: left;
  display: block;
  background-repeat: no-repeat;
}

ul.tabs li.tab {
  display: block;
  float: left;
  position: relative;
}

ul.tabs li.drag {
  cursor: move;
}

ul.tabs .tab a {
  text-decoration: none;
  color: black;
}

ul.tabs .tab a:hover {
  text-decoration: underline;
}

ul.tabs .tab .label {
  white-space: nowrap;
  background-repeat: no-repeat;
  color: #909090;
}

ul.tabs li.active .label {
  color: #404040;
}