/** 
 * Common CSS for view tabs
 */
 
#views {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}

#views li {
  float: left;
  position: relative;
}

#views li a {
  text-decoration: none;
  font-weight: bold;
  color: #94938F;
}

#views li.active a {
  color: #404040;
}

#clusters-panel.single-view {
  top: 2px;
}
