.WorkbenchSide {
  width: 24em;
  overflow-y: auto;
  background-color: var(--background-color-secondary);
  position: relative;
}

.WorkbenchSideFixed {
  position: sticky;
  top: 0;
  background-color: var(--background-color-secondary);
  z-index: 1;
  padding: var(--leading);
}

.WorkbenchSideHeader {
  display: flex;
}

.WorkbenchSideHeader .ClusterButton {
  align-self: center;
}

.WorkbenchLogo {
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  line-height: 1.0;
  margin-right: auto;
  margin-left: -0.25em;
  margin-top: 0.25em;
}
.WorkbenchLogo > span {
  position: relative;
}
.WorkbenchLogo .initial {
  font-size: 2.4rem;
  position: relative;
  left: 0.35rem;
  font-weight: 300;
}
.WorkbenchLogo > span > span:not(.initial) {
  font-weight: normal;
  font-size: 0.8rem;
  position: absolute;
  left: 3rem;
  top: -0.55rem;
}

.WorkbenchSide .Settings {
  padding: var(--leading);
}