* html {
  overflow-y: auto;
  overflow-x: hidden;
}

* html #documents {
  margin-right: 25px;
}

#documents {
  margin: 5px;
  margin-top: 0ex;
  padding-top: 1ex;
}

table.d {
  margin-bottom: 3ex;
}

b {
  font-weight: normal;
}

td.r {
  color: #a0a0a0;
  vertical-align:       top;
  text-align:           right;
  width:                1.5em;
  padding-right:        0.5ex;
  font-weight:          bold;
  border-right:         2px #a0a0a0 dotted;
}

td.c {
  padding-left: 0.5em;
}

.t {
  margin-bottom: 0.5ex;
}

.s {
  margin-bottom: 0.5ex;
}

.u {
  color: #808080;
  overflow: hidden;
}

.o {
  display: inline;
  padding-left: 1em;
  color: #c0c0c0;
}

div#no-documents {
  text-align: center;
  padding-top: 5ex;
}