html {
  height: 100%;
}

body {
  background-image: url('../img/background.gif');
  background-color: #E3DFD6;
}

/* Tabs */

.tab-active-lead-in {
  background-color: #f6f4ec;
  background-image: url('../img/tab-active-lead-in.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 14px;
}

.tab-passive-lead-in {
  background-color: #f6f4ec;
  background-image: url('../img/tab-passive-lead-in.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 14px;
}

.tab-active-body {
  background-color: #f6f4ec;
  background-image: url('../img/tab-active-body.gif');
  background-repeat: repeat-x;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 3px;
}

* html .tab-active-body {
  height: 30px;
}

.tab-passive-body {
  cursor: pointer;
  background-color: #f6f4ec;
  background-image: url('../img/tab-passive-body.gif');
  background-repeat: repeat-x;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #94938F;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 3px;
}

* html .tab-passive-body {
  height: 30px;
}

.tab-active-passive-link {
  background-color: #f6f4ec;
  background-image: url('../img/tab-active-passive-link.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 13px;
}

.tab-passive-active-link {
  background-color: #f6f4ec;
  background-image: url('../img/tab-passive-active-link.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 13px;
}

.tab-passive-passive-link {
  background-color: #f6f4ec;
  background-image: url('../img/tab-passive-passive-link.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 13px;
}

.tab-active-lead-out {
  background-color: #f6f4ec;
  background-image: url('../img/tab-active-lead-out.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 17px;
}

.tab-passive-lead-out {
  background-color: #f6f4ec;
  background-image: url('../img/tab-passive-lead-out.gif');
  background-repeat: no-repeat;
  height: 36px;
  width: 17px;
}

img.tab-img {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 3px;
}

html > body img.tab-img {
  position: relative;
  bottom: 2px;
}

a.tab-link {
  text-decoration: none;
  color: #94938F;
}

a.tab-link:hover {
  color: #404040;
}

/** Borders */

table.glow-small .cs {
  height: 4px;
  width: 4px;
  background-image: url('../img/glow-small-corner.gif');
}

table.glow-small .hb {
  height: 4px;
  background-image: url('../img/glow-small-tb.gif');
  background-repeat: repeat-x;
}

table.glow-small .vb {
  width: 4px;
  background-image: url('../img/glow-small-lr.gif');
  background-repeat: repeat-y;
}

table.glow-big .cs {
  height: 7px;
  width: 7px;
  background-image: url('../img/glow-big-corner.gif');
}

table.glow-big .hb {
  height: 7px;
  background-image: url('../img/glow-big-tb.gif');
  background-repeat: repeat-x;
}

table.glow-big .vb {
  width: 7px;
  background-image: url('../img/glow-big-lr.gif');
  background-repeat: repeat-y;
}

table.glow-big-sub .cs {
  height: 7px;
  width: 7px;
  background-image: url('../img/glow-big-subtle-corner.gif');
}

table.glow-big-sub .hb {
  height: 7px;
  background-image: url('../img/glow-big-subtle-tb.gif');
  background-repeat: repeat-x;
}

table.glow-big-sub .vb {
  width: 7px;
  background-image: url('../img/glow-big-subtle-lr.gif');
  background-repeat: repeat-y;
}

table.glow .tl {
}

table.glow .tr {
  background-position: right 0;
}

table.glow .bl {
  background-position: 0 bottom;
}

table.glow .br {
  background-position: right bottom;
}

table.glow .t {
}

table.glow .b {
  background-position: 0 bottom;
}

table.glow .l {
}

table.glow .r {
  background-position: right 0;
}

td.reshead {
  height: 10px; 
  padding-left: 5px; 
  border-top: 1px dotted #808080; 
  font-size: 9px; 
  background-color: #F6F4EC;
  color: #808080;
  text-align: left;
}

/** Search controls */
td.sf {
  height: 20px;
  vertical-align: middle;
  padding-left: 1px;
}

input.search-field {
  width: 300px;
  border: 0;
  background: white;
}

td.sb {
  height: 20px;
  vertical-align: middle;
  padding-left: 1px;
  background-color: #60A4D9;
}

input.search-button {
  border: 0;
  background-color: #60A4D9;
  margin: 1px;
  margin-left: 0px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  height: 18px;
}

* html input.search-button {
  height: 20px;
}

input.hl {
  background-color: #7DBEF1;
}

#process-instr, #more-desc {
  margin-left: 1px; 
  width: 405px;
  color: #808080;
}

#more-desc {
  padding-top: 10px;
}

.process-desc {
}

.example-queries {
  margin-top: 7px;
}

.copyright {
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: 11px;
  color: #B0B0B0;
  text-align: right;
}

.copyright a {
  color: #B0B0B0;
}

/** Startup page */

#startup-main {
  width: 100%;
  margin-top: 120px;
}

#startup-main-top-outer-left {
  background-image: url('../img/border-top.gif');
  background-repeat: repeat-x;
  background-position: bottom right;
  height: 6px;
}

#startup-main-top-outer-right {
  width: 100%;
  background-image: url('../img/border-top.gif');
  background-repeat: repeat-x;
  background-position: bottom left;
  height: 6px;
}

#startup-main-content {
  background-color: #F6F4EC;
  min-height: 140px;
  padding-bottom: 0px;
}

* html #startup-main-content {
  height: 150px;
}

#startup-main-bottom-outer {
  background-image: url('../img/border-bottom.gif');
  background-repeat: repeat-x;
  height: 6px;
  font-size: 1px;
}

#startup-logo {
  position: absolute;
  top: 95px;
  left: 51px;
}

/** Results page */

#results-utils a {
  color: #909090;
}

#results-utils {
  position: absolute;
  right: 0;
  top: 0;
}

#results-utils {
  color: #909090;
  padding-top: 3px;
  height: 17px;
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
}

#results-main {
  width: 100%;
}

#results-logo {
  position: absolute;
  top: 10px;
  left: 16px;
}

#results-logo-text {
  position: absolute;
  top: 86px;
  left: 100px;
}

#results-main-search {
}

.main-adv-opts {
  width: 408px; 
  margin-left: 120px; 
  margin-top: 2px;
  text-align: right;
}

/** Common */
.active-area {
  background-color: #F6F4EC;
}

/** "More" entries */
td.more-title {
  font-size: 14px;
  padding-bottom: 20px;
}

td.more-icon {
  text-align: center;
  vertical-align: top;
  padding-right: 10px;
}

div#clusters-progress, div#docs-progress {
  width: 100px; 
  color: gray; 
  text-align:right; 
  font-size: 12px; 
  font-weight: bold; 
  position: absolute; 
  margin-top: -3px;
}

div#clusters-progress {
  margin-left: 158px; 
}

div#docs-progress {
   right: 37px;
}

div#startup-extra-ruler {
  width: 405px; 
  border-bottom: 1px dotted #808080; 
  margin-top: 15px;
}
    
div#startup-extra {
  margin-top: 13px; 
  padding-bottom: 20px; 
  width: 405px; 
  color: #808080;
  font-size: 11px;
}

div#startup-extra a {
}