<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:carrot2-demo-dcs/web}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/carrot2-demo-dcs"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configuration=log4j-dcs.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="carrot2-demo-dcs"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--inputs&#13;&#10;&#9;input-yahooapi &#13;&#10;&#9;input-msnapi&#13;&#10;--algorithms&#13;&#10;&#9;lingo-classic&#13;&#10;&#9;stc-en&#13;&#10;&#9;rough-kmeans&#13;&#10;--queries&#13;&#10;&#9;&quot;data mining&quot;&#13;&#10;&#9;&quot;dawid weiss&quot;&#13;&#10;&#9;madonna&#13;&#10;&#9;amiga&#13;&#10;--request-sizes 50 100 150 200"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.carrot2.dcs.cli.BenchmarkApp"/>
</launchConfiguration>
