
/*
 * A CSS stylesheet for Docbook-generated documentation. 
 *
 * Written by Dawid Weiss
 * 
 * Feel free to reuse or modify. Mentioning me would be cool, but is
 * not required :)
 *
 * Some design elements inspired by the work of FreeBSD project, but
 * the CSS has been completely rewritten.
 */


/* HTML and BODY section --------------------------------------------- {{{ */

html {
    padding:        0pt;
    margin:         0pt;
}

body {
    margin-top:     1em;
    margin-bottom:  1em;
    margin-left:    10%;
    margin-right:   10%;
    
    font-family:    Times, Times New Roman, serif;
}

div {
    margin:         0pt;
}

p {
    text-align:     justify;
    margin-bottom:  .6em;
    line-height:    1.2;
}

hr {
    margin-top:     .6em;
    margin-bottom:  .6em;
    margin-left:    0pt;
    margin-right:   0pt;
    border:         1px solid gray;
    background:     gray; /* This is for Mozilla */
}

/* Apply the same color to some elements */
h1,h2,h3,h4,h5 {
    color:          #990000;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/* ------------------------------------------------------------------- }}} */


/* TITLES and HEADINGS ----------------------------------------------- {{{ */

h1,h2,h3,h4,h5 {
    line-height:    1.3;
    margin-top:     1.5em;
    font-family:    Arial, Sans-serif;
}

h1.title {          /* This applies to document title */
    text-align:     center;

    margin-top:     2em;
    margin-bottom:  2em;
    margin-left:    0pt;
    margin-right:   0pt;
}

h2.subtitle, h3.subtitle {       /* This applies to document subtitle */
    text-align:     center;
    margin-top:     2em;
    margin-bottom:  2em;
    text-transform: uppercase;
}

h3.author {         /** This applies to document author on titlepage */
    font-size:      0.9em;
    font-weight:    normal;
    font-style:     oblique;
}

div.titlepage {     /* This goes around section and book titles only */
}

div.section {       /* This goes around section bodies (including titles) */
}

div.authorgroup     /* This goes around authors on title page */
{
    text-align:     center;
    margin-bottom:  3em;
    display:        none;
}

div.toc, div.list-of-examples, div.list-of-figures {
    font-size:      0.8em;
    margin-bottom:  3em;
}


/* ------------------------------------------------------------------- }}} */ 


/* INLINE elements --------------------------------------------------- {{{ */

/* ------------------------------------------------------------------- }}} */ 


/* LISTS ------------------------------------------------------------- {{{ */

div.itemizedlist {  /* Surrounds itemized lists */
    margin-top:     0.5em;
    margin-bottom:  0.5em;
}

ol,ul {
}

li {
    margin-top:     0.2em;
}

/* ------------------------------------------------------------------- }}} */ 


/* BLOCK elements ---------------------------------------------------- {{{ */

pre {
    margin:         .75em 0;
    line-height:    1.0;
    color:          #461b7e;
}

pre.programlisting {
    font-size:      9pt;
    padding-left:   1em;
    margin-left:    1em;
    border-left:    double gray;
}

div.table {
    margin:         1em;
    padding:        0.5em;
    text-align:     center;
}

div.table table {
    display:        block; /* This is so that Mozilla generates box 100% wide */
}

div.table td {
    padding-right:  5px;
    padding-left:   5px;
}

div.table p.title {
    text-align:     center;
    margin-left:    5%;
    margin-right:   5%;
}

p.releaseinfo, .copyright {
    font-size:      0.7em;
    text-align:     center;
    margin:         0px;
    padding:        0px;
}

/* ------------------------------------------------------------------- }}} */ 


/* ADMONITIONS ------------------------------------------------------ {{{ */

div.note, div.important, div.example, div.informalexample, div.tip {
    margin:         1em;
    padding:        0.5em;
    border:         1px solid gray;
    background-color: #f8f8e0;
}

div.important th, div.note th, div.tip th {
    text-align:     left;
    border-bottom:  solid 1px gray;
}

/* ------------------------------------------------------------------- }}} */ 


/* HEADER AND FOOTER (only for chunked HTML?) ------------------------ {{{ */

div.navheader, div.navheader table {
    font-family:    sans-serif;
    font-size:      12px;
}

div.navfooter, div.navfooter table {
    font-family:    sans-serif;
    font-size:      12px;
}

/* ------------------------------------------------------------------- }}} */ 


/* FIGURES ----------------------------------------------------------- {{{ */

div.figure {        /* Surrounds the entire figure */
    text-align:     center;
    margin-top:     1em;
    margin-bottom:  1em;
}

div.figure p.title {
    text-align:     center;
    margin-left:    15%;
    margin-right:   15%;
}

div.example p.title {
    margin-top:     0em;
    margin-bottom:  0.6em;
    text-align:     left;
    padding-bottom: 0.4em;
    border-bottom:  solid 1px gray;
}

div.figure img {
    border:         1px solid gray;
    padding:        0.5em;
    margin:         0.5em;
}

/* ------------------------------------------------------------------- }}} */ 


/* CUSTOM elements (not part of Docbook) ----------------------------- {{{ */

table.revhistory {
    font-size:      0.8em;
    width:          90%;
    margin-left:    5%;
    margin-top:     3em;
    margin-bottom:  3em;
}

/* ------------------------------------------------------------------- }}} */ 

