@import "vs-code.css";

body,
body.light {
  --info-background-color: hsla(90, 80%, 95%, 1.0);
  --info-border-color: hsla(90, 70%, 50%, 1.0);
}
body.dark {
  --info-background-color: hsla(90, 30%, 24%, 1.0);
  --info-border-color: hsla(90, 100%, 13%, 1.0);
}

article .info {
  background-color: var(--info-background-color);
  border-left-color: var(--info-border-color);
}

figure.round .preview,
figure.round img {
  border-radius: calc(0.125 * var(--leading));
}

body.dark figure .preview.light,
body.dark figure img.light {
  display: none;
}
body.light figure .preview.dark,
body.light figure img.dark {
  display: none;
}

.logo > a {
  text-decoration: none;
  display: flex;
}

.logo {
  --logo-height: 1.2rem;
}
@media (min-width: 768px) {
  .logo {
    --logo-height: 1.5rem;
  }
}

.logo svg {
  height: var(--logo-height);
}
.logo span {
  font-size: var(--logo-height);
  line-height: var(--logo-height);
  position: static;
}
@media (min-width: 768px) {
  .logo svg,
  .logo span {
    font-size: var(--logo-height);
  }
  .logo span {
    line-height: var(--logo-height);
  }
}

footer .about .logo {
  padding-left: 0;
}
footer .about .logo svg {
  height: 2rem;
}
footer .about p {
  font-weight: 300;
}

footer nav {
  flex: 1;
  font-family: var(--heading-font-family);
  margin-top: calc(2 * var(--leading));
  margin-bottom: calc(2 * var(--leading));
}
footer nav strong {
  text-transform: uppercase;
  font-size: calc(100% / var(--scale));
  color: var(--text-color-muted);
}

footer nav > ul {
  display: flex;
  flex-direction: row;
}
footer nav > ul > li:not(:last-child) {
  margin-right: var(--leading);
}
footer nav > ul > li > ul {
  margin-top: calc(0.5 * var(--leading));
}
footer nav ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
footer .copyright a,
footer nav a {
  color: var(--text-color-muted) !important;
  text-decoration: none;
}
footer .copyright a:hover,
footer nav a:hover {
  text-decoration: underline;
}
footer .copyright {
  margin-top: var(--leading);
  font-weight: 300;
}

@media (min-width: 768px) {
  footer .about {
    max-width: 16em;
  }

  footer .main {
    display: flex;
    flex-direction: row;
  }

  footer nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  footer nav > ul {
    justify-content: flex-end;
  }

  footer nav > ul > li {
    margin-left: var(--leading);
    margin-right: 0;
  }
}

.spreadsheet {
  border-collapse: collapse;
  position: relative;
  z-index: 1;
  font-size: 85%;
  line-height: 1.0;
  margin: 2em auto;
  border: none;

  --spreadsheet-cell-border-color: #d4d4d4;
  --spreadsheet-header-border-color: #999999;
  --spreadsheet-header-background-color: #e6e6e6;
  --spreadsheet-triangle-color: #b4b4b4;
  --spreadsheet-highlight-background-color: hsl(80, 70%, 95%);
}
.dark .spreadsheet {
  --spreadsheet-cell-border-color: hsla(0, 0%, 100%, 0.10);
  --spreadsheet-header-border-color: hsla(0, 0%, 100%, 0.20);
  --spreadsheet-header-background-color: hsla(207, 28%, 1%, 0.3);
  --spreadsheet-triangle-color: hsla(207, 28%, 20%, 1);
  --spreadsheet-highlight-background-color: hsl(80, 60%, 15%);
}
.spreadsheet th,
.spreadsheet td {
  border: 1px solid var(--spreadsheet-cell-border-color);
  padding: 0.375em 0.5em;
}
.spreadsheet th {
  background-color: var(--spreadsheet-header-background-color);
  border-color: var(--spreadsheet-header-border-color);
  user-select: none;
}
.spreadsheet thead th {
  border-top: none;
}
.spreadsheet th:first-child {
  border-left: none;
}
.spreadsheet thead th:first-child {
  padding: 0;
  width: 1.7em;
}
.spreadsheet .triangle {
  display: inline-block;
  position: relative;
  bottom: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.3em 1.3em;
  border-color: transparent transparent var(--spreadsheet-triangle-color) transparent;
}
.spreadsheet tbody tr:first-child td {
  background-color: var(--spreadsheet-highlight-background-color);
  font-weight: bold;
}

ul ul, ol ul, ul ol, ol ol {
  margin-top: var(--leading);
  margin-bottom: var(--leading);
}

ol > li > ol {
  list-style: lower-alpha;
}


time:after {
  content: attr(datetime);
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.glob-examples .explanation {
  display: block;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.glob-examples p:first-child {
  margin-top: 0;
}

.glob-examples p {
  margin-top: calc(0.5 * var(--leading));
}

.glob-examples td {
  border-bottom: 1pt solid var(--hr-color-muted);
}

.dictionaries tr td:nth-child(n+2) {
  font-size: var(--small-font-size);
}


dl {
  margin-top: var(--leading);
}

dd label:after {
  padding: 0.125em 0.25em;
  margin-right: 0.25rem;
  border-radius: 0.25em;
  border: 1px solid transparent;
  font-weight: normal;
  font-size: var(--small-font-size);
  color: var(--text-color-inverted);
}

dd label:first-of-type:before {
  content: " ";
  display: block;
  margin-top: calc(0.5 * var(--leading));
}

dd label.java-api:after {
  content: "Java API";
  color: hsl(359, 45%, 60%);
  border-color: hsl(359, 45%, 75%);
  background-color: hsla(359, 98%, 36%, 0.1);
}
.dark dd label.java-api:after {
  color: hsl(359, 70%, 70%);
  border-color: hsl(359, 55%, 30%);
  background-color: hsla(359, 98%, 36%, 0.2);
}

dd label.rest-api:after {
  content: "REST API";
  color: hsl(35, 45%, 45%);
  border-color: hsl(35, 45%, 75%);
  background-color: hsla(35, 50%, 55%, 0.1);
}
.dark dd label.rest-api:after {
  color: hsl(35, 70%, 60%);
  border-color: hsl(35, 60%, 30%);
  background-color: hsla(35, 89%, 62%, 0.1);
}

dd label.frontend:after {
  content: "Front-end";
  color: hsl(131, 45%, 45%);
  border-color: hsl(131, 45%, 75%);
  background-color: hsla(131, 50%, 55%, 0.1);
}
.dark dd label.frontend:after {
  color: hsl(131, 65%, 55%);
  border-color: hsl(131, 55%, 25%);
  background-color: hsla(131, 89%, 62%, 0.1);
}

dd label.build:after {
  content: "Build";
  color: hsl(185, 40%, 45%);
  border-color: hsl(185, 35%, 70%);
  background-color: hsla(185, 50%, 55%, 0.1);
}
.dark dd label.build:after {
  color: hsl(185, 100%, 45%);
  border-color: hsl(185, 100%, 23%);
  background-color: hsla(185, 100%, 23%, 0.2);
}

dd label.dependencies:after {
  content: "Dependencies";
  color: hsl(230, 40%, 45%);
  border-color: hsl(230, 35%, 70%);
  background-color: hsla(230, 50%, 55%, 0.1);
}
.dark dd label.dependencies:after {
  color: hsl(230, 80%, 70%);
  border-color: hsl(230, 80%, 40%);
  background-color: hsla(230, 80%, 23%, 0.2);
}
