
table {
  font-size: smaller;
}

table > caption {
  padding-top: .5em;
  padding-bottom: .5em;
  caption-side: top;
}

table {
  border-top: 2pt solid gray;
  border-bottom: 2pt solid gray;
}

thead {
  border-bottom: 1pt solid gray;
}

td, th {
  padding: .5em;
  vertical-align: top;
  text-align: left;
}

thead th {
  text-align: center;
}