/** sprite: vert; sprite-image: url('../img/sprite-vert.png'); sprite-layout: vertical; */
/** sprite: horiz; sprite-image: url('../img/sprite-horiz.png'); sprite-layout: horizontal; */

/** General styles */
body, input, select, label {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
}

/** Noscript message */
#startup div.noscript {
  left: 237px;
  top: 240px;
}

#results div.noscript {
  left: 39px;
  top: 122px;
}

/** Loading indicators */
#loading,
#loading-clusters,
#loading-documents,
#documents #loading-more {
  background-image: url('../../common/img/icon-refresh.png'); /** sprite-ref: vert; sprite-margin-top: 4px; sprite-margin-left: 3px; sprite-margin-bottom: 10px; */
}

#loading-clusters,
#loading-documents {
  top: 2px;
}

/** Util links*/
#util-links {
  font-size: 10px;
}

/** Form controls */
#search-glow {
  padding: 5px;
  margin-top: 2px; 
}

#search {
  width: 52px;
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 15px;
}

#query-glow {
  padding: 3px; 
  margin-top: 3px;
}

#query {
  width: 400px;
  height: 14px;
  padding: 2px 1px 1px 1px;
}

#options {
  width: 407px;
  padding-top: 3px;
  margin-bottom: 20px;
}

#startup #options {
  min-height: 58px;
  *min-height: 56px;
}

#hide-options,
#show-options {
  width: 5ex;
  padding-top: 4px;
  padding-left: 1px;
  line-height: 1;
  font-size: 10px;
}

#hide-advanced-options,
#show-advanced-options {
  font-size: 10px;
  color: #a0a0a0;
}

#hide-advanced-options {
  position: relative;
  top: -4px;
}

/** Startup screen */
#startup #logo {
  background-image: url('../img/c2-logo-startup.png'); /** sprite-ref: vert; sprite-margin-bottom: 16px; */
  top: 110px;
  left: 100px;
}

#startup #logo,
#startup #logo a {
  width: 124px;
  height: 129px;
}

#startup #main-area-top {
  height: 4px;
  background-image: url('../img/border-top.png'); /** sprite-ref: vert; sprite-alignment: repeat */
}

#startup #main-area-bottom {
  height: 4px;
  background-image: url('../img/border-bottom.png'); /** sprite-ref: vert; sprite-alignment: repeat */
}

#startup #main-area-inside {
  margin-bottom: 20px;
  min-height: 146px;
}

#startup #search-area {
  padding-left: 238px;
  padding-top: 10px;
}

#startup #example-queries,
#startup #main-info,
#startup #search-area ul.util-links {
  left: 238px;
}
    
#startup #main-info {
  width: 400px;
  top: 200px;
}

#startup form {
  position: relative;
  left: -2px;
}

#startup #example-queries {
  margin-top: 50px;
}

#startup #search-area ul.util-links {
  padding-top: 13px;
  width: 400px;
  margin-top: 16px;
}

#startup #search-area ul.util-links li {
  font-size: 10px;
}

#startup #main-area {
  margin-top: 150px;
}

/** Results screen */
#results #logo {
  background-image: url('../img/c2-logo-results.png'); /** sprite-ref: horiz; */
  top: 5px;
  left: 10px;
}

#results #logo,
#results #logo a {
  width: 73px;
  height: 67px;
}

#results #main-area {
  top: 33px;
}

#results #main-area-top {
  height: 4px;
  background-image: url('../img/border-top.png'); /** sprite-ref: vert; sprite-alignment: repeat */
}

#results #search-area {
  padding-left: 92px;
  padding-top: 6px;
}

#clusters-panel {
  left: 7px;
  top: 22px;
  bottom: 24px;
}

#documents-panel {
  top: 7px;
  bottom: 24px;
  right: 7px;
}

#results #main-area-inside > .glow-small {
  padding: 3px; 
  float: none; 
  position: absolute; 
  top: 46px; 
  bottom: 10px; 
  left: 10px; 
  right: 10px;
}

#status-bar { 
  height: 17px;
  padding: 0 7px;
  font-size: 10px;
}
