/**
 * CSS for document source tabs.
 */

#startup #source-tabs {
  position: absolute;
  top: -20px;
  left: 234px;
}

#results #source-tabs {
  position: absolute;
  top: -20px;
  left: 90px;
}

#source-tabs {
  min-width: 650px; 
}

ul.tabs {
  font-size: 11px;
  font-weight: bold;
}

#tab-lead-in {
  padding-left: 7px;
  height: 24px;
  background-image: url('../img/tab-passive-lead-in.png'); /** sprite-ref: vert; */
}

div.first-active #tab-lead-in {
  background-image: url('../img/tab-active-lead-in.png'); /** sprite-ref: vert; */
}

ul.tabs li.tab {
  height: 18px;
  padding: 6px 10px 0 2px;
  background-image: url('../img/tab-passive-body.png'); /** sprite-ref: vert; sprite-alignment: repeat */
}

ul.tabs li.active {
  background-image: url('../img/tab-active-body.png'); /** sprite-ref: vert; sprite-alignment: repeat */
}

ul.tabs li.active-last,
ul.tabs li.passive-last {
  padding-right: 10px;
}

ul.tabs li.tab .right {
  height: 24px;
  width: 7px;
  background-image: url('../img/tab-passive-passive-link.png'); /** sprite-ref: vert; sprite-alignment: right */
}

ul.tabs li.active .right {
  background-image: url('../img/tab-active-passive-link.png'); /** sprite-ref: vert; sprite-alignment: right */
}

ul.tabs li.before-active .right {
  background-image: url('../img/tab-passive-active-link.png'); /** sprite-ref: vert; sprite-alignment: right */
}

ul.tabs li.passive-last .right,
ul.tabs li.active-last .right {
  width: 7px;
}

ul.tabs li.passive-last .right {
  background-image: url('../img/tab-passive-lead-out.png'); /** sprite-ref: vert; sprite-alignment: right */
}

ul.tabs li.active-last .right {
  background-image: url('../img/tab-active-lead-out.png'); /** sprite-ref: vert; sprite-alignment: right */
}

ul.tabs .tab a {
  padding-right: 2px;
}

ul.tabs .tab .label {
  padding-left: 16px;
  margin-left: 2px;
}

/** Icons for document sources */
ul.tabs li.tab a {
  background-image: url('../img/sources/default.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .web {
  background-image: url('../img/sources/web.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .boss-news,
ul.tabs li.tab .yahoo-news {
  background-image: url('../img/sources/bulb.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .boss-web,
ul.tabs li.tab .yahoo-web {
  background-image: url('../img/sources/yahoo.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; */
}

ul.tabs li.tab .boss-images {
  background-image: url('../img/sources/images.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 2px */
}

ul.tabs li.tab .google {
  background-image: url('../img/sources/google.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .bing-web {
  background-image: url('../img/sources/bing.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .pubmed {
  background-image: url('../img/sources/pubmed.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .wiki {
  background-image: url('../img/sources/wiki.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px */
}

ul.tabs li.tab .icerocket {
  background-image: url('../img/sources/icerocket.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px; sprite-margin-right: 1px */
  padding-left: 18px;
}

ul.tabs li.tab .indeed {
  background-image: url('../img/sources/indeed.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
  padding-left: 13px;
}

ul.tabs li.tab .put {
  background-image: url('../img/sources/put.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px */
}
