<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Carrot2 document clustering engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/search.css" rel="stylesheet" />

    <!-- TODO: fav and touch icons -->
    <script>
      var loadingTimeout = setTimeout(function() {
        document.body.setAttribute("class", "faded loading");
      }, 150);
    </script>
  </head>

  <body class="faded">
    <div id="search">
      <a id="logo" href="index.html"><img src="assets/img/carrot-search-logo-large.png" /><img src="assets/img/carrot-search-logo-small.png" /></a>
      <ul id="sources" class="nav nav-tabs"></ul>

      <form class="btn-toolbar">
        <input id="query" type="text" />
        <div class="btn-group">
          <button class="btn btn-primary" type="submit">Search</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul id="results" class="dropdown-menu" />
        </div>
      </form>
      
      <p class="intro">
        Lingo3G clustering engine organizes your search results into topics. With an instant overview of what's
        available, you will quickly find what you're looking for.
      </p>
      
      <p id="examples">
        Example queries:
        <span id="queries"></span>
      </p>
    </div>

    <div id="browsing">
      <ul id="views" class="nav nav-tabs"></ul>
    </div>

    <div id="data" class="narrow-view">
      <div id="clusters">
        <div class="listing"></div>
        <div class="indicator">
          <div>
            <div class="outer"></div>
            <div class="inner"></div>
            Loading...
          </div>
        </div>
      </div>

      <div id="documents">
        <div id="summary"></div>
        <div class="listing"></div>
        <div class="indicator">
          <div>
            <div class="outer"></div>
            <div class="inner"></div>
            Loading...
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#">About</a>
      <a href="#">Privacy policy</a>
      <a href="#">Contact</a>
    </div>


    <div id="loading">
      Loading...
      <small>Carrot<sup>2</sup> clustering engine</small>
    </div>

    <!--
    <script src="assets/js/carrot2.data.images.js"></script>
    -->

    <script src="assets/js/jquery-1.7.2.min.js"></script>
    <script src="assets/js/jquery.pathchange.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>

    <script src="assets/js/carrotsearch.pluginhelper.js"></script>
    <script src="assets/js/carrot2.webapp.controller.js"></script>
    <script src="assets/js/carrot2.webapp.search.js"></script>
    <script src="assets/js/carrot2.webapp.clusters.js"></script>
    <script src="assets/js/carrot2.webapp.documents.js"></script>
    <script src="assets/js/carrot2.webapp.view.carrotsearch.visualization.html5.js"></script>
    <script src="assets/js/carrot2.webapp.view.carrotsearch.visualization.flash.js"></script>
    <script src="assets/js/carrot2.webapp.view.folders.js"></script>

    <script src="assets/js/carrotsearch.foamtree.html5.min.js"></script>
    <script src="assets/js/swfobject.js"></script>
    <script src="assets/js/carrotsearch.circles.min.js"></script>

    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ "Oxygen:400" ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <script>
      clearTimeout(loadingTimeout);
      var $controller = $("body").controller({
        searcher: function(params, done) {
          if (typeof carrot2Result != 'undefined') {
            done(carrot2Result);
            return;
          }

          var toDcsSource = {
            web: "etools",
            wikipedia: "wiki",
            images: "images",
            news: "news",
            jobs: "indeed",
            pubmed: "pubmed",
            put: "put"
          };

          $.ajax({
            url: document.location.search == "?preview" ? "../cluster/json" : "cluster/json",
            data: {
              "dcs.source": toDcsSource[params.source],
              "dcs.algorithm": params.algorithm,
              "results": params.results,
              "query": params.query,
              "dcs.clusters.only": false
            },
            success: done,
            dataType: "json"
          });
        },
        search: {
          sources: [
            { id: "web", label: "Web", examples: [ "data mining", "london", "clustering" ] },
            { id: "wikipedia", label: "Wikipedia", examples: [ "photography", "physics", "clustering" ] },
            { id: "images", label: "Images", examples: [ "williams", "apple", "washington" ] },
            { id: "news", label: "News", examples: [ "crisis", "market", "war" ] },
            { id: "jobs", label: "Jobs", examples: [ "java", "manager", "ruby" ] },
            { id: "pubmed", label: "PubMed", examples: [ "cancer", "heart", "lung" ] },
            { id: "put", label: "PUT", examples: [ "idss", "seminaria", "publikacje" ] }
          ],
          results: [ 50, 100, 200 ],
          container: "#search",
          components: {
            query: "#query",
            sources: "#sources",
            examples: "#examples",
            queries: "#queries",
            results: "#results"
          }
        },
        clusters: {
          views: [
            {
              id: "foamtree",
              label: "FoamTree visualization",
              type: "wide",
              plugin: "carrotsearchHtml5Visualization",
              config: {
                factory: function(options) {
                  return new CarrotSearchFoamTree(options);
                },
                options: {
                  backgroundColor: "#fff",
                  groupSelectionOutlineColor: "#444",
                  groupFontFamily: "Oxygen",
                  titleBarFontFamily: "Oxygen",
                  rainbowStartColor: "hsla(0, 85%, 50%, 0.9)",
                  rainbowEndColor: "hsla(300, 85%, 50%, 0.9)"
                }
              }
            },
            {
              id: "circles",
              label: "Circles visualization",
              type: "wide",
              plugin: "carrotsearchFlashVisualization",
              config: {
                factory: function(options) {
                  return new CarrotSearchCircles(options);
                },
                options: {
                  backgroundColor: 0x00000000,
                  visualizationSwfLocation: "assets/swf/com.carrotsearch.visualizations.circles.swf",
                  flashPlayerInstallerSwfLocation: "assets/swf/playerProductInstall.swf",
                  groupOutlineColor: 0xffffffff
                }
              }
            },
            {
              id: "folders",
              label: "Folder view",
              type: "narrow",
              plugin: "foldersView",
              config: {
              }
            }
          ],
          algorithms: [
            {
              id: "lingo",
              label: "topic",
              description: "Topics from Lingo clustering algorithm"
            },
            {
              id: "url",
              label: "URL",
              description: "Domains of the results' URLs"
            },
            {
              id: "stc",
              label: "by topic: STC",
              description: "Topics from STC clustering algorithm",
              other: true
            },
            {
              id: "source",
              label: "by source",
              description: "By results' source",
              other: true
            }
          ],
          container: "#clusters",
          components: {
            views: "#views",
            clusters: "#clusters > .listing",
            data: "#data"
          }
        },
        documents: {
          container: "#documents",
          templates: {
            fallback: _.template('<div id="d<%- id %>">' +
              '<h2><a target="_blank" href="<%- url %>"><%- title %></a></h2>' +
              '<p><%- snippet %></p>' +
              '<a href="<%- url %>"><%- url %></a>' +
              '<span><%= sources.join(\'</span><span>\') %></span>' +
            '</div>'),
            custom: {
              images: _.template('<div class="thumb" id="d<%- id %>">' +
                '<img src="<%- obj.fields[\'thumbnail-url\'] %>" title="<%- title %>" />' +
                '<a target="_blank" href="<%- url %>"><%- title %></a>' +
              '</div>')
            }
          },
          components: {
            summary: "#summary",
            listing: "#documents > .listing"
          }
        },
        defaults: {
          source: "web",
          results: 100,
          view: "foamtree",
          algorithm: "lingo"
        }
      });
    </script>
    <script src="assets/js/carrotsearch.foamtree.html5.min.js"></script>
  </body>
</html>