body {
  font-family: Georgia, Book Antiqua, Garamond, serif;
  font-size: 11pt;
  width: 180mm;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

div.book {
  padding-top: 20mm;
  padding-bottom: 20mm;
}

.titlepage hr {
  display: none;
}

a {
  color: #1678C4;
  text-decoration: none;
}

a:hover {
  color: #005393;
  text-decoration: underline;
}

.chapter .titlepage .title a[name] {
  position: relative;
  top: -30mm;
}

.chapter .section .titlepage .title a[name] {
  top: -10mm;
}

.figure > a[name] {
  top: -5mm;
}

p {
  text-align: justify;
  margin-top: 3mm;
  margin-bottom: 3mm;
}

sup {
  font-size: 80%;
  vertical-align: 30%;
}

.variablelist dt {
  font-weight: bold;
}

#title-logo {
  float: left;
}

.titlepage h1.title {
  font-size: 48pt;
  font-weight: normal;
  margin: 0;
  margin-left: 40mm;
  padding-top: 2mm;
}

.titlepage .releaseinfo,
.titlepage h2.subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 18pt;
  margin-left: 40mm;
  padding-bottom: 0mm;
  margin-bottom: 10mm;
  margin-top: 1mm;
}

.titlepage .releaseinfo {
  margin-top: -10mm;
}


h3.author {
}

.copyright {
  margin: 0;
  margin-left: 40mm;
  font-size: 11pt;
}

.legalnotice {
  margin: 0;
  margin-left: 40mm;
  font-size: 11pt;
}

.abstract {
  clear: both;
  margin-top: 10mm;
  margin-left: 40mm;
}

.abstract .title {
  display: none;
}

.toc {
  page-break-before: always;
}

.toc, .list-of-tables, .list-of-examples, .list-of-figures {
}

.toc dl {
  margin: 0;
}

.toc > dl > dt {
  margin-top: 0.7em;
}

.toc b, .list-of-tables b, .list-of-examples b, .list-of-figures b {
  font-weight: normal;
}

.toc p, .list-of-tables p, .list-of-examples p, .list-of-figures p {
  font-size: 28pt;
  margin-top: 10mm;
  border-bottom: 0.8pt solid black;
}

/** Left margin */

.toc, .chapter, .list-of-tables, .list-of-examples, .list-of-figures {
  padding-left: 40mm;
}

.toc .chapter {
  padding-left: 0mm;
}


/** Chapter and section titles */

div.chapter {
  page-break-before: always;
}

.chapter .titlepage .title {
  display: block;
  margin-top: 30mm;
  border-bottom: 0.8pt solid black;
  font-weight: normal;
  font-size: 34pt;
  position: relative;
}

.chapter .titlepage  {
}

.chapter .titlepage h3.subtitle {
  margin: 0;
  font-weight: normal;
  position: relative;
  top: -9mm;
}

.chapter .section .titlepage h3.subtitle {
  font-size: 13pt;
  font-style: italic;
  top: -4mm;
}

.chapter .titlepage h2.title .n {
  font-size: 64pt;
  font-family: Arial Black, sans-serif;
  display: block;
  position: absolute;
  left: -28mm;
  top: -9.5mm;
  width: 23mm;
  text-align: right;
  background-color: black;
  color: white;
  padding-right: 2mm;
}

.section .titlepage  {
  margin: 0;
}

.section .titlepage h2.title {
  font-size: 20pt;
  margin: 0;
  margin-top: 7mm;
  margin-bottom: 5mm;
  border-bottom: 0.8pt black solid;
  page-break-after: avoid;
  position: relative;
  line-height: 1.4;
}

.section .titlepage h2.title .n {
  background-color: white;
  color: black;
  display: inline;
  font-size: 21pt;
  font-family: Arial Black;
  margin: 0;
  width: 25mm;
  position: absolute;
  bottom: -2mm;
  top: auto;
  left: -28mm;
  line-height: 130%;
  border-bottom: 6pt black solid;
  padding-right: 0;
}

.section .simplesect .titlepage h3.title,
.section .section .titlepage h3.title {
  font-size: 16pt;
  margin: 0;
  margin-top: 7.3mm;
  border: 0;
  page-break-after: avoid;
}

.section .section .titlepage h3.title .n {
  background-color: white;
  color: black;
  display: inline;
  font-size: 16pt;
  font-family: Book Antiqua, Garamond, serif;
  margin: 0;
  width: 25mm;
  position: absolute;
  bottom: 0;
  left: -28mm;
  text-align: right;
  border: 0;
}

.section .section .section .titlepage h4.title {
  font-size: 12pt;
  font-weight: bold;
  clear: both;
  margin: 0;
  margin-top: 6mm;
  page-break-after: avoid;
  border: none;
}

.section .section .section .titlepage h4.title .n {
  display: none;
}

/** Object titles */

.example, .figure, .table, p.margin {
  margin-bottom: 6mm;
  position: relative;
}

.table .title .n,
.example .title .n,
.figure .title .n
{
  display: block;
  font-weight: bold;
}

.table p.title b,
.example p.title b,
.figure p.title b 
{
  font-weight: normal;
}

.table p.title,
.example p.title,
.figure p.title,
p.margin > b
{
  font-style: italic;
  position: absolute;
  width: 35mm;
  text-align: right;
  margin: 0;
  left: -38mm;
  top: 0;
}

p.margin > b {
  top: 0.5mm;
}


.programlisting {
  border: 1px solid #b0b0b0;
  background-color: #f0f0f0;
  padding: 2mm;
  margin: 0;
  margin-top: 3mm;
  margin-bottom: 3mm;
  font-size: 8pt;
}

/** Admonitions */

div.note, div.important, div.tip, div.caution {
  padding-left: 35px;
  background-repeat: no-repeat;
  margin: 10mm 15mm 10mm 10mm;
  text-align: justify;
}

div.tip {
  background-image: url('../img/tip.gif');
}

div.note {
  background-image: url('../img/note.gif');
}

div.important {
  background-image: url('../img/important.gif');
}

div.caution {
  background-image: url('../img/caution.gif');
}

div.note h3.title, div.important h3.title, div.tip h3.title, div.caution h3.title {
  font-size: 12pt;
  margin: 0;
  padding-bottom: 1mm;
  margin-bottom: 1mm;
  border-bottom: 1px dotted #404040;
}

/** Tables */

div.table table,
div.informaltable table {
  border-collapse: collapse;
  margin-top: 4px;
  width: 100%;
}

div.table table th,
div.table table td,
div.informaltable table td {
  vertical-align: top;
  padding: 2px 4px;
  border: 1px dotted #808080;
}

div.table table th {
  vertical-align: midle;
}
  
div.table thead tr,
div.informaltable table td.rowhead {
  width: 8em;
  background-color: #e8e8e8;
}

td.center {
  text-align: center !important;
  vertical-align: middle !important;
} 

tbody.footnotes td {
  border: none !important;
}

/** Inline elements */
span.guibutton,
span.guilabel {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 90%;
}

.constant {
  font-size: 90%;
  line-height: 150%;
}

span.guiicon span.inlinemediaobject img {
  padding: 2px;
  border: 1px solid #aaa;
  vertical-align: text-bottom;
  -moz-border-radius: 2px;
}

/** Q & A */
.qandaset table {
  position: relative;
  left: -2mm;
}

.qandaset table tr.toc td {
  padding-left: 2mm;
}

.qandaset table tr.question p {
  margin-bottom: 0;
}

.qandaset table tr.answer p {
  margin-top: 0;
}

span.human-readable-label {
  color: #aaa;
}


div[title="Feed URL template"] dl > dd > p > code {
	display: block;
	width: 26em;
	word-wrap: break-word;
}
