@import "~typeface-lato";
@import "~typeface-raleway";

:root {
  --leading: 1rem;
  --background-color-main-dark: hsl(207, 23%, 17%);
  --backdrop-color-hue: 0;
}

.light,
body {
  --background-color: #fff;
  --background-color-secondary: #f4f4f4;
  --background-color-tertiary: #fbfbfb;

  --nav-background-color: hsla(207, 23%, 5%, 0.9);
  --nav-text-color: rgba(255, 255, 255, 0.75);

  --logo-color: #1d3557;
  --logo-color-inverted: #fff;

  --text-highlight-background-color: hsla(210, 80%, 75%, 0.1);
  --text-highlight-border-color: hsla(210, 80%, 75%, 0.25);

  --text-color: black;
  --text-color-inverted: white;
  --text-color-light: rgba(0, 0, 0, 0.8);
  --text-color-lighter: rgba(0, 0, 0, 0.6);
  --text-color-lightest: rgba(0, 0, 0, 0.4);
  --text-color-secondary: hsla(208, 30%, 50%, 1);
  --text-color-red: hsla(0, 80%, 55%, 1);
  --text-color-green: hsla(120, 80%, 40%, 1);

  --link-color: hsl(203, 82%, 35%);
  --link-icon-color: hsl(203, 82%, 70%);

  --border-color: rgba(0, 0, 0, 0.12);
  --hr-color: hsla(0, 0%, 0%, 0.15);

  --item-icon-color: hsl(45, 100%, 50%);
  --label-icon-color: var(--item-icon-color);

  --kbd-outer-border-color: #ccc;
  --kbd-inner-border-color: var(--background-color);
  --kbd-background-color: hsla(0, 0%, 0%, 0.07);

  --tab-background-color: hsl(208, 50%, 95%);
  --tab-border-color: hsl(0, 0%, 91%);
  --tab-accent-color: hsl(208, 82%, 45%);

  --overlay-background-color: hsla(0, 0%, 100%, 0.7);
}

.dark {
  --background-color: hsl(210, 18%, 15%);
  --background-color-secondary: hsl(210, 18%, 18%);
  --background-color-tertiary: hsl(210, 18%, 16.5%);

  --nav-background-color: hsla(207, 28%, 1%, 0.3);
  --nav-text-color: rgba(255, 255, 255, 0.75);

  --logo-color: #fff;
  --logo-color-inverted: #1d3557;

  --text-highlight-background-color: hsla(210, 80%, 75%, 0.1);
  --text-highlight-border-color: hsla(210, 80%, 75%, 0.25);

  --text-color: rgba(255, 255, 255, 1);
  --text-color-inverted: black;
  --text-color-light: rgba(255, 255, 255, 0.75);
  --text-color-lighter: rgba(255, 255, 255, 0.55);
  --text-color-lightest: rgba(255, 255, 255, 0.3);
  --text-color-secondary: hsla(208, 30%, 70%, 1);
  --text-color-red: hsla(0, 70%, 50%, 1);
  --text-color-green: hsla(120, 80%, 40%, 1);

  --link-color: hsl(203, 85%, 61%);
  --link-icon-color: hsl(203, 82%, 40%);

  --border-color: rgba(255, 255, 255, 0.12);
  --hr-color: hsla(0, 0%, 100%, 0.15);

  --item-icon-color: #ffb366;
  --label-icon-color: var(--item-icon-color);

  --kbd-outer-border-color: hsl(207, 28%, 11%);
  --kbd-inner-border-color: hsl(207, 23%, 27%);
  --kbd-background-color: hsl(207, 23%, 22%);

  --tab-background-color: hsl(207, 23%, 22%);
  --tab-border-color: hsl(207, 28%, 12%);
  --tab-accent-color: hsl(208, 82%, 55%);

  --overlay-background-color: hsla(0, 0%, 0%, 0.7);
}

.dark {
  -webkit-font-smoothing: antialiased;
}


body,
input,
button,
select {
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

textarea,
code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

