/** 
 * CSS for the cluster tree.
 */
#clusters {
  margin-left: 2px;
}
 
#clusters li {
  padding-left: 18px;
}

#clusters li a {
  background-position: left 4px;
  background-image: url('../img/tree-folder.gif'); /** sprite-ref: vert; sprite-margin-top: 4px; sprite-margin-bottom: 100px */
  padding-left: 18px;
}

a#tree-top {
  background-position: left 3px;
  background-image: url('../img/tree-folder.gif'); /** sprite-ref: vert; sprite-margin-top: 3px; sprite-margin-bottom: 100px */
  padding-left: 18px;
}

#clusters li > a > span.tree {
  margin-left:  -34px;
  margin-top: 2px;
}

#clusters li.branch > a > span.tree {
  width: 12px; 
  height: 15px;
  background-image: url('../img/tree-branch.gif'); /** sprite-ref: vert; sprite-margin-right: 300px */
}

#clusters li.more a {
  background-position: left 2px;
  background-image: url('../img/tree-more.gif'); /** sprite-ref: vert; sprite-margin-top: 2px; sprite-margin-bottom: 5px */
}

#always-show-all {
  font-size: 11px;
  margin-left: 37px;
}
