/** sprite: vert; sprite-image: url('../img/sprite-vert.png'); sprite-layout: vertical; */
/** sprite: horiz; sprite-image: url('../img/sprite-horiz.png'); sprite-layout: horizontal; */

/** General page styling */
body, input, select, label, button {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
}

#loading,
#loading-clusters,
#loading-documents,
#documents #loading-more {
  background-image: url('../../common/img/icon-refresh.png'); /** sprite-ref: vert; sprite-margin-top: 4px; sprite-margin-left: 3px; sprite-margin-bottom: 10px; */
}

#util-links {
  font-size: 10px;
}

/** Noscript message */
#startup div.noscript
{
  top: 238px;
  left: 234px;
}

#results div.noscript
{
  top: 128px;
  left: 36px;
}

/** Startup screen */
#startup #logo {
  background-image: url('../img/c2-logo-startup.png'); /** sprite-ref: vert; sprite-margin-bottom: 16px; */
  top: 107px;
  left: 100px;
}

#startup #logo,
#startup #logo a {
  width: 124px;
  height: 129px;
}

#startup #main-area-inside {
  background-color: #F6F4EC;
  border-top: 1px solid #b6afa8;
  border-bottom: 1px solid #b6afa8;
  padding-bottom: 16px;
  min-height: 140px;
}

#startup #search-area {
  margin-left: 235px;
  margin-top: 15px;
}

#startup #example-queries,
#startup #main-info,
#startup #search-area ul.util-links {
  left: 235px;
  font-size: 11px;
}
      
#startup #search-area ul.util-links {
  font-size: 10px;  
}

#startup #main-info {
  top: 197px;
  width: 355px;
}

#startup form {
  position: relative;
  left: -1px;
}

#startup #example-queries {
  margin-top: 50px;
  color: #606060;
  width: 360px;
}

#startup #search-area ul.util-links {
  border-top: 1px #d0d0d0 solid;
  width: 360px;
  padding-top: 7px;
  margin-top: 16px;
}

#startup #main-area {
  margin-top: 150px;
}

/** Form controls */
#search {
  border: 1px solid #0054a6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 2px 1px 2px;
  margin-right: 3px; 
  -height: 20px;
  -padding: 0;
}

*+html #search {
  height: 20px;
  padding: 1px 0 0 0;
}

#query {
  border: 1px solid #b6afa8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 2px 3px 2px;
  margin-right: 3px; 
  width: 350px;
}

#hide-options,
#show-options {
  width: 5ex;
  font-size: 10px;
}

#options {
  width: 356px;
  padding-top: 7px;
  *padding-top: 0px;
  *margin-top: -10px;
  -margin-top: 7px;
  margin-bottom: 10px;
}

#startup #options {
  min-height: 58px;
  -height: 58px;
}

#hide-advanced-options,
#show-advanced-options {
  font-size: 10px;
  color: #a0a0a0;
}

#hide-advanced-options {
  position: relative;
  top: -4px;
}

/** Results screen */
#results #logo {
  background-image: url('../img/c2-logo-results.png'); /** sprite-ref: horiz; */
  top: 5px;
  left: 10px;
}

#results #logo,
#results #logo a {
  width: 73px;
  height: 67px;
}

#results #main-area {
  background-color: #F6F4EC;
  top: 36px;
  bottom: 0px;
  -height: expression(document.documentElement.clientHeight - 37);
}

#results #main-area-inside {
  border-top: 1px solid #b6afa8;
}

#results #search-area {
  margin-left: 90px;
  margin-top: 15px;
}

#results-area {
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid #B6AFA8;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  margin: 10px;
  margin-top: 0;
  -width: expression(document.documentElement.clientWidth - 20);
  -height: expression(document.documentElement.clientHeight - 100);
}

#clusters-panel {
  top: 22px;
  bottom: 24px;
  -height: expression(document.documentElement.clientHeight - 130 - 15);
}

#documents-panel {
  bottom: 24px;
  right: 7px;
  -height: expression(document.documentElement.clientHeight - 130);
}

.visu #documents {
  width: expression(document.documentElement.clientWidth - 20 - 675 - 7);
}

#split-panel {
  -height: expression(document.documentElement.clientHeight - 117);
  border-left: 1px solid #f0f0f0;
}

#status-bar {
  height: 14px;
  border-top: 1px solid #e0e0e0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 4px;
  -width: expression(document.documentElement.clientWidth - 29);
}


/** Different panel split for visualization */
.visu #documents-panel {
  -width: expression(document.documentElement.clientWidth - 20 - 677 - 7);
}
