/**
 * Common CSS for document source tabs.
 */
#startup #source-tabs {
  position: absolute;
  top: -25px;
  left: 234px;
}

#results #source-tabs {
  position: absolute;
  top: -25px;
  left: 90px;
}

ul.tabs li.tab {
  border: 1px solid #b6afa8;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 2px;
  padding: 5px 5px 4px 5px;
  background-color: #ebe9e1;
}

ul.tabs li.active {
  background-color: #F6F4EC;
  border-bottom: none;
  padding-bottom: 5px;
}

ul.tabs .tab .label {
  padding-left: 16px;
}

ul#source-descriptions {
  margin-bottom: 50px;
}

#source-descriptions li.tab {
  background-color: transparent;
  border-style: none;
}

/** Icons for document sources */
ul.tabs li.tab a {
  background-image: url('../img/sources/default.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .web {
  background-image: url('../img/sources/web.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .boss-news,
ul.tabs li.tab .yahoo-news {
  background-image: url('../img/sources/bulb.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .boss-web,
ul.tabs li.tab .yahoo-web {
  background-image: url('../img/sources/yahoo.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px */
}

ul.tabs li.tab .boss-images {
  background-image: url('../img/sources/images.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 2px; sprite-margin-left: 1px */
}

ul.tabs li.tab .google {
  background-image: url('../img/sources/google.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .bing-web {
  background-image: url('../img/sources/bing.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .wiki {
  background-image: url('../img/sources/wiki.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px */
}

ul.tabs li.tab .indeed {
  background-image: url('../img/sources/indeed.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-left: 2px */
  padding-left: 13px;
}

ul.tabs li.tab .pubmed {
  background-image: url('../img/sources/pubmed.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px */
}

ul.tabs li.tab .icerocket {
  background-image: url('../img/sources/icerocket.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px; sprite-margin-right: 1px */
  padding-left: 18px;
}

ul.tabs li.tab .put {
  background-image: url('../img/sources/put.png'); /** sprite-ref: vert; sprite-margin-bottom: 10px; sprite-margin-top: 1px */
}
