/** 
 * Common CSS for view tabs
 */
 
#views {
  margin-left: -1px;
  margin-top: -1px;
}

#views li.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid;
}

#views li.passive {
  border-color: #B6AFA8;
  border-top-color: #d0d0d0;
}

#views li.active {
  border-color: #B6AFA8;
}

#views li.active-last {
  border-right: none;
}

#views li {
  padding: 0 3px;
  background-color: #F6F4EC;
  border-style: solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
}

#views li a {
  text-decoration: none;
  font-weight: bold;
  color: #94938F;
}

#views li.active {
  background-color: white;
  border-bottom: none;
}
