
/** General styles */
body, input, select, label {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
}

/** Noscript message */
#startup div.noscript {
  left: 237px;
  top: 200px;
}

#results div.noscript {
  left: 39px;
  top: 122px;
}

/** Loading indicators */
#loading,
#loading-clusters,
#loading-documents {
  background-image: url('../img/sprite-vert.png');
  background-position: left -0px;
}

#loading-clusters,
#loading-documents {
  top: 2px;
}

/** Util links*/
#util-links {
  font-size: 10px;
}

/** Form controls */
#search-glow {
  padding: 5px;
  margin-top: 2px; 
}

#search {
  width: 52px;
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 15px;
}

#query-glow {
  padding: 3px; 
  margin-top: 3px;
}

#query {
  width: 400px;
  height: 14px;
  padding: 2px 1px 1px 1px;
}

#options {
  width: 407px;
  padding-top: 3px;
  margin-bottom: 20px;
}

#startup #options {
  min-height: 54px;
}

#show-options {
  width: 5ex;
  padding-top: 4px;
  padding-left: 1px;
  line-height: 1;
  font-size: 10px;
}

/** Startup screen */
#startup #logo {
  background-image: url('../img/sprite-vert.png');
  background-position: left -20px;
  top: 110px;
  left: 100px;
}

#startup #logo,
#startup #logo a {
  width: 124px;
  height: 113px;
}

#startup #main-area-top {
  height: 4px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -133px;
}

#startup #main-area-bottom {
  height: 4px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -137px;
}

#startup #main-area-inside {
  margin-bottom: 20px;
  min-height: 144px;
}

#startup #search-area {
  padding-left: 236px;
  padding-top: 10px;
}

#startup #extra-info {
  padding-top: 10px;
  padding-left: 1px;
  width: 400px;
  font-size: 11px;
}

#startup #example-queries {
  margin-top: 7px;
}

#startup #search-area ul.util-links {
  margin-top: 14px;
  padding-top: 13px;
  width: 400px;
}

#startup #search-area ul.util-links li {
  font-size: 11px;
}

#startup #main-area {
  top: 150px;
}

/** Results screen */
#results #logo {
  background-image: url('../img/sprite-horiz.png');
  background-position: -0px top;
  top: 5px;
  left: 10px;
}

#results #logo,
#results #logo a {
  width: 73px;
  height: 67px;
}

#results #main-area {
  top: 33px;
}

#results #main-area-top {
  height: 6px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -141px;
}

#results #search-area {
  padding-left: 92px;
  padding-top: 6px;
}

#clusters-panel {
  left: 7px;
  top: 22px;
  bottom: 24px;
}

#documents-panel {
  top: 7px;
  bottom: 24px;
  right: 7px;
}

#results #main-area-inside > .glow-small {
  padding: 3px; 
  float: none; 
  position: absolute; 
  top: 46px; 
  bottom: 10px; 
  left: 10px; 
  right: 10px;
}

#status-bar { 
  height: 17px;
  padding: 0 7px;
  font-size: 10px;
}
