/** 
 * CSS for view tabs
 */
 
#views {
  padding-left: 3px;
  height: 20px;
  background-image: url('../img/sprite-vert.png');
  background-position: left -145px;
}

#views.first-active {
  background-image: url('../img/sprite-vert.png');
  background-position: left -165px;
}

#views li {
  background-image: url('../img/sprite-vert.png');
  background-position: left -185px;
  padding-top: 3px;
  height: 17px;
  padding-right: 9px;
  padding-left: 3px;
}

#views li.active {
  background-image: url('../img/sprite-vert.png');
  background-position: left -205px;
}

#views li .right {
  width: 6px;
  height: 20px;
}

#views li .right {
  background-image: url('../img/tab-small-passive-passive-link.png'); /** sprite-ref: vert; */
}

#views li.active .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -225px;
}

#views li.active-last .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -245px;
}

#views li.passive-last .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -265px;
}

#views li.before-active .right {
  background-image: url('../img/sprite-vert.png');
  background-position: left -285px;
}
