.ClusterList {
  overflow-y: auto;
  height: 100%;
  margin-left: -0.5em;
}

.ClusterList > div {
  text-align: left;
  column-width: 18em;
  column-gap: 1em;
  padding-left: 0.5em;
  padding-right: 0.75em;
}
.ClusterList .Loading {
  padding-left: 0.5em;
}

.ClusterList .TopCluster {
  margin-bottom: 0.5em;
  padding: 0.25em 0.25em 0.25em 1.5em;
  position: relative;
  border-radius: 0.25em;
  cursor: pointer;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  border: 2px solid transparent;
}
.ClusterList .TopCluster.with-subclusters {
  margin-bottom: 2em;
}
.ClusterList.flat .TopCluster {
  padding-bottom: 0.25em;
  margin-bottom: 0;
}

.ClusterList .TopCluster > .icon {
  position: absolute;
  margin-left: -1.25em;
  margin-top: 0.125em;
}

.ClusterList:not(.flat) .TopCluster > .labels {
  text-transform: uppercase;
}

.ClusterList .TopCluster.with-subclusters > .subclusters {
  margin-top: 0.5em;
}

.ClusterList .TopCluster.selected {
  background-color: rgba(59, 131, 192, 0.05);
  border: var(--selection-border-width) solid rgba(59, 131, 192, 0.3);
}

.ClusterList .labels {
  border-radius: 0.125em 0 0 0.125em;
}
.ClusterList .meta {
  font-weight: 300;
  white-space: nowrap;
  opacity: 0.7;
  border-radius: 0 0.125em 0.125em 0;
}

.ClusterList .SubCluster {
  line-height: 1.5;
}

.ClusterList .SubCluster > .icon {
  white-space: nowrap;
  margin-right: 0.125em;
}

.ClusterList .SubCluster:not(:last-child) {
  margin-right: 0.5em;
}

.ClusterList .SubCluster.selected .meta {
  background-color: rgba(59, 131, 192, 0.3);
  box-shadow: 1.125px 0 0 2px rgba(59, 131, 192, 0.3);
}

.ClusterList .SubCluster.selected .labels {
  background-color: rgba(59, 131, 192, 0.3);
  box-shadow: 0 0 0 2px rgba(59, 131, 192, 0.3);
}

.ClusterList .icon {
  color: var(--item-icon-color);
}
