<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.carrot2.core.componentSuite">
      <suite
            name="Carrot2 Component Suite"
            resourceRoot="suites/"
            resource="suites/suite-workbench.xml">
      </suite>
   </extension>
</plugin>
