/** 
 * CSS for the documents list. 
 */

#documents {
  font-size: 13px;
  top: 29px;
}

#documents-status {
  margin-top: 3px;
  margin-left: 17px;
  font-size: 13px;
}

div.document {
  border-left: 2px dotted #a0a0a0;
}

a.in-clusters,
a.in-new-window,
a.show-preview {
  padding-left: 16px;
  background-position: right 2px;
}

a.in-clusters {
  background-image: url('../../common/img/icon-in-clusters.gif'); /** sprite-ref: vert; sprite-alignment: right; sprite-margin-bottom: 20px; sprite-margin-top: 2px */
}

a.in-new-window {
  background-image: url('../../common/img/icon-in-new-window.gif'); /** sprite-ref: vert; sprite-alignment: right; sprite-margin-bottom: 20px; sprite-margin-top: 2px */
}

a.show-preview {
  background-image: url('../../common/img/icon-show-preview.gif'); /** sprite-ref: vert; sprite-alignment: right; sprite-margin-bottom: 20px; sprite-margin-top: 2px */
}

