/** sprite: vert; sprite-image: url('../img/sprite-vert.png'); sprite-layout: vertical; */
/** sprite: horiz; sprite-image: url('../img/sprite-horiz.png'); sprite-layout: horizontal; */

/** General styles */
body, input, select, label {
  font-family: Trebuchet MS, sans-serif;
  font-size: 12px;
}

input, select, label {
  font-size: 13px;
}

/** Noscript message */
#startup div.noscript {
  left: 237px;
  top: 255px;
}

#results div.noscript {
  left: 32px;
  top: 155px;
}

/** Loading indicators */
#loading,
#loading-clusters,
#loading-documents,
#documents #loading-more {
  background-image: url('../../common/img/icon-refresh.png'); /** sprite-ref: vert; sprite-margin-top: 4px; sprite-margin-left: 3px; sprite-margin-bottom: 10px; */
}

#loading-clusters,
#loading-documents {
  top: 3px;
}

/** Util links*/
#util-links {
  font-size: 11px;
  margin-top: 3px;
  margin-right: 5px;
}

/** Form controls */
#search-glow {
  padding: 7px; 
}

#search {
  width: 63px;
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 1px;
  height: 20px;
}

#query-glow {
  padding: 4px; 
  margin-top: 3px;
}

#query {
  width: 400px;
  height: 17px;
  padding: 2px 1px 1px 1px;
}

#options {
  width: 409px;
  padding-top: 3px;
  margin-bottom: 20px;
}

#startup #options {
  min-height: 65px;
}

#hide-options,
#show-options {
  width: 5ex;
  padding-top: 5px;
  padding-left: 1px;
  padding-bottom: 1px;
  line-height: 1;
  font-size: 11px;
}

#hide-advanced-options,
#show-advanced-options {
  font-size: 11px;
  color: #a0a0a0;
}

#hide-advanced-options {
  position: relative;
  top: -4px;
}

/** Startup screen */
#startup #logo {
  background-image: url('../img/c2-logo-startup.gif'); /** sprite-ref: vert; */
  width: 168px;
  height: 179px;
  top: 95px;
  left: 51px;
}

#startup #logo a {
  width: 168px;
  height: 179px;
}

#startup #main-area-top,
#results #main-area-top {
    height: 6px;
  background-image: url('../img/border-top.gif'); /** sprite-ref: vert; sprite-alignment: repeat */
}

#startup #main-area-bottom {
  height: 6px;
  background-image: url('../img/border-bottom.gif'); /** sprite-ref: vert; sprite-alignment: repeat */
}

#startup #main-area-inside {
  margin-bottom: 20px;
  min-height: 165px;
}

#startup #search-area {
  padding-left: 238px;
  padding-top: 15px;
}

#startup #main-info,
#startup #example-queries,
#startup #search-area ul.util-links {
  left: 238px;
}

#startup #main-info {
  width: 435px;
  top: 210px;
  font-size: 13px;
}

#startup form {
  position: relative;
  left: -2px;
}

#startup #example-queries {
  margin-top: 54px;
  *margin-top: 60px;
  font-size: 13px;
}

#startup #search-area ul.util-links {
  margin-top: 16px;
  padding-top: 12px;
  width: 400px;
}

#startup #search-area ul.util-links li {
  font-size: 11px;
}

#startup #main-area {
  margin-top: 150px;
}

/** Results screen */
#results #logo {
  background-image: url('../img/c2-logo-results.gif'); /** sprite-ref: horiz; */
  width: 101px;
  height: 94px;
  top: 10px;
  left: 16px;
}

#results #logo a {
  width: 101px;
  height: 94px;
}

#results #main-area {
  top: 47px;
}

#results #search-area {
  padding-left: 130px;
  padding-top: 15px;
}

#clusters-panel {
  left: 7px;
  top: 30px;
  bottom: 24px;
}

#documents-panel {
  top: 7px;
  bottom: 24px;
  right: 7px;
}

#results #main-area-inside > .glow-small {
  padding: 4px; 
  float: none; 
  position: absolute; 
  top: 65px; 
  bottom: 10px; 
  left: 10px; 
  right: 10px;
}

#status-bar { 
  height: 19px;
  padding: 0 9px;
  font-size: 10px;
}
