<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="attributeEditor" name="Attribute Editor" schema="schema/attributeEditor.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.carrot2.workbench.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.carrot2.workbench.core.ui.perspectives.SearchPerspective"
            icon="icons/perspective_search.png"
            id="org.carrot2.workbench.core.perspective.search"
            name="Search">
      </perspective>
      <perspective
            class="org.carrot2.workbench.core.ui.perspectives.VisualizationPerspective"
            icon="icons/perspective_visualization.png"
            id="org.carrot2.workbench.core.perspective.visualization"
            name="Visualization">
      </perspective>
      <perspective
            class="org.carrot2.workbench.core.ui.perspectives.TuningPerspective"
            icon="icons/perspective_tuning.png"
            id="org.carrot2.workbench.core.perspective.tuning"
            name="Tuning">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.carrot2.workbench.core.application"
            name="Carrot2 Workbench"
            description="%productBlurb">
         <property
               name="appName"
               value="Carrot2 Workbench">
         </property>
         <property
               name="windowImages"
               value="icons/logotype/16x16x32.png,icons/logotype/32x32x32.png,icons/logotype/128x128x32.png,icons/logotype/256x256x32.png">
         </property>
         <property
               name="aboutText"
               value="Carrot2 Workbench&#x0A;&#x0A;(c) Carrot2 developers.  All rights reserved.&#x0A;Visit http://carrot2.org for more information.&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/.">
         </property>
         <property
               name="aboutImage"
	       value="icons/logotype/128x128x32.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property 
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_classic">
         </property>
         <property
               name="applicationCSSResources" 
               value="platform:/plugin/org.eclipse.ui.themes/images/"> 
         </property>         
      </product>
   </extension>
   <extension
         id="views"
         point="org.eclipse.ui.views">
      <view
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.SearchInputView"
            icon="icons/view_search.png"
            id="org.carrot2.workbench.core.views.search"
            name="Search">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.DocumentListView"
            icon="icons/view_documents.png"
            id="org.carrot2.workbench.core.views.documents"
            name="Documents">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.ClusterTreeView"
            icon="icons/view_clusters.png"
            id="org.carrot2.workbench.core.views.clusters"
            name="Clusters">
      </view>
      <view
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.AttributeView"
            icon="icons/view_attributes.png"
            id="org.carrot2.workbench.core.views.attributes"
            name="Attributes">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.AttributeInfoView"
            icon="icons/view_attribute_info.png"
            id="org.carrot2.workbench.core.views.attributeInfo"
            name="Attribute Info">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.workbench.category"
            class="org.carrot2.workbench.core.ui.BenchmarkView"
            icon="icons/view_benchmark.png"
            id="org.carrot2.workbench.core.views.benchmark"
            name="Benchmark">
      </view>

      <category
            id="org.carrot2.workbench.core.workbench.category"
            name="Carrot2">
      </category>

      <!-- Simulated categories and views from org.eclipse.ui.ide -->
      <view
            name="Progress"
            icon="icons/pview.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.progress.ProgressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.carrot2.workbench.core.ui.SearchEditor"
            icon="icons/results.png"
            id="org.carrot2.workbench.core.editors.searchEditor"
            name="Results Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.carrot2.workbench.core.ui.SearchInputFactory"
            id="org.carrot2.workbench.core.searchParametersFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.carrot2.workbench.core.preferences.WorkbenchPreferencesPage"
            id="org.carrot2.workbench.core.preferences.WorkbenchPreferencePage"
            name="Workbench">
      </page>
      <page
            class="org.carrot2.workbench.core.preferences.GeneralPreferencesPage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.carrot2.workbench.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.search">
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.visualization" />
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.tuning" />
         <viewShortcut
               id="org.carrot2.workbench.core.views.documents">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.clusters">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.attributes">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.attributeInfo">
         </viewShortcut>

         <view
               id="org.carrot2.workbench.core.views.attributeInfo"
               ratio="0.75"
               relationship="right"
               visible="true"
               relative="org.eclipse.ui.editorss"/>

         <view
               id="org.carrot2.workbench.core.views.attributes"
               ratio="0.50"
               relationship="top"
               visible="true"
               relative="org.carrot2.workbench.core.views.attributeInfo"/>

         <view
               id="org.carrot2.workbench.core.views.clusters"
               ratio="0.50"
               relationship="bottom"
               visible="false"
               relative="org.carrot2.workbench.core.views.search"/>

         <view
               id="org.carrot2.workbench.core.views.documents"
               relationship="stack"
               visible="false"
               relative="org.carrot2.workbench.core.views.clusters"/>

         <view
               id="org.carrot2.workbench.core.views.benchmark"
               relationship="stack"
               visible="false"
               relative="org.carrot2.workbench.core.views.clusters" />

         <view
               id="org.carrot2.workbench.views.foamtree"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>

         <view
               id="org.carrot2.workbench.views.circles"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>
         
         <view
               id="org.carrot2.workbench.views.aduna"
               relationship="stack"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters">
         </view>         
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.visualization">
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.search" />
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.tuning" />

         <view
               id="org.carrot2.workbench.core.views.documents"
               ratio="0.30"
               relationship="right"
               visible="false"
               relative="org.eclipse.ui.editorss"/>

         <view
               id="org.carrot2.workbench.core.views.search"
               ratio="0.30"
               relationship="top"
               visible="true"
               relative="org.eclipse.ui.editorss" />
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.carrot2.workbench.core.perspective.tuning">
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.search" />
         <perspectiveShortcut id="org.carrot2.workbench.core.perspective.visualization" />
         <viewShortcut
               id="org.carrot2.workbench.core.views.documents">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.clusters">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.attributes">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.attributeInfo">
         </viewShortcut>
         <viewShortcut
               id="org.carrot2.workbench.core.views.benchmark">
         </viewShortcut>

         <view
               id="org.carrot2.workbench.core.views.attributeInfo"
               ratio="0.70"
               relationship="right"
               visible="true"
               relative="org.eclipse.ui.editorss"/>

         <view
               id="org.carrot2.workbench.core.views.attributes"
               ratio="0.75"
               relationship="top"
               visible="true"
               relative="org.carrot2.workbench.core.views.attributeInfo"/>

         <view
               id="org.eclipse.ui.views.PropertySheet"
               ratio="0.33"
               relationship="bottom"
               visible="true"
               relative="org.carrot2.workbench.core.views.search"/>

         <view
               id="org.carrot2.workbench.core.views.clusters"
               relationship="stack"
               visible="true"
               relative="org.eclipse.ui.views.PropertySheet"/>

         <view
               id="org.carrot2.workbench.core.views.documents"
               relationship="stack"
               visible="false"
               relative="org.carrot2.workbench.core.views.clusters"/>

         <view
               id="org.eclipse.ui.views.ProgressView"
               ratio="0.70"
               relationship="bottom"
               visible="true"
               relative="org.carrot2.workbench.core.views.clusters" />

         <view
               id="org.eclipse.pde.runtime.LogView"
               relationship="stack"
               visible="true"
               relative="org.eclipse.ui.views.ProgressView" />

         <view
               id="org.carrot2.workbench.core.views.benchmark"
               relationship="stack"
               visible="true"
               relative="org.eclipse.ui.views.ProgressView" />               
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.carrot2.workbench.core.ui.searchEditorActions"
            targetID="org.carrot2.workbench.core.editors.searchEditor">
      </editorContribution>
   </extension>
   <extension
         id="org.carrot2.workbench.core.ui.bindings"
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.carrot2.workbench.core.ui.actions.ReprocessCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="org.carrot2.workbench.core.ui.actions.ReprocessFlushCachesCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+M1+R">
      </key>
   </extension>
   <extension
         id="org.carrot2.workbench.core.ui.commands"
         point="org.eclipse.ui.commands">
      <command
            description="Restart processing, bypass input data cache."
            id="org.carrot2.workbench.core.ui.actions.ReprocessFlushCachesCommand"
            name="Restart Processing (bypass cached input)">
      </command>
      <command
            description="Restart processing in the currently active editor."
            id="org.carrot2.workbench.core.ui.actions.ReprocessCommand"
            name="Restart Processing">
      </command>
      <command
            description="Automatically restarts processing after attributes change"
            id="org.carrot2.workbench.core.ui.actions.AutoUpdateCommand"
            name="Restart Processing Automatically">
      </command>
      <command
            description="Display the welcome view"
            id="org.carrot2.workbench.core.handlers.DisplayWelcomeView"
            name="Welcome">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Actions on the active Search Editor(s)"
            id="org.carrot2.workbench.core.SearchEditorActionSet"
            label="Search Editor Actions"
            visible="true">
         <action
               class="org.carrot2.workbench.core.ui.actions.ReprocessFlushCachesActionDelegate"
               definitionId="org.carrot2.workbench.core.ui.actions.ReprocessFlushCachesCommand"
               disabledIcon="icons/reprocessnocache_d.png"
               icon="icons/reprocessnocache_e.png"
               id="org.carrot2.workbench.core.ui.actions.ReprocessFlushCachesAction"
               label="&amp;Restart Processing (bypass cached input)"
               menubarPath="org.carrot2.workbench.menus.searchMenu/processing"
               toolbarPath="Search"
               tooltip="Restart processing, bypass input data cache">
         </action>
         <action
               class="org.carrot2.workbench.core.ui.actions.ReprocessActionDelegate"
               definitionId="org.carrot2.workbench.core.ui.actions.ReprocessCommand"
               disabledIcon="icons/reprocess_d.png"
               icon="icons/reprocess_e.png"
               id="org.carrot2.workbench.core.ui.actions.ReprocessAction"
               label="&amp;Restart Processing"
               menubarPath="org.carrot2.workbench.menus.searchMenu/processing"
               toolbarPath="Search"
               tooltip="Restart processing of editor input">
         </action>
         <action
               class="org.carrot2.workbench.core.ui.actions.AutoUpdateActionDelegate"
               definitionId="org.carrot2.workbench.core.ui.actions.AutoUpdateCommand"
               disabledIcon="icons/autoupdate_d.png"
               icon="icons/autoupdate_e.png"
               id="org.carrot2.workbench.core.ui.actions.AutoUpdateAction2"
               label="&amp;Restart Processing Automatically"
               menubarPath="org.carrot2.workbench.menus.searchMenu/processing"
               style="toggle"
               toolbarPath="Search"
               tooltip="Automatically restarts processing after attributes change">
         </action>
         <menu
               id="org.carrot2.workbench.menus.searchMenu"
               label="&amp;Search"
               path="additions">
            <groupMarker
                  name="processing">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </actionSet>
   </extension>

	<extension point="org.eclipse.ui.activities">
		<activity
			name="Carrot2 Activity"
			description="Document Search and Clustering Activity"
			id="org.carrot2.activities.search">
		</activity>

		<category id="org.carrot2.categories.search" name="Search and Cluster"
			description="Document Search and Clustering">
		</category>

		<categoryActivityBinding
			activityId="org.carrot2.activities.search"
			categoryId="org.carrot2.categories.search">
		</categoryActivityBinding>

		<activityPatternBinding
			activityId="org.carrot2.activities.search"
			pattern="org\.carrot2\..*">
		</activityPatternBinding>

		<defaultEnablement id="org.carrot2.activities.search">
		</defaultEnablement>
		
		<activity
			name="Generic Eclipse Activity"
			description="Generic Eclipse Views and contributions"
			id="org.carrot2.activities.eclipse">
		</activity>

		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern=".+BuildOrder">
		</activityPatternBinding>

		<!-- cluttering toolbar contributions -->
		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.actionSet\..+">
		</activityPatternBinding>

		<!-- cluttering view contributions -->
		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern=".+/org\.eclipse\.ui\.views\.(ContentOutline|ProblemView|ResourceNavigator|TaskList|BookmarkView|PropertySheet)">
		</activityPatternBinding>

		<!-- cluttering preference pages -->
		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern=".+/org\.eclipse\.ui\.preferencePages\.(Decorators|ContentTypes|BuildOrder|LinkedResources|Editors|FileEditors|Workspace|FileStates)">
		</activityPatternBinding>

		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern=".+/org\.eclipse\.update\.internal\.ui\.preferences\.MainPreferencePage">
		</activityPatternBinding>
		
		<activityPatternBinding
			activityId="org.carrot2.activities.eclipse"
			pattern=".+/org\.eclipse\.pde\.runtime\.RegistryBrowse">
		</activityPatternBinding>
	</extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.carrot2.workbench.core.ui.actions.DisplayWelcomeView"
          commandId="org.carrot2.workbench.core.handlers.DisplayWelcomeView">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.carrot2.menus.about?after=additions">
       <command
             commandId="org.carrot2.workbench.core.handlers.DisplayWelcomeView"
             icon="icons/welcome16.png"
             label="Welcome"
             style="push">
       </command>
    </menuContribution>
 </extension>
</plugin>
