<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="attributeEditor" name="Attribute Editor" schema="schema/attributeEditor.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.carrot2.workbench.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.carrot2.workbench.core.Perspective"
            id="org.carrot2.workbench.core.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.carrot2.workbench.core.application"
            name="Carrot2 Workbench">
         <property
               name="appName"
               value="Carrot2 Workbench">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.carrot2.workbench.core.ui.SearchView"
            id="org.carrot2.workbench.core.search"
            name="Search">
      </view>
      <view
            allowMultiple="false"
            class="org.carrot2.workbench.core.ui.views.DocumentListView"
            id="org.carrot2.workbench.core.documents"
            name="Documents">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.carrot2.workbench.core.ui.ResultsEditor"
            icon="icons/results.png"
            id="org.carrot2.workbench.core.editors.results"
            name="Results Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.carrot2.workbench.core.ui.SearchParametersFactory"
            id="org.carrot2.workbench.core.searchParametersFactory">
      </factory>
   </extension>

</plugin>
