<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="attributeEditor" name="Attribute Editor" schema="schema/attributeEditor.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.carrot2.workbench.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.carrot2.workbench.core.Perspective"
            icon="icons/results.png"
            id="org.carrot2.workbench.core.perspective"
            name="Search">
      </perspective>
      <perspective
            class="org.carrot2.workbench.core.TuningPerspective"
            icon="icons/attributes.gif"
            id="org.carrot2.workbench.core.tuning"
            name="Tuning">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.carrot2.workbench.core.application"
            name="Carrot2 Workbench">
         <property
               name="appName"
               value="Carrot2 Workbench">
         </property>
         <property
               name="windowImages"
               value="icons/carrot2-16x16.gif,icons/carrot2-32x32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.carrot2.workbench.core.carrot2Category"
            class="org.carrot2.workbench.core.ui.views.SearchView"
            id="org.carrot2.workbench.core.search"
            name="Search">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.carrot2Category"
            class="org.carrot2.workbench.core.ui.views.DocumentListView"
            icon="icons/documents.gif"
            id="org.carrot2.workbench.core.documents"
            name="Documents">
      </view>
      <view
            allowMultiple="false"
            category="org.carrot2.workbench.core.carrot2Category"
            class="org.carrot2.workbench.core.ui.views.ClusterTreeView"
            icon="icons/clusters.gif"
            id="org.carrot2.workbench.core.clusters"
            name="Clusters">
      </view>
      <category
            id="org.carrot2.workbench.core.carrot2Category"
            name="Carrot2">
      </category>
      <view
            category="org.carrot2.workbench.core.carrot2Category"
            class="org.carrot2.workbench.core.ui.views.AttributesView"
            icon="icons/attributes.gif"
            id="org.carrot2.workbench.core.attributes"
            name="Attributes">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.carrot2.workbench.core.ui.ResultsEditor"
            icon="icons/results.png"
            id="org.carrot2.workbench.core.editors.results"
            name="Results Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.carrot2.workbench.core.ui.SearchParametersFactory"
            id="org.carrot2.workbench.core.searchParametersFactory">
      </factory>
   </extension>

</plugin>
