<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="algorithm1"
         point="org.carrot2.core.algorithm">
      <algorithm
            class="org.carrot2.workbench.editors.EditorsTest$TestComponent"
            icon="icons/yahoo.png"
            label="testComponent">
      </algorithm>
   </extension>
   <extension
         point="org.carrot2.workbench.editors.attributeEditor">
      <dedicatedEditor
            algorithmId="org.carrot2.workbench.core.test.algorithm1"
            attributeId="specificAttribute"
            class="org.carrot2.workbench.editors.EditorsTest.DedicatedEditor">
      </dedicatedEditor>
      <typeEditor
            attributeClass="java.lang.Integer"
            class="org.carrot2.workbench.editors.EditorsTest.RangeEditor">
         <constraints
               allAtOnce="false">
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.IntRange">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="java.lang.Integer"
            class="org.carrot2.workbench.editors.EditorsTest.IntEditor">
      </typeEditor>
   </extension>

</plugin>
