<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="algorithm1"
         point="org.carrot2.core.algorithm">
      <algorithm
            class="org.carrot2.workbench.editors.EditorsTest$TestComponent"
            icon="icons/yahoo.png"
            label="testComponent">
      </algorithm>
   </extension>
   <extension
         id="testEditors"
         point="org.carrot2.workbench.core.attributeEditor">
      <dedicatedEditor
            attributeId="specificAttribute"
            class="org.carrot2.workbench.editors.EditorsTest$DedicatedEditor"
            componentClass="org.carrot2.workbench.editors.EditorsTest$TestComponent">
      </dedicatedEditor>
      <typeEditor
            attributeClass="org.carrot2.workbench.editors.EditorsTest$TestType"
            class="org.carrot2.workbench.editors.EditorsTest$RangeEditor">
         <constraints
               allAtOnce="false">
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.IntRange">
            </constraint>
         </constraints>
      </typeEditor>
      <typeEditor
            attributeClass="org.carrot2.workbench.editors.EditorsTest$TestType"
            class="org.carrot2.workbench.editors.EditorsTest$IntEditor">
      </typeEditor>
      <typeEditor
            attributeClass="org.carrot2.workbench.editors.EditorsTest$TestType"
            class="org.carrot2.workbench.editors.EditorsTest$RangeEditor2">
         <constraints
               allAtOnce="true">
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.DoubleRange">
            </constraint>
            <constraint
                  constraintClass="org.carrot2.util.attribute.constraint.ImplementingClasses">
            </constraint>
         </constraints>
      </typeEditor>
      <dedicatedEditor
            attributeId="attId2"
            class="org.carrot2.workbench.editors.EditorsTest$DedicatedEditor3">
      </dedicatedEditor>
      <dedicatedEditor
            class="org.carrot2.workbench.editors.EditorsTest$DedicatedEditor4"
            componentClass="org.carrot2.source.yahoo.YahooDocumentSource">
      </dedicatedEditor>
   </extension>

</plugin>
