import org.carrot2.core.*;
import org.carrot2.core.controller.*;
import org.carrot2.input.xml.google.*;

factory = new LocalComponentFactory() {
    public LocalComponent getInstance() {
	/*
	 * YOUR APPLIANCE SERVICE URL GOES HERE!
	 */
	final String serviceURL = "http://127.0.0.1/search?q=${query}&entqr=0&output=xml_no_dtd&sort=date%3AD%3AL%3Ad1&lr=&client=my_collection&num=${requested-results}&ud=1&oe=UTF-8&ie=UTF-8&site=my_collection&access=p";
    	return new GoogleApplianceInputComponent(serviceURL);
    }
};

LoadedComponentFactory loaded = 
	new LoadedComponentFactory("input-gappliance", factory);

loaded.setProperties(new String [][] {
	{"tab.name", "Google Appliance"},
	{"tab.accel", "a"},
	{"tab.description", "Search in Google Appliance"},
	{"tab.description.startup", "Search in your custom Google Appliance engine and cluster the results with Carrot2"},
	{"tab.exampleQueries", "astronaut|mars|patent"},
	{"tab.icon", "google.gif"},
	{"tab.default", "false"}
});

return loaded;