@import "~@carrotsearch/theme/theme.css";

body {
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border: 1px solid var(--hr-color);
  border-top: none;
  margin: 1em 0;
}

kbd {
  color: var(--text-color);
  display: inline-block;
  border: 1px solid var(--kbd-outer-border-color);
  border-radius: 4px;
  padding: 0 0.35em;
  margin: 0 0.2em;
  box-shadow: 0 0.093em 0 var(--kbd-outer-border-color),
    0 0 0 0.093em var(--kbd-inner-border-color) inset;
  background-color: var(--kbd-background-color);
}

code {
  background-color: var(--text-highlight-background-color);
  border: 1px solid var(--text-highlight-border-color);
  border-radius: 0.125em;
  margin: 0 0.25em;
  padding: 0 0.25em;
}

::-webkit-scrollbar {
  width: 0.85em;
  height: 0.85em;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 0.425em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

.bp3-dark ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
}

.bp3-dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.07);
}

.bp3-dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.12);
}

/** BlueprintJS tweaks */
.bp3-popover-content {
  padding: 1em;
}

button.bp3-disabled {
  cursor: pointer !important;
}
