<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="google"
         point="org.carrot2.core.source">
      <source
            class="org.carrot2.source.google.GoogleDocumentSource"
            icon="icons/google.png"
            label="Google Search Engine">
      </source>
   </extension>

</plugin>
